{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1> Catalogue </h1>
</div>

<div class = "row" >
<p>
    <a href="{{ url_for('.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
</p>
</div>


<div class="row" >
{% if catalogues %}
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> ID </th>
                <th > Catalogue </th>
                <th > Valide </th>
                <th >  </th>
            </tr>
        </thead>
        {% for item in catalogues %}
        <tr>
            <td> {{item.id }} </td>
            <td> <a href="{{ url_for('.details', id = item.id) }}" /> {{ item.name }}</a></td>
            <td> {{ item.valid }} </td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button id='btndelete' class="btn btn-primary" data-href="{{ url_for('.delete', id= item.id) }}" data-toggle="modal" data-target="#confirm-delete" data-id="{{item.name}}"  title="Supprimer {{ item.title}}" >
                        <i class="fa fa-trash" > </i>
                    </button>

                        <a href="{{ url_for('.edit', id = item.id) }}"
                           class="btn btn-primary" role="button" title="Modifier {{ item.name}}">
                            <i class="fa fa-edit" > </i>
                        </a>


                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="pcatalogue"> Supprimer la fiche film TOTO </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    var pnew = jQuery('<p/>', {
        id:'pcatalogue',
        text: 'Supprimer ' + $('#btndelete').data('id') +'?' ,
        });

    var old = $(".modal-body #pcatalogue");
    old.replaceWith(pnew);
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'desc']]
    });
} );
</script>

{% endblock %}
