{% from "_common_macros.html" import item_valid %}
{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
        <h1>{{catalogue.name}}</h1>
</div>

<div class = "row" >
    <div class ="container-fluid">
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= catalogue.id) }}"  > Modifier </a>

        <button class="btn btn-primary" data-href="{{ url_for('.delete', id= catalogue.id) }}" data-toggle="modal" data-target="#confirm-delete">
                Supprimer
        </button>
    </div>
</p>
</div>
</div>

<div class = "row" >
    <div class ="container-fluid">
        <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td> Catalogue </td>
                <td> {{catalogue.name}} </td>
            </tr>
            <tr>
                <td> Distributuer Valid ? </td>
                <td>
                    {{catalogue.valid }}
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class ="container-fluid">
        <p> <h2> Contenu du catalogue </h2> </p>
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
            <thead>
                <tr>
                <th> ID </th>
                <th> Titre </th>
                <th> Directeur </th>
                <th> DCP disponible(s) </th>
                </tr>
            </thead>
            {% for item in catalogue.shorts %}
            <tr>
                <td> {{ item_valid( item.valid, item.shortid) }} </td>
                <td> <a href="{{ url_for('admin_shorts.details', id = item.shortid) }}" />
                       {{ item_valid( item.valid, item.title) }}
                    </a></td>
                <td>
                   {{ item_valid( item.valid, item.director) }}
                </td>
                <td>
                    {% if item.nb_dcps > 0 %}
                    <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                    {% endif %}
                    {{ item.nb_dcps}}
                </td>
 
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Supprimer la fiche du distributeur {{catalogue.name}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Supprimer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'desc']]
    });
} );
</script>
{% endblock %}
