{% macro contact_modal_html( ) %}
<div class="modal fade" id="ContactModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formContact' class="form form-horizontal" method="post" role="form" action='do_contact'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Contacter: </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="movierequestid" name="movierequestid" value="None">
                    <input type="hidden" id="exhibitorid" name="exhibitorid" value="None">
                    <input type="hidden" id="movieid" name="movieid" value="None">
                    <input type="hidden" id="distributorid" name="distributorid" value="None">

                    <div class="form-group  required"><label
                            class="control-label" for="from">De:</label>
                        <input class="form-control from" name="from"
                        required type="text" value="TEST DIST" readonly >
                        </input>

                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A: </label>
                        <input class="form-control to"  name="to"
                        required type="text" value="TEST DISTRIBUTEUR" readonly>
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour le titre: </label>
                        <input class="form-control movie" name="movie"
                        required type="text" value="MON FILM" readonly>
                    </div>
                    <div>
                            Merci de préciser l'information que vous souhaitez
                            communiquer.
                    </div>
                    <div class="form-group  required"><label
                            class="control-label" for="message">
                            Commentaire:</label>
                        <textarea class="form-control"  rows="5" id="message" name="message" placeholder="Saisir le mesage à envoyer" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">Annuler</button>

                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro deny_modal_html( ) %}
<div class="modal fade" id="DenyModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formDeny' class="form form-horizontal" method="post" role="form" action='do_contact'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Refus de demande</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="movierequestid" name="movierequestid" value="None">
                    <input type="hidden" id="exhibitorid" name="exhibitorid" value="None">
                    <input type="hidden" id="movieid" name="movieid" value="None">
                    <input type="hidden" id="distributorid" name="distributorid" value="None">

                    <div class="form-group  required">
                        <label class="control-label" for="from">De:</label>
                        <input class="form-control from" name="from"
                                                         required type="text" value="TEST DISTRIBUTEUR" readonly >
                        </input>

                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A:</label>
                        <input class="form-control to"  name="to"
                                                        required type="text" value="TEST Exploitant" readonly>
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour le titre: </label>
                        <input class="form-control movie" name="movie"
                                                          required type="text" value="MON FILM" readonly>
                    </div>

                    <div>
                        L’exploitant sera informé de votre décision par mail.
                        Dans la mesure du possible, merci de préciser la raison de ce refus.
                        Vous pouvez également ajouter un commentaire.
                        </diV>

                    <div class="form-group  required">
                        <label class="control-label" for="deny_causeId">
                            Motif du refus
                        </label>
                        <select id="deny_causeId"  name="deny_causeId" class="form-control">
                            <option value="0" selected="selected"> Non précisé </option>
                            <option value="1"> Livraison du DCP par voie postale </option>
                            <option value="2"> Téléchargement du DCP via un autre prestataire </option>
                            <option value="3"> Nouvelle version du DCP à venir </option>
                            <option value="4"> Film non programmé dans votre salle </option>
                            <option value="5"> Autre </option>
                        </select>
                    </div>


                    <div class="form-group"><label class="control-label" for="message">
                           Commentaire
                        </label>
                        <textarea class="form-control" rows="5" id="message" name="message" placeholder="Saisir le mesage à envoyer">
                        </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default "data-dismiss="modal">
                        Annuler
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro distribute_movie_modal_html( ) %}
<div class="modal fade" id="DistributeModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2> Confirmation de distribution de <span  id="Ditributemodal_movie"></span>
                </h2>
            </div>

            <div class="modal-body">
                <div class = "row" >
                    <div class="col">
                        <div class = "panel panel-default">
                            <!-- Default panel contents -->
                    <div class="panel-heading">DCP(s) qui seront distibués: </div>
                    <div class="panel-body">
                        <ul class="list-group" id="Ditributemodal_dcps">
                            <li class="list-group-item">
                            </li>
                        </ul>
                    </div>
                        </div>
                    </div>
                </div>

                <div class = "row" >
                    <div class="col">
                        <p> Le(s) DCP(s) sera(ront) distribué(s) à la salle suivante: </p>
                        </p>
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr> <th> Salle </th>
                                </tr>
                            </thead>
                            <tr>
                                <td id="Ditributemodal_exhibitor"> </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <form id="formDistribute">
                <input type="hidden" id="movierequestid" name="movierequestid" value="None">
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Valider la distribution">
                <button type="button" class="btn btn-default"
                    data-dismiss="modal">
                    Annuler
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endmacro %}
