{% from "distributor/movie_requests/_modals.html" import contact_modal_html %}
{% from "distributor/movie_requests/_modals.html" import distribute_movie_modal_html %}
{% from "distributor/movie_requests/_modals.html" import deny_modal_html %}

{% macro table_html( ) %}
<div class="row">
    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
        <thead>
            <tr>
                <th> Date demande</th>
                <th> Exploitant</th>
                <th> Date programmé </th>
                <th> Film </th>
                <th> Statut </th>
                <th> Date autorisation / refus </th>
                <th> Actions  </th>
            </tr>
        </thead>
    </table>
</div>


{{ contact_modal_html() }}
{{ distribute_movie_modal_html() }}
{{ deny_modal_html() }}
{% endmacro %}


{% macro table_js(query_type='all' ) %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table = $('#DefaultTable').DataTable({
        "order" : [[0, 'desc']],
        "ajax": {
            "url": "{{ url_for('.movie_request_data', query_type=query_type) }}",
        },
        "columns": [
       {
            "data": "demand_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type) +
                        ' (' + moment(data).fromNow() + ')',
                }).appendTo($todisplay);

                if (data != row.first_demand_date) {
                    $("<br>").appendTo($todisplay);
                    $("<span>",{
                        'text': '1ere demande le ' +
                        render_date(row.demand_date,type) +
                        ' (' + moment(row.demand_date).fromNow() + ')',
                    }).appendTo($todisplay);
                    }
                return $todisplay.html();
            },
        },
        {
            "data": "exhibitor",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('distributor.show_exhibitor', exhibitorid = -1) }}"
                href = href.replace("/-1", "/"+row.exhibitorid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
            },
        },
       {
            "data": "programed_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "movie",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('distributor_movies.details', id = -1) }}"
                href = href.replace("/-1", "/"+row.movieid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
           }
        },
       {
            "data": "status",
            "class": "status",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'class': 'status ' + statusStr[row.statusId].class,
                    'text': statusStr[row.statusId].str,
                }).appendTo($todisplay);
                if ( row.status == 'DENIED' ) {
                    var $div = $("<div>");
                     $('<span>',{
                        'text':  'motif:'
                    }).appendTo($div);
                    $('<br>').appendTo($div);

                    $('<span>',{
                        'text': DenyCauseStr[row.deny_causeId].str,
                    }).appendTo($div);
                    if (row.deny_other_cause) {
                        $('<br>').appendTo($div);
                        $('<span>',{
                            'text': row.deny_other_cause,
                        }).appendTo($div);
                    }

                    $div.appendTo($todisplay);
                }

                return $todisplay.html();

            },
        },
        { "data": "null",

            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>');
                switch( row.status) {
                    case 'ALLOWED':
                        cel_text.text(render_date(row.allow_date, type));
                        break;
                    case 'DENIED':
                        cel_text.text(render_date(row.deny_date, type));
                        break;
                    default:
                        break;
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            }
        },
        {
            "data": null ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                return DisplayButtongroup($todisplay, row.status, 'distributor').html();

            },
        },
        ],
    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-allow',  function(event){

        var row = table.row( $(this).parents('tr') )
        var data = row.data();

        var csrftoken = $('meta[name=csrf-token]').attr('content');
        var span_msg = $(this).parents('tr').find('span.status_msg');

        console.log('Action autoriser ');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_get_movie_data',
            type: 'POST',
            data: JSON.stringify({'id': data.id}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {

            $('#DistributeModal').modal()
            $('#DistributeModal #movierequestid').attr('value', data.id);
            $('#DistributeModal #Ditributemodal_movie').text(data.movie);
            var ul = $('#DistributeModal #Ditributemodal_dcps')
            ul.empty()
            for ( var i= 0 ; i <post_data.dcps.length; i++) {
                           var dcp = post_data.dcps[i];
                           console.log(dcp.name);
                           var li = $('<li>', {
                               class: 'list-group-item',
                           }).appendTo(ul);

                           $('<span>',{
                               'text': dcp.name,
                           }).appendTo(li);
                           render_contentkind_label(dcp.contentkind, false).prependTo(li)
                }

            $('#DistributeModal #Ditributemodal_exhibitor').text(data.exhibitor);
            // table.ajax.reload();
        });

        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });

    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-deny',  function(event){


        var data = table.row( $(this).parents('tr') ).data();

        var csrftoken = $('meta[name=csrf-token]').attr('content');
        var span_msg = $(this).parents('tr').find('span.status_msg');

        console.log('Action deny');

        $('#DenyModal #movierequestid').attr('value', data.id);
        $('#DenyModal #exhibitorid').attr('value', data.exhibitorid);
        $('#DenyModal #movieid').attr('value', data.movieid);
        $('#DenyModal #distributorid').attr('value', data.distributorid);
        $('#DenyModal input.from').attr('value', data.distributor);
        $('#DenyModal input.to').attr('value', data.exhibitor);
        $('#DenyModal input.movie').attr('value', data.movie);
        $('#DenyModal').modal()
        //TODO: Modal with mail dialog
    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-contact',  function(event){


        var data = table.row( $(this).parents('tr') ).data();


        console.log('Action contact');

        $('#ContactModal #movierequestid').attr('value', data.id);
        $('#ContactModal #exhibitorid').attr('value', data.exhibitorid);
        $('#ContactModal #movieid').attr('value', data.movieid);
        $('#ContactModal #distributorid').attr('value', data.distributorid);
        $('#ContactModal input.from').attr('value', data.distributor);
        $('#ContactModal input.to').attr('value', data.exhibitor);
        $('#ContactModal input.movie').attr('value', data.movie);
        $('#ContactModal').modal()
        //TODO: Modal with mail dialog
    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-consult',  function(event){

        var data = table.row( $(this).parents('tr') ).data();
        location.href = 'details/'+data.id;

    });


    $("#formDeny").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_deny',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });
        posting.done( function(post_data) {
            table.ajax.reload();
        });
        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });


        $('#DenyModal').modal('hide')

    });

    $("#formDistribute").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_allow',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });
        posting.done( function(post_data) {
            table.ajax.reload();
        });
        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });


        $('#DistributeModal').modal('hide')

    });


    $("#formContact").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_contact',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {
            table.ajax.reload();
        });
        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });

        $('#ContactModal').modal('hide')

    });

});

</script>


{% endmacro %}
