{% from "distributor/movie_requests/_modals.html" import contact_modal_html, deny_modal_html %}
{% from "distributor/movie_requests/_modals.html" import distribute_movie_modal_html %}

{% extends "baseV2.html" %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}

{% block page_content %}
{% set movie_request = data %}

<div class ="container-fluid">
    <div class="page-header">
        <h1> Détails de la demande </h1>
    </div>
</div>

<div class ="container-fluid">
    <div class ="row">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.home') }}">
            Retour à mes demandes
        </a>
    </div>

    <div class ="row">
        <div class="col-md-6" >
            <table id="detailsTable" class="table table-striped table-bordered table-condensed">
                <tr>
                    <td> Film </td>
                    <td>
                        <a id="movieid" href="{{ url_for('distributor_movies.details', id = -1) }}" />

                        <span id="movie" > test </span>
                        </a>
                        distribué par

                        <span id="distributor" >  </span>

                    </td>
                </tr>
                <tr>
                    <td> Demandé par  </td>
                    <td>
                        <a id="exhibitorid" href="{{ url_for('distributor.show_exhibitor', exhibitorid = -1) }}" />

                        <span id="exhibitor" >  </span>
                        </a>


                    </td>
                </tr>
                <tr>
                    <td> Date de programation </td>
                    <td>
                        <div id="programed_date"> </div>
                    </td>
                </tr>


                <tr>
                    <td> Statut de la demande </td>
                    <td>
                        <span id="status" >  </span>
                    </td>
                </tr>
                <tr>
                    <td> Actions </td>
                    <td>
                        <div id="actions"> </div>
                    </td>
                </tr>

                <tr>
                    <td> Première demande </td>
                    <td>
                        <span id="first_demand_date" > </span>
                    </td>
                </tr>
                <tr>
                    <td> Dernière demande </td>
                    <td>
                        <span id="demand_date" >  </span>
                    </td>
                </tr>
                <tr>
                    <td> Annulation </td>
                    <td>
                        <span id="cancel_date" >  </span>
                    </td>
                </tr>
                <tr>
                    <td> Autorisation </td>
                    <td>
                        <span id="allow_date" >  </span>
                    </td>
                </tr>
                <tr>
                    <td> Refus </td>
                    <td>
                        <span id="deny_date" >  </span>
                    </td>
                </tr>




            </table>
        </div>
    </div>

    <div class ="row">
        <div class="col-md-8" >
            <h3> Messages </h3>


            <table class="table table-striped table-bordered table-condensed">

                {% for message in movie_request['messages'] %}
                <tr>
                    <table class="table table-striped  table-condensed">
                        <tr>
                            <td> {{ message.timestamp | siso8601todatetime |
                                mydatetime }} </td>
                            <td> De: {{ message.msg_from }} </td>
                            <td> Objet: {{ message.subject }} </td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td> A: {{ message.msg_to }} </td>
                            <td>
                                <div>
                           {% autoescape false %}
                            {{ message.body | trim |  replace("\n","<br/>") }}  
                            {% endautoescape %}
                                </div>
                         </td>
                        </tr>
                   </table>
                </tr>
                 {% endfor %}
            </table>
        </div>
    </div>


</div>
{{ deny_modal_html() }}
{{ contact_modal_html() }}
{{ distribute_movie_modal_html() }}

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">

var globalData;


function DoPopulate(data) {
    update_locales();
    $("#detailsTable #movie").text(data.movie);
    var href = $("#detailsTable #movieid").attr('href');
    $("#detailsTable #movieid").attr('href', href.replace("/-1", "/"+data.movieid));
    $("#detailsTable #distributor").text(data.distributor);

    $("#detailsTable #exhibitor").text(data.exhibitor);
    var href = $("#detailsTable #exhibitorid").attr('href');
    $("#detailsTable #exhibitorid").attr('href', href.replace("/-1", "/"+data.exhibitorid));



    DisplayButtongroup($("#detailsTable #actions"), data.status, 'distributor');
    $("#detailsTable #status").addClass('status ' + statusStr[data.statusId].class);
    $("#detailsTable #status").text(statusStr[data.statusId].str);

    $("#detailsTable #demand_date").text(moment(data.demand_date).format('LLL'));

    $("#detailsTable #first_demand_date").text(moment(data.first_demand_date).format('LLL'));
    if (data.demand_date == data.first_demand_date) {
        $("#detailsTable #demand_date").closest('tr').hide();
    }


    if ( data.cancel_date) {
        $("#detailsTable #cancel_date").text(moment(data.cancel_date).format('LLL'));
    }
    else {
        $("#detailsTable #cancel_date").closest('tr').hide();
    }

    if ( data.allow_date  && data.status == 'ALLOWED') {
        $("#detailsTable #allow_date").text(moment(data.allow_date).format('LLL'));
    }
    else {
        $("#detailsTable #allow_date").closest('tr').hide();
    }

    if ( data.deny_date && data.status == 'DENIED' ) {
        $("#detailsTable #deny_date").text(moment(data.deny_date).format('LLL'));
    }
    else {
        $("#detailsTable #deny_date").closest('tr').hide();
    }

    if ( data.programed_date) {
        $("#detailsTable #programed_date").text(
                moment(data.programed_date).format('LL'));
    }
    else {
        $("#detailsTable #programed_date").closest('tr').hide();
    }


    $('button.action-allow').click(function(event){

        var data=globalData;

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        console.log('Action autoriser ');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: '../do_get_movie_data',
            type: 'POST',
            data: JSON.stringify({'id': data.id}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {

            $('#DistributeModal').modal()
            $('#DistributeModal #movierequestid').attr('value', data.id);
            $('#DistributeModal #Ditributemodal_movie').text(data.movie);
            var ul = $('#DistributeModal #Ditributemodal_dcps')
            ul.empty()
            for ( var i= 0 ; i <post_data.dcps.length; i++) {
                           var dcp = post_data.dcps[i];
                           console.log(dcp.name);
                           var li = $('<li>', {
                               class: 'list-group-item',
                           }).appendTo(ul);

                           $('<span>',{
                               'text': dcp.name,
                           }).appendTo(li);
                           render_contentkind_label(dcp.contentkind, false).prependTo(li)
                }

            $('#DistributeModal #Ditributemodal_exhibitor').text(data.exhibitor);
        });

        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });

    });

    $("#formDistribute").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: '../do_allow',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });
        posting.done( function(post_data) {
            location.reload();
        });
        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });


        $('#DistributeModal').modal('hide')

    });


    $('button.action-deny').click(function(event){

        var data=globalData;

        console.log('Action deny');

        $('#DenyModal #movierequestid').attr('value', data.id);
        $('#DenyModal #exhibitorid').attr('value', data.exhibitorid);
        $('#DenyModal #movieid').attr('value', data.movieid);
        $('#DenyModal #distributorid').attr('value', data.distributorid);
        $('#DenyModal input.from').attr('value', data.distributor);
        $('#DenyModal input.to').attr('value', data.exhibitor);
        $('#DenyModal input.movie').attr('value', data.movie);
        $('#DenyModal').modal()
        //TODO: Modal with mail dialog

    });

    $("#formDeny").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: '../do_deny',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });
        posting.done( function(post_data) {
            location.reload();
        });
        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });


        $('#DenyModal').modal('hide')

    });

    $('button.action-contact').click(function(event){

        var data=globalData;

        console.log('Action contact');

        $('#ContactModal #movierequestid').attr('value', data.id);
        $('#ContactModal #exhibitorid').attr('value', data.exhibitorid);
        $('#ContactModal #movieid').attr('value', data.movieid);
        $('#ContactModal #distributorid').attr('value', data.distributorid);
        $('#ContactModal input.from').attr('value', data.distributor);
        $('#ContactModal input.to').attr('value', data.exhibitor);
        $('#ContactModal input.movie').attr('value', data.movie);
        $('#ContactModal').modal()

    });



    $("#formContact").submit(function(e) {
        e.preventDefault()
        console.log("submit button clicked!");
        console.log( $(this).serialize() );

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: '../do_contact',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function(msg) {
                location.reload();
            },
            error: function(msg) {
                console.log('fail');
            },
        });

        $('#ContactModal').modal('hide')

    });



}

$(document).ready(function() {
    update_locales();
    var jqxhr = $.ajax({
        type: 'GET',
        url: '../detailsdata/{{ requestid }}',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true
    })
    .done(function( data ) {
        globalData = data.data;
        DoPopulate(globalData);
    })
    .fail(function() {
        alert( "error" );
    });


});

</script>

{% endblock %}
