{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="page-header">
    <h1> Ajout d un nouvel Explpoitant </h1>
    <p> Les informations plus détaillées sur un
    exploitant seront à rajouter par la suite </p>
</div>
<div class="row" >
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div >
{% endblock %}
