{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="page-header">
    <h1> Regénerer un  mot de passe  </h1>
    <p> Renvoi un mail à l'utilisateur pour regenerer son mot de passse </p>
    <p> Valable que pour les distributeurs </p>
</div>
<div class="row" >
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div >
{% endblock %}
