{% from "_common_macros.html" import item_valid %}
{% from "_exhibitor_macros.html" import download_short_buttons %}
{% extends "base.html" %}


{% block page_content %}
<div class="page-header">
<h1> Catalogue de L'Extra court </h1>

</div>


<div class="container-fluid">
<div class="row" >
    <div>

        <p> Les courts métrages du Radi / Extra court sont chiffrés, merci de ne les télécharger que si vous les diffusez prochainement.
        </p>
    <p> Pour plus d’information sur le Radi, <a href="http://www.agencecm.com/pages/radi.php">  cliquez ici  </a>. </p>

    <p> Pour vos demandes de KDM, merci des les adresser directement à l’Agence du court métrage. </p>
    </div>

{% if shorts %}
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> Titre </th>
                <th> Réalisateur </th>
                <th > Catalogue </th>
                <th >  </th>
            </tr>
        </thead>
        {% for item in shorts %}
        <tr>
            <td> <a href="{{ url_for('.details', id = item.shortid) }}" />
                  {{ item_valid(item.valid,item.title) }}
                    </a></td>

                <td> {{item.director}} </td>
            <td>
                {% for cata in item.catalogues %}
                <span>
                    {% if item.extra.website_url %}
                    <a href="{{ item.extra.website_url}}" >
                     {{item_valid(item.valid, cata.name) }}
                  </a>
                    {% else %}
                     {{item_valid(item.valid, cata.name) }}
                    {% endif %}
                </span>
                {% endfor %}
             </td>
            <td>
                {% if item.dcps %}
                <table id="dcp"  width="100%" class="table-striped  table-condensed">
                    {% for _dcp in item.get_dcps() %}
                    <tr>
                        <td  > <small> <p class="dcpname"> {{_dcp.name}} </p>  </small> </td>

                        <td class="dt-right" > {{ download_short_buttons( _dcp.dcpid) }} </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}


            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>

<div class="container-fluid">

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="pshort"> Supprimer la fiche film TOTO </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    var pnew = jQuery('<p/>', {
        id:'pshort',
        text: 'Supprimer ' + $('#btndelete').data('id') +'?' ,
        });

    var old = $(".modal-body #pshort");
    old.replaceWith(pnew);
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'asc']]
    });
} );
</script>

{% endblock %}
