{% from "_common_macros.html" import item_valid %}
{% from "_exhibitor_macros.html" import download_short_buttons %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "baseV2.html" %}



{% block page_content %}

<div class ="container-fluid">
    <div class="page-header">
        <span> <small> Court métrage </small> <h2> {{short.title}}</h2> </span>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8" >
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
            <table class="table table-striped table-bordered table-condensed" >
                <tr>
                    <td> Titre </td>
                    <td>
                        {{ item_valid(short.valid, short.title) }}
                    </td>
                </tr>
                <tr>
                    <td> Directeurs </td>
                    <td> {{short.director}} </td>
                </tr>
                <tr>
                    <td>  Extra Court </td>
                    <td> {{short.extra.website_url | urlize(80)}} </td>
                </tr>

                <tr>
                    <td> Tags </td>
                    <td>
                        {% for tag in short.tags %}
                        <span> <a href="{{ url_for('admin_tags.details', id = tag.id) }}" class="btn btn-default" type="button"/> {{ tag.name }} </a> </span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td> Distributeur </td>
                    <td>
                        {% if short.distributor %}
                        <a href="{{ url_for('exhibitor_distributors.details', id = short.distributor.distributorid) }}" >
                            {{ short.distributor.name }}
                        </a>
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <td> Catalogue </td>
                    <td>
                        {% for cata in short.catalogues %}
                        <span>
                            {{ cata.name }}
                        </span>
                        {% endfor %}
                    </td>
                </tr>

            </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class = "col-md-8" >
            <h3> Information sur les DCP </h3>

            {% if dcps %}
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h4 class="panel-title"> DCPs disponibles:  </h4>
                </div>
                <div class="panel panel-body">
                    <table class="table table-striped table-bordered table-condensed"
                           data-click-to-select="true" >
                           <thead>
                               <tr>
                                   <th> Type        </th>
                                   <th> Nom du DCP </th>
                                   <th> taille </th>
                                   <th>  date de création du torrent </th>
                                   <th> Torrent </th>
                               </tr>
                           </thead>

                           {% for _dcp in dcps %}
                           <tr>
                               <td> {{ _dcp.contentkind }}</td>
                               <td>

                                   <a href="{{ url_for('admin_dcps.details', id =_dcp.dcpid) }}" >
                                       {{item_valid(_dcp.valid, _dcp.name) }}
                                   </a>
                               </td>
                               <td>
                                   {% if _dcp.size %}
                                   {{ _dcp.size|filesizeformat }}
                                   {% else %}
                                   Not defined
                                   {% endif %}
                                   <td> {{ _dcp.torrent_creation }}</td>
                                   <td>
                                       {{ download_short_buttons(_dcp.dcpid) }}
                                   </td>
                           </tr>
                           {% endfor %}
                    </table>


                </div>
                {% else %}
                <p> Pas de DCP associé à ce film. </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8">
            <div class="well well-lg">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" role="button"  href="{{ url_for('.home') }}"  >  Revenir au catalogue </a>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$('#NotifyModal').on('show.bs.modal', function(event) {

    var button = $(event.relatedTarget);
    var myurl;
    if (   button.data('dcpid')) {
        myurl = '../notifydistributorDcp/' + button.data('dcpid');
    }

    else if (   button.data('shortid')) {
        myurl = '../notifydistributorShort/' + button.data('shortid');
    }
    else {
        console.log('No valid button found');
        return;
    }
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#NotifyModal');
        $modalwindow.find('#formNotify' ).attr('action',myurl);
        $modalwindow.find('#formNotify #subjectInput').attr('value',data.subject);
        $modalwindow.find('#formNotify #toInput').attr('value',data.to);
        $modalwindow.find('#formNotify #message').text(data.body);
    });
});

</script>
{% endblock %}
