{% macro table_authorisations_html() %}
<div class="row">
    <table id="AuthorisationsTable" class="table table-striped table-bordered table-condensed table-summary">
        <thead>
            <tr>
                <th> Id </th>
                <th> Exploitant</th>
                <th> status</th>
                <th> isauthorised </th>
                <th> Date autorisation </th>
                <th> Début DL </th>
                <th> Fin DL </th>
                <th> Actions  </th>
            </tr>
        </thead>
    </table>
</div>


{% endmacro %}


{% macro table_authorisations_js(dcpid) %}


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table = $('#AuthorisationsTable').DataTable({
        "order" : [[4, 'desc']],
        "ajax": {
            "url": "{{ url_for('.get_authorisations', id=dcpid) }}",
        },
        "columns": [
       {
            "data": 'distributionid',
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_authorisations.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+data);
                link = $('<a>', {
                    'href': href,
                    'text': data
                });

                link.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "exhibitor",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_exhibitors.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.exhibitorid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
            },
        },
        {
            "data": "isauthorised",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'text': data,
                }).appendTo($todisplay);

                return $todisplay.html();

            },
        },
            {
                "data": "status",
                "class": "status",
                "render": function ( data, type, row ) {
                    var $todisplay = $("<div>");
                    $("<div>",{
                        'text': data,
                    }).appendTo($todisplay);

                    return $todisplay.html();

                },
            },

       {
            "data": "autorisation_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)
                    }).appendTo($todisplay);
                return $todisplay.html();
            },
        },
       {
            "data": "started_transfer_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)
                    }).appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "finished_transfer_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)
                    }).appendTo($todisplay);
                return $todisplay.html();
            },
        },
         { "data": "null",

            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>');
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            }
        },
        ],
    });

});

</script>


{% endmacro %}

{% macro table_all_html() %}
<div class="row">
    <table id="AllDcpsTable" class="table table-striped table-bordered table-condensed table-summary">
        <thead>
            <tr>
                <th> Id </th>
                <th> Valide ?</th>
                <th> nom </th>
                <th> type </th>
                <th> Film </th>
                <th> Film ID </th>
                <th> Distributor </th>
                <th> Date de sortie </th>
                <th> creation </th>
                <th> size </th>
                <th> Action </th>
            </tr>
        </thead>
    </table>
</div>


{% endmacro %}


{% macro table_all_js(dcpid) %}


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table = $('#AllDcpsTable').DataTable({
        "order" : [[0, 'desc']],
        "pageLength": 50,
        "lengthMenu": [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "{{ url_for('admin_dcps.dcpsdata_serverside') }}",
        },
        "columns": [
       {
            "data": 'dcpid',
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+data);
                link = $('<a>', {
                    'href': href,
                    'text': data
                });

                link.appendTo($todisplay);
                return $todisplay.html();
            },
        },
       {
            "data": "valid",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'text': data,
                }).appendTo($todisplay);

                return $todisplay.html();

            },
        },

       {
            "data": "name",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.dcpid);
                link = $('<a>', {
                    'href': href,
                    'text': data
                });
                if (row.valid == 'False') {
                     link.addClass('text-muted');
                     link = $('<s>').append(link);
                }

                link.appendTo($todisplay);
                return $todisplay.html();

            },
        },
       {
            "data": "contentkind",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                div = $("<div>",{
                    'text': data,
                });

                if (row.valid == 'False') {
                     div.addClass('text-muted');
                     div = $('<s>').append(div);
                }

                div.appendTo($todisplay);
                return $todisplay.html();

            },
        },
       {
            "data": "title",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_movies.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.movieid);
                link = $('<a>', {
                    'href': href,
                    'text': data
                });
                if (row.valid == 'False') {
                     link.addClass('text-muted');
                     link = $('<s>').append(link);
                }
                link.appendTo($todisplay);
                return $todisplay.html();

            },
        },
       {
            "data": 'movieid',
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'text': data,
                }).appendTo($todisplay);

                return $todisplay.html();
            },
        },
       {
            "data": "distributor",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_distributors.details', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.distributorid);
                link = $('<a>', {
                    'href': href,
                    'text': data
                });
                if (row.valid == 'False') {
                     link.addClass('text-muted');
                     link = $('<s>').append(link);
                }
                link.appendTo($todisplay);
                return $todisplay.html();

            },
        },
 
        {
            "data": "releasedate" ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            },
        },
        {
            "data": "torrent_creation" ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_datetime(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            },
        },

       {
            "data": "size",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'text': data,
                }).appendTo($todisplay);

                return $todisplay.html();

            },
        },
         { "data": "null",

            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var btn_group = $('<div>', {
                    'class': 'btn-group',
                    'role':'group',
                    'aria-label': '...',
                }).appendTo($todisplay);

                var href=   "{{ url_for('.delete', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.dcpid);
                var button =  $('<button>', {
                    'id': 'btndelete',
                    'class':'btn btn-primary',
                    'data-href': href,
                    'data-toggle': 'modal',
                    'data-target':'#confirm-delete',
                    'data-id': row.name,
                    'title': 'Supprimer '+row.name,
                }).appendTo(btn_group);
                $('<i>').addClass('fa fa-trash').appendTo(button);

                var href=   "{{ url_for('.edit', id = -1) }}" ;
                href = href.replace("/-1", "/"+row.dcpid);
                var button =  $('<a>', {
                    'href': href,
                    'class':'btn btn-primary',
                    'role': 'button',
                    'id': 'btnedit',
                    'title': 'Modifier '+row.name,
                }).appendTo(btn_group);
                $('<i>').addClass('fa fa-edit').appendTo(button);


                return $todisplay.html();
            }
        },
        ],
    });

});

</script>


{% endmacro %}
