{% extends "base.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "admin/dcps/_tables.html" import table_authorisations_html, table_authorisations_js %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}

<div class="page-header">
        <h3>DCP: {{data.name}}</h3>
</div>

<div class="container-fluid">
    <div class = "row" >
    <div class="col-sm-6 col-md-6">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= data.dcpid) }}" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Modifier
            </a>


        <button class="btn btn-primary"  data-href="{{ url_for('.delete', id= data.dcpid) }}" data-toggle="modal" data-target="#confirm-delete">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer

        </button>

        <a href="{{ url_for('admin_movies.download',id= data.dcpid) }}"
           class="btn btn-primary" role="button" title="Télécharger le fichier torrent">
            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Télécharger
        </a>

        </div>
    </div>
    </div>
</div>

<div class="container-fluid">
<div class = "row" >
    <div class="col-sm-6 col-md-6">
        <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td> Dcp </td>
                <td>
                    {% if data.valid %}
                    {{data.name}}
                    {% else %}
                    <del>  {{data.name}} </del>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td> Dcp Valid </td>
                <td> {{data.valid}} </td>
            </tr>
            <tr>
                <td> Dcp ID </td>
                <td> {{data.dcpid}} </td>
            </tr>
            <tr>
                <td> content kind </td>
                <td> {{data.contentkind}} </td>
            </tr>


            <tr>
                <td> Film  </td>
                <td>
                    {% if data.movie %}
                    <a href="{{ url_for('admin_movies.details', id = data.movie.movieid) }}" >
                        {{ data.movie.title }}
                    </a>

                    <a href="{{ url_for('admin_distributors.details', id = data.movie.distributor.distributorid) }}" >
                        ({{data.movie.distributor.name}})
                    </a>
                    {% elif data.short %}
                        {{ data.short.title }}
                    {% endif %}
                </td>

            </tr>
            <tr>
                <td> size </td>
                <td> {{ data.size | filesizeformat }} </td>
            </tr>
            <tr>
                <td> torrent creation </td>
                <td> {{data.torrent_creation}} </td>
            </tr>

            <tr>
                <td> torrent hash </td>
                <td> {{data.torrent_hash}} </td>
            </tr>
        </table>
    </div>
</div>
<div class="container-fluid">
    {{ table_authorisations_html() }}
</div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Supprimer le dcp {{data.name}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Supprimer</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
{{ table_authorisations_js(data.dcpid) }}
{% endblock %}
