{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{% endblock %}


{% block page_content %}
<div class="page-header">
        <h3>Edition de {{dcp.name}}</h3>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-4">

            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}

                {{ wtf.form_field(form.name, disabled=True) }}
                {{ wtf.form_field(form.valid) }}

                <div class="form-group">
            <label for="movie" class="control-label">Film</label>
            <input type="text" id="movie"  class="form-control"  name="movie" list="json-datalist" value="{{form.movie.data}}" >
            <datalist id="json-datalist"></datalist>
                </div>


                {{ wtf.form_field(form.contentkind) }}
                {{ wtf.form_field(form.submit) }}
                {{ wtf.form_field(form.cancel) }}
            </form>
        </div>
    </div >
</div >
{% endblock %}



{% block scripts %}
{{ super() }}
<script>
// Get the <datalist> and <input> elements.
var dataList = document.getElementById('json-datalist');
var input = document.getElementById('movie');

$.get( "{{ url_for('.getmovies') }}",
        false,
        function (data) {
            // Loop over the JSON array.
            data.forEach(function(item) {
                // Create a new <option> element.
                var option = document.createElement('option');
                // Set the value using the item in the JSON array.
                option.value =  item.movieid +"::: " + item.title + " (" + item.distributor +  ")" ;
                // Add the <option> element to the <datalist>.
                dataList.appendChild(option);
            });

            // Update the placeholder text.
            input.placeholder = "eg. nom du film";
        })
        .fail(function() {
            input.placeholder = "Couldn't load datalist options :(";
        });

</script>

{% endblock %}
