{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">

<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                <h2>  Films récents </h2>
                    <p>Retrouvez ici les films et FA sortis <b> depuis moins de 6 mois </b>
                        ainsi que les <b> prochaines sorties</b>.

                    <p><a class="btn btn-primary btn-lg" href="{{ url_for('.full') }}" role="button"> Catalogue complet </a></p>

                </div>
                <div class="panel-body" >
        <table id="MovieTable2" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> FILM </th>
                    <th> DEMANDER LE FILM </th>
                    <th> DISTRIBUTEUR  </th>
                    <th> DATE DE SORTIE</th>
                    <th> TELECHARGER LE FILM </th>
                    <th> TELECHARGER LES FA </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> FILM </th>
                    <th> DEMANDER LE FILM </th>
                    <th> DISTRIBUTEUR </th>
                    <th> DATE DE SORTIE </th>
                    <th> TELECHARGER LE FILM </th>
                    <th> TELECHARGER LES FA </th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="AskForMovieModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formAskForMovie' class="form form-horizontal" method="post" role="form" action='askformovie'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Demande de téléchargement de DCP</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>

                    <div class="form-group  required"><label class="control-label" for="name">De:</label>
                        <input class="form-control" id="name" name="name"
                        required type="text" value="TEST EXPLOITANT">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A:</label>
                        <input class="form-control" id="to" name="to"
                        required type="text" value="TEST DISTRIBUTEUR">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour: </label>
                        <input class="form-control" id="movie" name="movie"
                        required type="text" value="MON FILM">
                    </div>

                    <div class="form-group">
                        <label for="programed_date"
                               class="col-2 col-form-label">
                            Dans la mesure du possible, merci de
                            préciser la date de programmation du film dans votre
                            cinéma  </label>
                        <div class='input-group date' id='datetimepickerboostrap'>
                            <input type='text' class="form-control" name="programed_date" id="programed_date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div>
                        Le distributeur sera informé par mail de votre demande de téléchargement.
                        Vous pouvez également ajouter un commentaire.
                    </div>

                    <div class="form-group "><label
                         class="control-label" for="message">
                            Commentaire:
                        </label>
                        <textarea rows="5" class="form-control" id="message"
                            name="message" placeholder="...">
                        </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script id="download-template" type="text/x-custom-template">
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    TELECHARGER
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header helpBlock">
    Les DCPs dont le texte apparaît en gris  <br/> ne sont pas encore autorisés au
    téléchargement.<br/> (Voir la colonne "DEMANDER LE FILM" pour l'obtenir)
    </li>
    <li role="separator" class="divider"></li>
    <li class ="dcp">
    <div class="checkbox">
        <label><input type="checkbox" value="" aria-label="un titre" >
            <span>  </span>
        </label>
    </div>
    </li>
    <li role="separator" class="divider"></li>
    <li class="dcpsubmit">
    <button type="button" class="btn btn-default" > Télécharger</button>
    </li>
  </ul>
</div>
</script>

<script id="demand-template" type="text/x-custom-template">
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    DEMANDER
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header helpBlock">
    Les DCPs dont le texte apparaît en noir ont déjà été autorisés au 
    téléchargement.<br/>
    Voir la colonne "TELECHARGER LE FILM"
    </li>
    <li role="separator" class="divider"></li>
    <li class ="dcp">
    <div class="checkbox">
        <label><input type="checkbox" value="" aria-label="un titre" ><span> Option 1 </span> </label>
    </div>
    </li>
    <li role="separator" class="divider"></li>
    <li class="askformovie">
    <button type="button" class="btn btn-default" id="askForMovieBtn" data-id="did" > Demander le film</button>
    </li>
  </ul>
</div>
</script>

<script id="askformovie-template" type="text/x-custom-template">

</script>

<script type="text/javascript">
$( function() {
    $('#datetimepickerboostrap').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });
} );
</script>

<script type="text/javascript" charset="utf-8">
    update_locales();

var myTable = [];

var help_demand_nodcp="Les DCPs de types 'FTR'  ne sont pas encore disponibles sur Indé-CP.  Vous pouvez nous aider à obtenir le film en envoyant une demande au distributeur."

function render_template_FTR( $element, data) {
    var template = $('#download-template').html();
    var all_ftr_auhtorised = false;
    $element.append(template);

    var $lidcp = $element.find('li.dcp');

    for (x=0; x < data.length;x++) {
        if ( data[x].contentkind == 'TLR') {
            continue;
        }
        if ( data[x].valid == false) {
            continue;
        }
        var $new = $lidcp.clone();
        $new.attr('data-value', data[x].dcpid);
        var $input = $new.find('input') ;
        var $inputlabel = $new.find('label span');
        var autorisation = data[x].autorisation;

        if (! autorisation) {
            continue;
        }
        all_ftr_auhtorised = all_ftr_auhtorised || autorisation.isauthorised;
        var $type = render_contentkind_label(data[x].contentkind, muted=false);
        $inputlabel.text(data[x].name);
        if (autorisation.isauthorised == false) {
            // DCP not authorized to download: disable button
            $input.attr('disabled',true);
            $input.attr('checked',false);
            $new.attr('class', 'disabled dcp');
            $inputlabel.attr('class','text-muted') ;
            $type = render_contentkind_label(data[x].contentkind, muted=true);
            var $content=$('<span>', {
                'class':'label label-default label-as-badge',
            });
            $content.text('NON autorisé');
            $inputlabel.prepend ($content);

        } else {
            // DCP authorized: Verify if DCP was already auhtorized
            var finish_date = new Date(autorisation.finished_transfer_date);
            var start_date = new Date(autorisation.started_transfer_date);
            var $content=$('<span>', {
                'class':'label label-primary label-as-badge',
            });
            $content.text('Autorisé');
            $inputlabel.prepend ($content);

            if (start_date.valueOf() == 0) {
                $input.attr('checked',true);
            } else {
                var $dldate =  $('<p>', {
                    'class':'bg-warning',
                });
                if  (finish_date.valueOf() == 0){
                $dldate.text(" - Transfert démarré le " + render_datetime(start_date, "display" ));
                } else {
                $dldate.text(" - Transfert terminé le " + render_datetime(finish_date, "display" ));
                }
                $inputlabel.append ($dldate);

            }
        }
        $lidcp.after($new);
    }
    if (all_ftr_auhtorised == false) {
        var  $button = $element.find('button.btn');
        $button.removeClass("btn-primary");
        $button.addClass("btn-default");
        var $dcpsubmit= $element.find('li.dcpsubmit')
            $dcpsubmit.remove()
    }


    $lidcp.remove()
    return $element
}

function render_template_TLR( $element, data) {
    var template = $('#download-template').html();
    $element.append(template);

    var $lidcp = $element.find('li.dcp');

    var nb_tlrs =0;
    $element.find('.helpBlock').remove()
    for (x=0; x < data.length ;x++) {
        if ( data[x].contentkind == 'FTR') {
            continue;
        };
        if ( data[x].valid == false) {
            continue;
        };
        nb_tlrs++;
        var $new = $lidcp.clone();
        $new.attr('data-value', data[x].dcpid);
        var $input = $new.find('input') ;
        var autorisation = data[x].autorisation

        if (! autorisation) {
            continue;
        }

        var start_date = new Date(autorisation.started_transfer_date)
        if (autorisation.isauthorised == false) {
            $input.attr('disabled',true);
            $input.attr('checked',false);
            $new.attr('class', 'disabled dcp');
            $new.find('label span').attr('class','text-muted') ;
            var $type = render_contentkind_label(data[x].contentkind, muted=true);
        };
        if (start_date.valueOf() == 0) {
            $input.attr('checked',true);
            //$new.find('label span').attr('class','text-primary') ;
            var $type = render_contentkind_label(data[x].contentkind, muted=false);
        };
        $new.find('label span').text(data[x].name);
        $new.find('label span').prepend($type);
        $lidcp.after($new);
    };

    if (nb_tlrs == 0) {
        var  $button = $element.find('button.btn');
        $button.removeClass("btn-primary");
        $button.addClass("btn-default");
        var $ul = $element.find('ul.dropdown-menu');
        $ul.empty();
        $('<span>', {
            'text':'Pas de FA disponibles',
        }).appendTo($ul);
    }
    $lidcp.remove()
    return $element
}


function render_template_demand( $element, data) {
    var template = $('#demand-template').html();
    $element.append(template);
    var all_ftr_auhtorised = true
    var $lidcp = $element.find('li.dcp');
    if ( (data.nb_dcps == 0)  || (data.nb_ftrs == 0) ) {
        $element.find('.helpBlock').empty();
        $element.find('.helpBlock').append("<span> Les DCPs de types 'FTR'  ne sont pas encore disponibles sur Indé-CP.<br/>  Vous pouvez nous aider à obtenir le film en envoyant une demande au distributeur.</span>");
    }

    var dcps = data.dcps
    for (x=0; x < dcps.length;x++) {
        if ( dcps[x].contentkind == 'TLR') {
            continue;
        }
        if ( dcps[x].valid == false) {
            continue;
        }
        var $new = $lidcp.clone();
        $new.attr('data-value', dcps[x].dcpid);
        var $input = $new.find('input') ;
        var autorisation = dcps[x].autorisation
        if (! autorisation) {
            continue;
        }


        var start_date = new Date(autorisation.started_transfer_date)
        all_ftr_auhtorised = all_ftr_auhtorised && autorisation.isauthorised
        if (autorisation.isauthorised == true) {
            $input.attr('checked',false);
            var $type = render_contentkind_label(dcps[x].contentkind, muted=false);
            //$new.find('label span').attr('class','text-primary') ;
        }  else {
            $input.attr('checked',true);
            $new.attr('class', 'disabled dcp');
            $new.find('label span').attr('class','text-muted') ;
            var $type = render_contentkind_label(dcps[x].contentkind, muted=true);
        }
        $new.find('label span').text(dcps[x].name);
        $new.find('label span').prepend($type);
        $lidcp.after($new);
    }
    $element.find('#askForMovieBtn').attr('data-id',data.movieid);
    if (all_ftr_auhtorised == true) {
       var  $button = $element.find('button.btn');
       $button.removeClass("btn-primary");
       $button.addClass("btn-default");
    }


    $lidcp.remove()
    return $element
}


$(document).ready(function(){

    function ismovieautorised(dcps) {
        var x = 0;
        var isauthorised = false;
        if (dcps.length > 0) {
            isauthorised = true;
            for (x=0; x < dcps.length;x++) {
                    isauthorised = isauthorised && dcps[x].autorisation.isauthorised;
                }
            }
        return isauthorised;
    }

    var myTable = $('#MovieTable2').DataTable({
    "ajax": "{{ url_for('.moviedata') }}",
    "order": [[3, "desc"]],
    "columns" : [
        {
        data: 'title',
        "render": function ( data, type, row ) {
            var $div = $("<div>");
            var $movie = $('<a>',{
                'href' : 'details/'+row.movieid
            });
            $movie.text(data);

            $div.append($movie);
            //$div.append(template);

            return $div.html();
            }
        },
        {
        'searchable': false,
        "render": function ( data, type, row ) {
            //var isauthorised = ismovieautorised(row.dcps);
            var todisplay ='';
            var $div = $("<div>");
            todisplay = render_template_demand($div,row) ;
            return todisplay.html()
            },
         },
        {
        data: 'distributor',
        "render": function ( data, type, row ) {
                var $div = $("<div>");
                var $atag = $('<a>',{
                    'href' : '../distributors/details/'+row.distributorid
                });
                $atag.text(data);
                $div.append($atag);
                return $div.html();
            },
        },
        {
        data: 'releasedate',
        },
        {
        data:'dcps',
        "width":"25%",
        'searchable': false,
        "render": function ( data, type, row ) {
            //var isauthorised = ismovieautorised(row.dcps);
            var todisplay ='';
            var $div = $("<div>");
            todisplay = render_template_FTR($div,data) ;
            return todisplay.html()
            },
        },
        {
        "width":"25%",
        'searchable': false,
        "render": function ( data, type, row ) {
            //var isauthorised = ismovieautorised(row.dcps);
            var todisplay ='';
            var $div = $("<div>");
            todisplay = render_template_TLR($div,row.dcps) ;
            return todisplay.html()
            },
        },



        {
            data: 'movieid',
            'visible': false,
            'searchable': false
        },
        {
            data: 'distributorid',
            'visible': false,
            'searchable': false
        }


        ]
    });

    $('#MovieTable2 tbody ').on( 'click', '#askForMovieBtn', function(event){
        var myurl = 'askformovie/' + $(this).attr('data-id');
        $.getJSON(myurl, function(data){
            var $modalwindow = $('#AskForMovieModal');
            $modalwindow.find('#formAskForMovie').attr('action',myurl);
            $modalwindow.find('#formAskForMovie #name').attr('value',data.exhibitor);
            $modalwindow.find('#formAskForMovie #to').attr('value',data.distributor);
            $modalwindow.find('#formAskForMovie #movie').attr('value',data.movie);
            $modalwindow.modal();
        });
    });


});


$('#MovieTable2 tbody ' ).on( 'click', 'li.dcpsubmit' , function( event ) {
    var checked = [];
    var $target = $( event.currentTarget )
    var $ul = $target.parent();

    $.each($ul.find('li.dcp'), function () {
        var $inp = $(this).find('input');
        if ( $inp.prop('checked') ) {
            checked.push($(this).attr( 'data-value' ));
        }
    });

    var arr = {dcps: checked };
    var csrftoken = $('meta[name=csrf-token]').attr('content');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });
    var posting = $.ajax({
        url: 'start_dl_json',
        type: 'POST',
        data: JSON.stringify(arr),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
            /*success: function(msg) {
              alert(msg);
              }*/
    });

    posting.done(function( data ) {
        window.location.reload()
    });

});



</script>

{% endblock %}
