{% extends "baseV2.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% from "_exhibitor_macros.html" import distribution_buttons %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block page_content %}
{% set movie = data['data'][0] %}

<div class ="container-fluid">
    <div class="page-header">
        <h1> {{movie['title']}}</h1>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary"
                                  id="askForMovieBtn"
                                  data-toggle="modal"
                                  data-target="#AskForMovieModal"
                                  data-movieid="{{movie.movieid}}" >
                                  Demander le film à {{ movie.distributor }}
            </button>
        </div>
    </div>
</div>

<div class ="container-fluid">
    <div class ="row">
        <div class="col-md-8" >
            <table class="table table-striped table-bordered table-condensed">
                {% if movie.original_title %}
                <tr>
                    <td> Titre original: </td>
                    <td> {{ movie.original_title }} </td>
                </tr>
                {% endif %}
                <tr>
                    <td> Distributeur: </td>
                    <td>
                        <a href = "{{ url_for('exhibitor_distributors.details', id = movie.distributorid) }}" >
                            {{ movie.distributor}}
                        </a>
                    </td>

                </tr>
                <tr>
                    <td> Date de sortie: </td>
                    <td> {{ movie.releasedate | siso8601todate | datefr}} </td>
                </tr>
                {% if movie.tags %}
                <tr>
                    <td> Sélection: </td>
                    <td>
                        {% for tag in movie.tags %}
                        <span>
                            <a href="{{ url_for('exhibitor_tags.details', id = tag.id) }}" class="btn btn-default" type="button"/>
                                {{ tag.name }} </a>
                        </span>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if movie.website_url %}
                <tr>
                    <td> Site web </td>
                    <td>
                        {{ movie.website_url | urlize(40) }}
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" >
            {% set dcps = movie.dcps %}
            {% if dcps %}
            <h2> Information sur les DCP </h2>
            <table class="table table-striped table-bordered table-condensed"
                   data-click-to-select="true" >
                   <thead>
                       <tr>
                           <th> Type        </th>
                           <th> Nom du DCP </th>
                           <th> Taille </th>
                           <th> Mise en ligne </th>
                           <th> Status </th>
                       </tr>
                   </thead>

                   {% for _dcp in  dcps %}
                   {% if _dcp.valid %}
                   <tr>
                       <td> {{ _dcp.contentkind }}</td>
                       <td> {{ _dcp.name }}</td>
                       <td>
                           {% if _dcp.size %}
                           {{ _dcp.size|filesizeformat }}
                           {% else %}
                           Not defined
                           {% endif %}
                       </td>
                       <td> {{ _dcp.torrent_creation | siso8601todatetime | mydatetime }} </td>
                       <td>
                           {% if _dcp.autorisation %}
                           {{ distribution_buttons(_dcp.autorisation) }}
                           {% else %}
                           Not defined
                           {% endif %}
                       </td>
                   </tr>
                   {% endif %}
                   {% endfor %}
            </table>
            {% else %}
            <p> Pas de DCP associé à ce film. </p>
            {% endif %}

        </div>
    </div>

    <div class = "row" >
        <div class="col-md-4" >
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" role="button" href="{{ url_for('.home') }}" />
                    Revenir au catalogue des films
                </a>

            </div>
        </div>
    </div>
</div>


{#
TODO: Rajouter l'etat de la distribution pour ce film ?
<div class = "row">
    <p> <h2> Distribution</h2> </p>
</div>
#}

<div class="modal fade" id="AskForMovieModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formAskForMovie' class="form form-horizontal" method="post" role="form" action='askformovie'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Demande de téléchargement de DCP</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>

                    <div class="form-group  required"><label class="control-label" for="name">De: </label>
                        <input class="form-control" id="name" name="name"
                                                              required type="text" value="TEST EXPLOITANT">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A:</label>
                        <input class="form-control" id="to" name="to"
                                                            required type="text" value="TEST DISTRIBUTEUR">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour le titre:</label>
                        <input class="form-control" id="movie" name="movie"
                                                               required type="text" value="MON FILM">
                    </div>


                    <div class="form-group">
                        <label for="date_progammation"
                        class="col-2 col-form-label">
                            Dans la mesure du possible, merci de
                        préciser la date de programmation du film dans votre
                        cinéma  </label>
                        <div class="col-10">
                            <input class="form-control"
                                   type="date"
                                   value=""
                                   id="date_progammation"
                                   name="date_progammation"
                                   >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="programed_date"
                        class="col-2 col-form-label">
                            Dans la mesure du possible, merci de
                        préciser la date de programmation du film dans votre
                        cinéma  </label>
                        <div class='input-group date' id='datetimepickerboostrap'>

                            <input type='text' class="form-control" name="programed_date" id="programed_date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>


                    <div>
                        Le distributeur sera informé par mail de votre demande de téléchargement.
                        Vous pouvez également ajouter un commentaire.
                    </div>
                    <div class="form-group"><label class="control-label" for="message">
                            Commentaire:
                            </label>
                        <textarea rows="15" class="form-control" id="message"
                            name="message" placeholder="..." >
                        </textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

            </div>
    </div>
        </form>
</div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>

{% set movie = data['data'][0] %}
<script type="text/javascript">
$( function() {
     $('#datetimepickerboostrap').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });
} );

</script>

<script type="text/javascript" charset="utf-8">

$('#AskForMovieModal').on('show.bs.modal', function (event) {
//$('#AskForMovieModal').on('show.bs.modal', function (event) {

    var button = $(event.relatedTarget);
    var myurl = '../askformovie/'+ button.data('movieid');
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#AskForMovieModal');
        $modalwindow.find('#formAskForMovie').attr('action',myurl);
        $modalwindow.find('#formAskForMovie #name').attr('value',data.exhibitor);
        $modalwindow.find('#formAskForMovie #to').attr('value',data.distributor);
        $modalwindow.find('#formAskForMovie #movie').attr('value',data.movie);
    });
});

</script>
{% endblock %}
