{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}

<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h1>  Catalogue  complet </h1>
                    <p> Retrouvez <b> tous les films et FA </b> disponibles sur Indé-CP </p>

                    <p><a class="btn btn-primary btn-lg" href="{{ url_for('.home') }}" role="button"> Films récents </a></p>
                </div>
                <div class="panel-body" >
                    <table id="MovieTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th> FILM </th>
                                <th> DISTRIBUTEUR  </th>
                                <th> DATE DE SORTIE</th>
                                <th>  </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th> FILM </th>
                                <th> DISTRIBUTEUR </th>
                                <th> DATE DE SORTIE </th>
                                <th>  </th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for item in movies %}
                            <tr>
                                <td>
                                    <a href = "{{ url_for('.details', id = item.movieid) }}" > {{ item.title }} </a>
                                </td>
                                <td>
                                    <a href = "{{ url_for('exhibitor_distributors.details', id = item.distributor.distributorid) }}" >
                                        {{item.distributor.name }}
                                    </a>
                                </td>
                                <td>
                                    {{ item.releasedate }}
                                </td>

                                <td>
                                    <a href = "{{ url_for('.details', id = item.movieid) }}" > DEMANDER / TELECHARGER </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>


<script type="text/javascript" charset="utf-8">
var myTable = [];


$(document).ready(function(){

    var myTable = $('#MovieTable').DataTable({
    "order": [[2, "desc"]],
    });


});



</script>

{% endblock %}
