{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}
<div class="page-header">
    <h3> Nouveaux contenus </h3>
<ul class="nav nav-tabs">
  <li><a href="{{ url_for('.home') }}">Catalogue </a></li>
  <li class="active"><a href="#"> Contenus récent</a></li>
  <li><a href="{{ url_for('.lineup') }}">line up </a></li>
</ul>
</div>
<br/>

<div class="row">
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

{% endblock %}
