{% from "email/_footnote.html" import email_legal_footnote %}
<p>Bonjour Cinéma  {{ exhibitor.name }},</p>


{% for dcp in selected_dcps %}
{% if loop.index == 1 %}
{% if loop.length == 1 %}
<p>
Vous pouvez télécharger le DCP suivant pour {{ movie.title }}, distribué par
{{ movie.distributor.name }} :
</p>
{% else %}
<p>

Vous pouvez télécharger les DCP suivants pour   {{ movie.title }}, distribué par
{{ movie.distributor.name }} :
</p>
{% endif %}
{% endif %}
<p>
<ul>
    <li> {{dcp.name}}
</ul>
</p>
{% endfor %}

<p>Pour accéder à la fiche film et au(x) téléchargement(s) des DCP, cliquez sur le lien suivant :
<a href="{{url_for('exhibitor_movies.details', id=movie.movieid, _external=True) }}" > lien </a>  </p>


{% for dcp in movie.get_trailers() %}
{% if loop.index == 1 %}
    {% if loop.length == 1 %}
    <p> Le film annonce suivant pour  {{ movie.title }} est aussi disponible au téléchargement: </p>
    {% else %}
    <p> Les films annonces suivants pour  {{ movie.title }}  sont aussi disponibles au téléchargement: </p>
    {% endif %}
{% endif %}
<p>
<ul>
    <li> {{dcp.name}} </li>
</ul>
</p>

{% endfor %}


<p>
indé-CP se tient à votre disposition pour toute question relative au téléchargement des DCP.
</p>

<p>
Si vous avez des questions sur la distribution, contactez {{movie.distributor.name}}:

{% if movie.distributor.contact %}
{{ movie.distributor.contact }} /
{% endif %}

{% if movie.distributor.user %}
{{ movie.distributor.user.email }} /
{% endif %}

{% if movie.distributor.phone %}
Tel: {{ movie.distributor.phone }}
{% endif %}
</p>

{{ email_legal_footnote() }}
