{% from "email/_footnote.html" import email_legal_footnote %}
<div>
<p>
Bonjour {{movie_request.exhibitor}},
</p>
<p>
Concernant votre demande de téléchargement de {{movie_request.movie.title}},
le distributeur {{movie_request.distributor}} souhaite vous faire part de
l'information suivante :
</p>
<p>
-------------------------------------------------------------------------------<br/>
{{ payload_msg }} <br/>
-------------------------------------------------------------------------------<br/>
</p>

<p>
Vous pouvez consulter le détail de la demande ici:<br/>
<a href="{{url_for('exhibitor_movie_requests.details', id=movie_request.id,
_external=True) }}" >
{{url_for('exhibitor_movie_requests.details', id=movie_request.id,
_external=True) }}
</a>
</p>
</div>
{{ email_legal_footnote() }}
