{% from "email/_footnote.html" import email_legal_footnote %}
<div>
<p>
Bonjour {{movie_request.exhibitor}},
</p>
<p>
Nous sommes au regret de vous annoncer que le distributeur
{{movie_request.distributor}}
a refusé le
téléchargement par indé-CP de  {{movie_request.movie.title}}
pour votre cinéma.
</p>

<p>
Motif précisé par le distributeur : <br/>
{{movie_request|deny_cause_fr}} <br/>
</p>

<p>
Commentaire <br/>
-------------------------------------------------------------------------------<br/>
{% if movie_request.deny_other_cause %}
{{movie_request.deny_other_cause}} <br/>
{% else %}
Non précisé <br/>

{% endif %}
-------------------------------------------------------------------------------
</p>

<p>
Vous pouvez consulter le détail de la demande ici: <br/>
<a href="{{url_for('exhibitor_movie_requests.details', id=movie_request.id,
_external=True) }}" />  {{url_for('exhibitor_movie_requests.details', id=movie_request.id,
_external=True) }}  </a>

</p>
</div>
{{ email_legal_footnote() }}






