{% from "email/_footnote.html" import email_legal_footnote %}
<p> Bonjour {{ exhibitor.name }},</p>

{% for dcp in selected_dcps %}
    {% if loop.index == 1 %}
        {% if loop.length == 1 %}
            <p>
Le téléchargement du DCP suivant pour le film  {{ movie.title }},
distribué par
{{ movie.distributor.name }},
vient de débuter :
            </p>
        {% else %}
            <p>
Le téléchargement des DCP suivants pour le film  {{ movie.title }},
distribué par
{{ movie.distributor.name }},
viennent de débuter :
            </p>
        {% endif %}
    {% endif %}
    <p>
    <ul>
        <li> {{dcp.name}}
    </ul>
    </p>
{% endfor %}

<p>
Pour accéder à la fiche film, cliquez sur le lien suivant :
<a href="{{url_for('exhibitor_movies.details', id=movie.movieid, _external=True)}}" >
{{url_for('exhibitor_movies.details', id=movie.movieid, _external=True)}}
</a>
</p>

<p>
Indé-CP se tient à votre disposition pour toute question relative au
téléchargement des DCP.
</p>

PS: Vous avez souscrit à l'option « Démarrer automatiquement le téléchargement
 de DCP dès qu'il est autorisé par le distributeur ».
Vous pouvez modifier ce paramètre à tout moment depuis votre compte Indé-CP.

{{ email_legal_footnote() }}

