<p>
Bonjour {{ movie.distributor.name }},
</p>


<p>
Les salles suivantes  ont reçu l'autorisation de charger les DCPs(*) pour {{ movie.title }}:
</p>
<p>
{% for _e in exhibitors %}
<ul>
    <li> {{ _e.name }} </li>
</ul>
{% endfor %}
</p>

<p> (*) Liste des DCP autorisés: </p>
<p>
<ul>
{% for dcp in selected_dcps %}
<li> {{dcp.contentkind}} | {{dcp.name}}  </li>
{% endfor %}
</ul>
</p>



<p>Cordialement,</p>
<p>Indé-CP </p>
<p><small>Note: Ceci est un email automatique: ne pas répondre.</small></p>
