{% set exhibitor = authorization.exhibitor %}
{% set movie = authorization.dcp.movie %}
<p>
Bonjour Cinéma  {{ exhibitor.name }},
</p>

<p>
Vous avez un DCP en attente de téléchargement (DCP autorisé par le
distributeur, mais que vous n'avez pas encore téléchargé).
</p>
<p>
En effet,le DCP suivant, pour le film {{ movie.title }},
distribué par{{ movie.distributor.name }}
est disponible au téléchargement sur votre compte
<a href="https://tuco.tdcpb.org"> indé-CP </a>:
</p>

<p>
<ul>
    <li> {{authorization.dcp.name}}
</ul>
</p>

<p>Vous pouvez mettre en téléchargement le(s) DCP(s) en suivant ce lien:
<a href="{{url_for('exhibitor_movies.details', id=movie.movieid, _external=True) }}" >
    Télécharger {{movie.title}} </a>  </p>



<p> Si vous rencontrez des problèmes pour charger le film, envoyez un e-mail
à contacter@indecp.org </p>

Si vous avez des questions sur la distribution, contactez {{movie.distributor.name}}:
{% if movie.distributor.contact %}
{{ movie.distributor.contact }} /
{% endif %}

{% if movie.distributor.user %}
{{ movie.distributor.user.email }} /
{% endif %}

{% if movie.distributor.phone %}
Tel: {{ movie.distributor.phone }}
{% endif %}
<p>Cordialement,</p>
<p>L'équipe Indé-CP </p>
<p><small>Note: Ceci est un email automatique: ne pas répondre.</small></p>
