{% macro contact_modal_html( ) %}
<div class="modal fade" id="ContactModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formContact' class="form form-horizontal" method="post" role="form" action='do_contact'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Contacter: </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="movierequestid" name="movierequestid" value="None">
                    <input type="hidden" id="exhibitorid" name="exhibitorid" value="None">
                    <input type="hidden" id="movieid" name="movieid" value="None">
                    <input type="hidden" id="distributorid" name="distributorid" value="None">

                    <div class="form-group  required"><label class="control-label" for="name">De: </label>
                        <input class="form-control from" name="from"
                        required type="text" value="TEST EXPLOITANT" readonly >
                        </input>

                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A: </label>
                        <input class="form-control to"  name="to"
                        required type="text" value="TEST DISTRIBUTEUR" readonly>
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour le film: </label>
                        <input class="form-control movie" name="movie"
                        required type="text" value="MON FILM" readonly>
                    </div>
                    <div>
                            Merci de préciser l'information que vous souhaitez communiquer.
                    </div>

                    <div class="form-group  required"><label
                            class="control-label" for="message">
                            Commentaire:</label>
                        <textarea rows="5" class="form-control" id="message" name="message" placeholder="Saisir le mesage à envoyer" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        Annuler
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>


{% endmacro %}

{% macro cancel_modal_html( ) %}
<div class="modal fade" id="CancelModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formCancel' class="form form-horizontal" method="post" role="form" action='do_cancel'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Annuler une demande </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="movierequestid" name="movierequestid" value="None">
                    <input type="hidden" id="exhibitorid" name="exhibitorid" value="None">
                    <input type="hidden" id="movieid" name="movieid" value="None">
                    <input type="hidden" id="distributorid" name="distributorid" value="None">

                    <div class="form-group  required"><label class="control-label" for="name">De: </label>
                        <input class="form-control from" name="from"
                        required type="text" value="TEST EXPLOITANT" readonly >
                        </input>

                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">A: </label>
                        <input class="form-control to"  name="to"
                        required type="text" value="TEST DISTRIBUTEUR" readonly>
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Pour le film: </label>
                        <input class="form-control movie" name="movie"
                        required type="text" value="MON FILM" readonly>
                    </div>
                    <div>
                            Le distributeur sera informé par mail de votre annulation.
                            Dans la mesure du possible, merci d’en préciser la raison.
                    </div>

                    <div class="form-group"><label class="control-label"
                            for="message">Commentaire:</label>
                        <textarea rows="5" class="form-control" id="message" name="message" placeholder="Saisir le mesage à envoyer"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endmacro %}
