{% from "exhibitor/movie_requests/_modals.html" import contact_modal_html %}
{% from "exhibitor/movie_requests/_modals.html" import cancel_modal_html %}

{% macro table_html( ) %}
<div class="row">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
    <thead>
        <tr>
            <th> Date de la demande </th>
            <th> Film </th>
            <th> Distributeur </th>
            <th> Partenaire ? </th>
            <th> Date programmé </th>
            <th> Statut </th>
            <th> Action  </th>
        </tr>
    </thead>
</table>
</div>

{{ contact_modal_html() }}
{{ cancel_modal_html() }}

{% endmacro %}


{% macro table_js(query_type='all' ) %}
<script type="text/javascript" charset="utf-8">

$(document).ready(function() {

    update_locales()
    var table = $('#DefaultTable').DataTable({
        "order" : [[0, 'desc']],
        "ajax": {
            "url": "{{ url_for('exhibitor_movie_requests.movie_request_data', query_type=query_type) }}",
        },
        "columns": [
       {
            "data": "demand_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                if ( row.demand_date  != row.first_demand_date ) {
                    $('<br>').appendTo($todisplay);
                    $('<span>', {
                    'text':  "Relance le: " + render_date(row.demand_date,type)
                        + '(' + moment(row.demand_date).fromNow() + ')'
                    }).appendTo($todisplay)
                }



                return $todisplay.html();
            },
        },
       {
           "data": "movie",
           "render": function ( data, type, row ) {
               var $todisplay = $("<div>");
               var href=   "{{ url_for('exhibitor_movies.details', id = -1) }}"
                   href = href.replace("/-1", "/"+row.movieid);

               var $link = $('<a>',{
                   'href': href,
               }).appendTo($todisplay);

               $('<span>', {
                   'text': data
               }).appendTo($link);

               return $todisplay.html();
           },

       },

        {
            "data": "distributor",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('exhibitor_distributors.details', id = -1) }}"
                    href = href.replace("/-1", "/"+row.distributorid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
            },
        },
        {
            "data": "isdcpbay",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                if (data == true) {
                    $('<span>', {
                        'text': 'oui',
                        'class': 'glyphicon glyphicon-ok',
                        'style': 'color:green'
                    }).appendTo($todisplay);
                } else {
                    $('<span>', {
                        'text': 'non',
                        'class': 'glyphicon glyphicon-remove',
                        'style': 'color:red'
                    }).appendTo($todisplay);
                };
                return $todisplay.html();
            },
        },


       {
            "data": "programed_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "status",
            "class": "status",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    //'class': 'status status-pending',
                    'class': 'status ' + statusStr[row.statusId].class,
                    'text': statusStr[row.statusId].str,
                }).appendTo($todisplay);
                if ( row.status == 'DENIED' ) {
                    var $div = $("<div>");
                     $('<span>',{
                        'text':  'motif:'
                    }).appendTo($div);
                    $('<br>').appendTo($div);

                    $('<span>',{
                        'text': DenyCauseStr[row.deny_causeId].str,
                    }).appendTo($div);
                    if (row.deny_other_cause) {
                        $('<br>').appendTo($div);
                        $('<span>',{
                            'text': row.deny_other_cause,
                        }).appendTo($div);
                    }

                    $div.appendTo($todisplay);
                }


                return $todisplay.html();

            },
        },
        {
            "data": null ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                return DisplayButtongroup($todisplay, row.status, 'exhibitor').html();

            },
        },
        ],
    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-consult',  function(event){
        var data = table.row( $(this).parents('tr') ).data();
        location.href = 'details/'+data.id;

    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-redo',  function(event){

        var data = table.row( $(this).parents('tr') ).data();
        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        var posting = $.ajax({
            url: 'do_relance',
            type: 'POST',
            data: JSON.stringify({'id': data.id}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {
            table.ajax.reload();
        });
        posting.fail( function( jqXHR ) {
            alert( "Request failed: " + jqXHR.responseJSON.message);
        });

    });

    $('#DefaultTable tbody ').on( 'click', 'button.action-cancel',  function(event){

        var data = table.row( $(this).parents('tr') ).data();


        $('#CancelModal #movierequestid').attr('value', data.id);
        $('#CancelModal #exhibitorid').attr('value', data.exhibitorid);
        $('#CancelModal #movieid').attr('value', data.movieid);
        $('#CancelModal #distributorid').attr('value', data.distributorid);
        $('#CancelModal input.from').attr('value', data.exhibitor);
        $('#CancelModal input.to').attr('value', data.distributor);
        $('#CancelModal input.movie').attr('value', data.movie);
        $('#CancelModal').modal()

    });

    $("#formCancel").submit(function(e) {
        e.preventDefault()

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_cancel',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {
            location.reload();
        });
        posting.fail( function( jqXHR) {
            alert( "Request failed: " + jqXHR.responseJSON.message);
        });
        $('#CanceModal').modal('hide')

    });


    $('#DefaultTable tbody ').on( 'click', 'button.action-contact',  function(event){

        var data = table.row( $(this).parents('tr') ).data();


        $('#ContactModal #movierequestid').attr('value', data.id);
        $('#ContactModal #exhibitorid').attr('value', data.exhibitorid);
        $('#ContactModal #movieid').attr('value', data.movieid);
        $('#ContactModal #distributorid').attr('value', data.distributorid);
        $('#ContactModal input.from').attr('value', data.exhibitor);
        $('#ContactModal input.to').attr('value', data.distributor);
        $('#ContactModal input.movie').attr('value', data.movie);
        $('#ContactModal').modal()
    });

    $("#formContact").submit(function(e) {
        e.preventDefault()

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: 'do_contact',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function(msg) {
                console.log('success');
            },
            error: function(msg) {
                console.log('fail');
            },
        });

        $('#ContactModal').modal('hide')

    });


});

</script>

{% endmacro %}
