{% extends "base.html" %}

{% block page_content %}
<div class="row" >
    <h2> Nouveau tag : </h2>

</div>

<div class="row" >
    {% import "bootstrap/wtf.html" as wtf %}
    {{ wtf.quick_form(form) }}
</div>

<div class = "row" >
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.home') }}">
            Annuler création
        </a>

    </div>
</p>
</div>

{% endblock %}
