{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}
{% from "_common_macros.html" import RenderEmails %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3>  Distributeurs </h3>
                </div>
                <div class="panel-body" >

        <table id="MovieTable" class="table table-striped table-bordered table-condensed table-summary" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th> DISTRIBUTEUR  </th>
                   <th> Partenaire ? </th>
                   <th> Contact </th>
                   <th> Téléphone </th>
                   <th> Email </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> DISTRIBUTEUR </th>
                    <th> Partenaire ? </th>
                   <th> Contact </th>
                   <th> Téléphone </th>
                   <th> Email </th>
                </tr>
            </tfoot>

            <tbody>
                {% for item in distributors %}
                <tr>
                    <td>
                        <a href = "{{ url_for('.details', id = item.distributorid) }}" > {{ item.name }} </a>
                    </td>
          <td>
          {% if item.isdcpbay %}
          <span class="glyphicon glyphicon-ok" style="color:green">
             Oui
          </span>

          {% else %}
          <span class="glyphicon glyphicon-remove" style="color:red">
          Non
          </span>
          {% endif %}
          </td>
          <td>
         {{ item.contact }}
          </td>
                            <td>{{ item.phone }}</td>
                            <td>{{ RenderEmails(item.user) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-header">

</div>


<div class="container-fluid">
    <div class="row">
    </div>
</div>


{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>


<script type="text/javascript" charset="utf-8">
var myTable = [];


$(document).ready(function(){

    var myTable = $('#MovieTable').DataTable({
    "order": [[1, "asc"]],
    });


});



</script>

{% endblock %}
