{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}
{% from "_common_macros.html" import RenderEmails %}

{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}

<div class="jumbotron">
    <div class="container-fluid">
        <div class="col-md-6">
            <h2> {{distributor.name}}  </h2>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">

                    <table class="table table-condensed table-striped" >
                        <tr>
                            <td> Distirbuteur </td>
                            <td> {{distributor.name}} </td>
                        </tr>
                        <tr>
                            <td> emails </td>
                            <td>{{ RenderEmails(distributor.user) }}</td>
                        </tr>
                        {% if distributor.contact %}
                        <tr>
                            <td> Contact </td>
                            <td> {{distributor.contact}} </td>
                        </tr>
                        {% endif %}

                        {% if distributor.phone %}
                        <tr>
                            <td> Téléphone </td>
                            <td> {{distributor.phone}} </td>
                        </tr>
                        {% endif %}

                        {% if distributor.cnc_code %}
                        <tr>
                            <td> Code CNC </td>
                            <td> {{distributor.cnc_code}} </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% set movies = distributor.movies.filter_by(valid=True).all() %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"> <h3> Catalogue </h3> </div>
                <div class="panel-body">
                    <table id="MovieTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th> FILM </th>
                                <th> DATE DE SORTIE</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th> FILM </th>
                                <th> DATE DE SORTIE  </th>
                                <th> </th>
                            </tr>
                        </tfoot>

                        <tbody>
                            {% for item in movies %}
                            <tr>
                                <td>
                                    <a href = "{{ url_for('exhibitor_movies.details', id = item.movieid) }}" > {{ item.title }} </a>
                                </td>
                                <td>
                                    {{ item.releasedate }}
                                </td>

                                <td>
                                    <a href = "{{ url_for('exhibitor_movies.details', id = item.movieid) }}" > DEMANDER / TELECHARGER </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>


<script type="text/javascript" charset="utf-8">
var myTable = [];


$(document).ready(function(){

    var myTable = $('#MovieTable').DataTable({
    "order": [[0, "asc"]],
    });


});



</script>

{% endblock %}
