{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1> Distributeurs </h1>
</div>

<div class = "row" >
<p>
    <a href="{{ url_for('.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
</p>
</div>


<div class="row" >
{% if distributors %}
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> ID </th>
                <th > Distributeur </th>
                <th > Code CNC </th>
                <th > Partenaire? </th>
                <th > Utlisateur </th>
                <th >  </th>
            </tr>
        </thead>
        {% for item in distributors %}
            <tr>
                <td> {{item.distributorid }} </td>
                <td> <a href="{{ url_for('.details', id = item.distributorid) }}" /> {{ item.name }}</a></td>
                <td> {{ item.cnc_code }} </td>
            <td>
                {% if item.isdcpbay %}
                  <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                  <span> oui </span>
                  {% else %}

                  <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                  <span> non </span>
                  {% endif %}
            </td>
            <td>
                {% if not item.isdcpbay and item.user %}
                <div class="alert alert-danger" role="alert">
                    {% else %}
                    <div >
                        {% endif %}
                        {{ item.user.login}}
                    </div>
                        {% if item.isdcpbay and not item.user %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Distributeur officiel sans utilisateur
                        </div>
                        {% endif %}

            </td>
            <td>

                    <div class="btn-group" role="group" aria-label="...">
                        <button id='btndelete' class="btn btn-primary" data-href="{{ url_for('.delete', id= item.distributorid) }}" data-toggle="modal" data-target="#confirm-delete" data-id="{{item.name}}"  title="Supprimer {{ item.title}}" >
                            <i class="fa fa-trash" > </i>
                        </button>

                            <a href="{{ url_for('.edit', id = item.distributorid) }}"
                               class="btn btn-primary" role="button" title="Modifier {{ item.name}}">
                                <i class="fa fa-edit" > </i>
                            </a>


                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="pdistributor"> Supprimer la fiche film TOTO </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    var pnew = jQuery('<p/>', {
        id:'pdistributor',
        text: 'Supprimer ' + $('#btndelete').data('id') +'?' ,
        });

    var old = $(".modal-body #pdistributor");
    old.replaceWith(pnew);
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'desc']]
    });
} );
</script>

{% endblock %}
