{% extends "base.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "_common_macros.html" import RenderEmails %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}

<div class="page-header">
        <h1>{{distributor.name}}</h1>
</div>

<div class = "row" >
    <div class ="container-fluid">
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= distributor.distributorid) }}"  > Modifier </a>

        <button class="btn btn-primary" data-href="{{ url_for('.delete', id= distributor.distributorid) }}" data-toggle="modal" data-target="#confirm-delete">
                Supprimer
        </button>
    </div>
</p>
</div>
</div>

<div class = "row" >
    <div class ="container-fluid">
        {% if distributor.isdcpbay and distributor.user == None %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Distributeur officiel sans utilisateur
        </div>
        {% endif %}
        {% if distributor.isdcpbay == False  and distributor.user %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Distributeur non officiel avec utilisateur
        </div>
        {% endif %}


        <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td> Distributeur </td>
                <td> {{distributor.name}} </td>
            </tr>
            <tr>
                <td> Distributuer Partenaire ? </td>
                <td>
                    {% if distributor.isdcpbay %}
                    <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                    <span> oui </span>
                    {% else %}

                    <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                    <span> non </span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td> email distributeur </td>
                <td>
                    {% if distributor.email %}
                    {{ distributor.email }}
                    {% else %}
                    Pas d'email distributeur
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td> Contact </td>
                <td> {{distributor.contact}} </td>
            </tr>
            <tr>
                <td> Téléphone </td>
                <td> {{distributor.phone}} </td>
            </tr>

            <tr>
                <td> Code CNC </td>
                <td> {{distributor.cnc_code}} </td>
            </tr>
            {% if distributor.user %}
            <tr>
                <td> Identifiant utilisateur </td>
                <td> {{ distributor.user.login }} </td>
            </tr>
            <tr>
                <td> Emails associés à l'identifiant </td>
                <td> {{ RenderEmails(distributor.user) }} </td>
            </tr>
            {% else %}
            <tr>
                <td> Identifiant utilisateur </td>
                <td>

                    {% if distributor.isdcpbay %}
                    <div class="alert alert-danger" role="alert">
                        Pas d'utilisateur associé à ce distributeur
                    </div>
                    {% else %}
                    Pas d'utilisateur associé à ce distributeur
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>


{% if distributor.movies %}
<div class="row">
    <div class ="container-fluid">
        <p> <h2> Catalogue</h2> </p>
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
            <thead>
                <tr>
                    <th> Film  </th>
                    <th> Date de sortie </th>
                </tr>
            </thead>
            {% for item in distributor.movies %}
            <tr>
                <td>  <a href = "{{ url_for('admin_movies.details', id = item.movieid) }}" > {{ item.title }} </a></td>
                <td>
                    {{ item.releasedate| datefr }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}


<div class = "row">

    <div class ="container-fluid">
        <p> <h2> Distribution</h2> </p>
        {{ table_distribution() }}
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Supprimer la fiche du ditributeur {{distributor.name}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Supprimer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(distributor=distributor) }}
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
{% endblock %}
