{% extends "baseV2.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="page-header">
        <h1> Sélections </h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        {% if tags %}
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
            <thead>
                <tr>
                    <th> Identifiant </th>
                    <th> Sélection </th>
                    <th> Nb contenus </th>
                </tr>
            </thead>
            {% for item in tags %}
            <tr>
                <td> <a href="{{ url_for('.details', id = item.id) }}" /> {{ item.name }}</a></td>
                <td>  {{ item.longname }} </td>
                <td> {{ item.all_content | length }}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'desc']]
    });
} );
</script>

{% endblock %}
