{% from "_common_macros.html" import item_valid %}
{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>{{tag.longname}}</h1>
    <div>
        {{ tag.description }}
    </div>
</div>

<div class ="container-fluid">
    <div class="row">
        <p> <h2> Séléction de contenus </h2> </p>
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
            <thead>
                <tr>
                    <th> Type </th>
                    <th>  Titre </th>
                    <th> Date de sortie </th>
                </tr>
            </thead>
            {% for item in tag.all_content %}
            <tr>
                {% if  item.__tablename__ == 'movie' %}
                <td>  Film  </td>
                <td> <a href="{{ url_for('exhibitor_movies.details', id = item.movieid) }}" />
                        {{ item_valid( item.valid, item.title) }}
                    </a>
                </td>
                <td> {{item.releasedate }} </td>
                {% elif  item.__tablename__ == 'short' %}
                <td>  Court  </td>
                <td> </td>
                <td> </td>
                {% else %}
                <td> {{ item.__tablename__ }}  <td>
                        <td> {{ item }}  <td>
                                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[2, 'desc']]
    });
} );
</script>
{% endblock %}
