{% extends "base.html" %}

{% from "_common_macros.html" import transmission_client_with_login %}

{% block page_content %}
<div class="page-header">
    <h1> Exploitants </h1>
    <h1> Salles du réseau </h1>
    <p> {{ Exhibitor.count_exhibitors()[0] }} salles connectées pour un total de
    {{ Exhibitor.count_exhibitors()[1] }} écrans </p>
</div>

<div class = "row" >
    <p>
    <a href="{{ url_for('.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
    </p>
</div>


<div class="row" >
    {% if data %}
    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> ID </th>
                <th> Client </th>
                <th > Exploitant </th>
                <th > dept </th>
                <th > Code CNC </th>
                <th > IP tinc </th>
                <th > Nb écrans </th>
                <th > Espace disque disponible </th>
                <th >  </th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            <td> {{item.exhibitorid }} </td>
            <td>
                {{ transmission_client_with_login(item.tc_login,item.tc_password,item.iptinc,"client torrent") }}
            </td>
            <td>
                <a href="{{ url_for('.details', id = item.exhibitorid) }}" /> {{ item.city }} - {{ item.name }}</a>

            </td>

            <td> {{item.dept }}</td>

            <td> {{ item.cncid }} </td>
            <td> {{ item.iptinc }}
            </td>
            <td> {{ item.nbscreens }} </td>
            <td>
                {% set tclient = Client.query.filter_by(ipt = item.iptinc).first() %}
                {% if  tclient.free_space %}
                {{tclient.free_space}}
            </td>
            {% else %}
            Inconnu
            {% endif %}


            </td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button id='btndelete'
                        class="btn btn-primary"
                        data-href="{{ url_for('.delete', id= item.exhibitorid) }}"
                        data-toggle="modal" data-target="#confirm-delete" data-id="{{item.name}}"
                      title="Supprimer {{ item.title}}" >
                          <i class="fa fa-trash" > </i>
                    </button>
                        <a href="{{ url_for('.edit', id = item.exhibitorid) }}"
                           class="btn btn-primary" role="button" title="Modifier {{ item.name}}">
                            <i class="fa fa-edit" > </i>
                        </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <{% endif %}
</div>

<div class = "row" >
    <p>
    <a href="{{ url_for('.startauto') }}"  class="btn btn-default"  role="button" >
        Liste des salles avec démarage automatique des transferts </a>
    </p>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="paskdelete">  </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filesize.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    var pnew = jQuery('<p/>', {
        id:'paskdelete',
        text: 'Supprimer ' + $('#btndelete').data('id') +'?' ,
    });

    var old = $(".modal-body #paskdelete");
    old.replaceWith(pnew);
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[7, 'asc']],
    "columnDefs": [ {
        "targets": [ 7 ],
        "type": "num",
         "render": function ( data, type, row ) {
            return render_filezize(data, type);
            }
    } ]
    });
} );
</script>

{% endblock %}
