{% extends "base.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "_common_macros.html" import RenderEmails %}
{% from "_common_macros.html" import transmission_client_with_login %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}

<div class="page-header">
        <h1>{{data.name}}</h1>
</div>


<div class = "row" >
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= data.exhibitorid) }}"  > Modifier </a>

        <button class="btn btn-primary" data-href="{{ url_for('.delete', id= data.exhibitorid) }}" data-toggle="modal" data-target="#confirm-delete">
                Supprimer
        </button>
    </div>
</p>
</div>

<div class = "row">
    <div class="col-sm-6 col-md-4">
        {{ transmission_client_with_login(data.tc_login,data.tc_password,data.iptinc,
        "Interface des suivis de téléchargements avancée (client web)" ) }}
    </div>
</div>


<div class = "row" >
    <div class="col-sm-6 col-md-6">
        <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td> Exploitant </td>
                <td> {{data.name}} </td>
            </tr>

            <tr>
                <td> N° autorisation CNC </td>
                <td> {{data.cncid}} </td>
            </tr>
            <tr>
                <td> login </td>
                <td> {{ data.user.login }} </td>
            </tr>
            <tr>
                <td> email </td>
                <td>{{ RenderEmails(data.user) }}</td>
            </tr>
            <tr>
                <td> Téléphone </td>
                <td>{{ data.phone if data.phone}}</td>
            </tr>
            <tr>
                <td> Contact </td>
                <td> {{ data.contact if data.contact }} </td>
            </tr>
            <tr>
                <td> Addresse </td>
                <td> {{ data.address  if data.address }} </td>
            </tr>
            <tr>
                <td> Code postal </td>
                <td> {{ data.zipcode if data.zipcode }} </td>
            </tr>
            <tr>
                <td> Ville </td>
                <td> {{ data.city  if data.city }} </td>
            </tr>
            <tr>
                <td> Département </td>
                <td> {{ data.dept if  data.dept }} </td>
            </tr>
            <tr>
                <td> Nombre d'écrans </td>
                <td> {{ data.nbscreens}} </td>
            </tr>
            <tr>
                <td> ip tinc </td>
                <td> {{ data.iptinc }} </td>
            </tr>
            <tr>
                <td> free space </td>
                <td>
                    {% if  tclient.free_space %}
                    {{tclient.free_space | filesizeformat}} </td>
                    {% else %}
                    Inconnu
                    {% endif %}

            </tr>
        </table>
    </div>
</div>




<div class = "row">
    <p> <h2> Distribution</h2> </p>
</div>


<div class = "row">
{{ table_distribution() }}
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Supprimer la fiche du ditributeur {{data.name}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Supprimer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(exhibitor=data) }}
<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
{% endblock %}
