{% extends "base.html" %}

{% from "_common_macros.html" import transmission_client_with_login %}

{% block page_content %}
<div class="page-header">
    <h1> Préferences - Exploitants </h1>
    <h1> Démarage automatique des transferts </h1>
</div>

<div class = "row" >
    <p>
    <a href="{{ url_for('.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
    </p>
</div>


<div class="row" >
    {% if data %}
    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> ID </th>
                <th > Cinéma </th>
                <th > ville </th>
                <th > Start auto </th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            <td> {{item.exhibitorid }} </td>
            <td>
                <a href="{{ url_for('.details', id = item.exhibitorid) }}" /> {{ item.name }}</a>
            </td>
            <td> {{ item.city }} ({{item.dept}})  </td>
            <td> {{ item.startauto }} </td>
        </tr>
        {% endfor %}
    </table>
    <{% endif %}
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="paskdelete">  </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/filesize.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    var pnew = jQuery('<p/>', {
        id:'paskdelete',
        text: 'Supprimer ' + $('#btndelete').data('id') +'?' ,
    });

    var old = $(".modal-body #paskdelete");
    old.replaceWith(pnew);
});

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[3, 'desc']],
    });
} );
</script>

{% endblock %}
