html {
      position: relative;
        min-height: 100%;
    }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin-bottom: 60px;
}
td.details-control {
	background: url('../img/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../img/details_close.png') no-repeat center center;
}



p.dcpname {
width: 200px; /* à modifier selon vos besoins */
overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.btn-space {
    /* margin-top: 50px; */
    margin-bottom: 5px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.status {
  padding: 5px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.status h4 {
  margin-top: 0;
  color: inherit;
}
.status .status-link {
  font-weight: bold;
}
.status > p,
.status > ul {
  margin-bottom: 0;
}
.status > p + p {
  margin-top: 5px;
}
.status-dismissable,
.status-dismissible {
  padding-right: 35px;
}
.status-dismissable .close,
.status-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.status-allowed {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.status-allowed hr {
  border-top-color: #c9e2b3;
}
.status-allowed .status-link {
  color: #2b542c;
}
.status-canceled {
  color: #555;
  background-color: #ddd;
  border-color: #ccc;
}
.status-canceled hr {
  border-top-color: #a6e1ec;
}
.status-canceled .status-link {
  color: #245269;
}
.status-pending {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.status-pending hr {
  border-top-color: #f7e1b5;
}
.status-pending .status-link {
  color: #66512c;
}
.status-denied {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.status-denied hr {
  border-top-color: #e4b9c0;
}
.status-denied .status-link {
  color: #843534;
}

