{% macro movie_extra(extra) -%}
    {% if extra %}
    {% for col in extra.columns() %}

    {% if col == 'id' %} {% continue %} {% endif %}
    {% if col == 'movie_id' %} {% continue %} {% endif %}
    {% if col == 'short_id' %} {% continue %} {% endif %}
    {% if col == 'website_dsc' %} {% continue %} {% endif %}
    {% if col == 'website_url' %}
    <tr>
        <td> Site web </td>
        <td>
            {{ extra | attr(col) | urlize(40) }}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
{%- endmacro %}
