{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1>Tous les films</h1>
</div>

<div class="container-fluid">
    <div class = "row" >
        <p>
        <a href="{{ url_for('.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
        </p>
    </div>


    <div class="row" >
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
            <thead>
                <tr>
                    <th> ID </th>
                    <th> valid </th>
                    <th> Film  </th>
                    <th > Distributeur </th>
                    <th > Date de sortie </th>
                    <th> FTR disponible(s) </th>
                    <th> TLR disponibles(s) </th>
                    <th > Action </th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p> Supprimer  <span id="pmovie"> </span> ? </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok open-AddBookDialog">Supprimer</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>


<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
        "ajax": {
            "url": "{{ url_for('.getMoviesJson') }}",
        },
        "columns": [
        { "data": "movieid" },
   {
            "data": "valid",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                $("<div>",{
                    'text': data,
                }).appendTo($todisplay);

                return $todisplay.html();

            },
        },



        {
            "data": "title",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/admin/movies/details/' + row.movieid,
                    'text': data
                });

                if ( !row.valid ){
                    link.addClass('text-muted');
                    link = $('<s>').append(link);
                };
                link.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        { "data": "distributor",
         "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/admin/distributors/details/' + row.distributorid,
                    'text': data
                });

                if ( !row.valid ){
                    link.addClass('text-muted');
                    link = $('<s>').append(link);
                };
                link.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        { "data": "releasedate" },
        {
            "data": 'nb_ftrs',
            "render": function ( data, type, row ) {
                var $todisplay = $('<div>');
                var span =$('<span>', {
                    'class':'glyphicon',
                    'aria-hidden': 'true',
                    'text': data});

                if (data > 0) {
                    span.addClass('glyphicon-ok');
                    span.attr('style','color:green');
                } else {
                    span.addClass('glyphicon-remove');
                    span.attr('style','color:red');
                };

                span.appendTo($todisplay);
                return $todisplay.html();
            }
        },
        {
            "data": 'nb_tlrs',
            "render": function ( data, type, row ) {
                var $todisplay = $('<div>');
                var span =$('<span>', {
                    'class':'glyphicon',
                    'aria-hidden': 'true',
                    'text': data});

                if (data > 0) {
                    span.addClass('glyphicon-ok');
                    span.attr('style','color:green');
                } else {
                    span.addClass('glyphicon-remove');
                    span.attr('style','color:red');
                };

                span.appendTo($todisplay);
                return $todisplay.html();
            }
        },
        {
            "data": null,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var group = $('<div>',{
                    'class':'btn-toolbar',
                    'role':'toolbar'});

                var button = $('<a>', {
                    'type': 'button',
                    'role': 'button',
                    'class':'btn btn-primary',
                    'title': ' Modifier ' + row.title,
                    'href': './edit/' + row.movieid
                }).appendTo(group);

                $('<i>', {
                    'class': 'fa fa-edit'}).
                    appendTo(button);


                button = $('<button>', {
                    'type': 'button',
                    'class':'delete btn btn-primary',
                }).appendTo(group);


                $('<i>', {
                    'class': 'fa fa-trash'}).
                    appendTo(button);
                group.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        ],
        "order" : [[0, 'desc']],
        "pageLength": 50,
        "lengthMenu": [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
    });

$('#DefaultTable tbody ').on( 'click', 'button.delete',  function(event){
    var data = table.row( $(this).parents('tr') ).data();
    $('.modal-body #pmovie').text(data['title']);
    $('.modal-footer .btn-ok').attr('href', './delete/' + data['movieid']);
    var $modalwindow = $('#confirm-delete');
    $modalwindow.modal();
});

} );
</script>

{% endblock %}
