{% extends "baseV2.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "admin/movies/_macros.html" import movie_extra %}
{% from "_common_macros.html" import item_valid %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}

<div class ="container-fluid">
    <div class="page-header">
        <h1>
            {{ item_valid(movie.valid, movie.title) }}
        </h1>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="NotifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id ='formNotify' class="form form-horizontal" method="post" role="form" action='notifydistributor/'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Notification de mise à disposition</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="subjectInput"> subject </label>
                        <input type="text" class="form-control" id="subjectInput" name="subject" required />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="toInput"> Pour(emails) </label>
                        <input type="text" class="form-control" id="toInput" name="to" required />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="message">Message</label>
                        <textarea rows="15" class="form-control" id="message" name="message" required>
                            Bonjour TEST DISTRIBUTEUR,
                        </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AskDcpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id ='formAskDcp' class="form form-horizontal" method="post" role="form" action='notifydistributor/'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Demande de Dcp</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="subjectInput"> subject </label>
                        <input type="text" class="form-control" id="subjectInput" name="subject" required />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="toInput"> Pour(emails) </label>
                        <input type="text" class="form-control" id="toInput" name="to" required />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="message">Message</label>
                        <textarea rows="15" class="form-control" id="message" name="message" required>Bonjour TEST DISTRIBUTEUR,</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                </div>
            </div>
        </form>
    </div>
</div>


<!-- End Modals -->
<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= movie.movieid) }}"  > Modifier </a>

                        <a class="btn btn-primary" role="button" href="{{ url_for('.delete', id= movie.movieid) }}" >
                            Supprimer
                        </a>
                    </div>
                </div>
        <table class="table table-striped table-bordered table-condensed" >
            <tr>
                <td> Id </td>
                <td>
                    {{movie.movieid}}
                </td>
            </tr>
            <tr>
                <td> Valid ? </td>
                <td>
                    {{movie.valid}}
                </td>
            </tr>
            <tr>
                <td> Titre </td>
                <td>
                    {{ item_valid(movie.valid, movie.title) }}
                </td>
            </tr>
            {% if movie.distributor.original_title %}
            <tr>
                <td> Titre original: </td>
                <td> {{ movie.distributor.name }} </td>
            </tr>
            {% endif %}
            <tr>
                <td> Distributeur: </td>
                <td>
                    <a href="{{ url_for('admin_distributors.details', id = movie.distributor.distributorid) }}" >
                        {{ movie.distributor.name }}
                    </a>
                </td>
            </tr>
            <tr>
                <td> Date de sortie: </td>
                <td> {{ movie.releasedate | datefr }} </td>
            </tr>
            <tr>
                <td> Catalogue </td>
                <td>
                    {% for cata in movie.catalogues %}
                    <span> <a href="{{ url_for('admin_catalogues.details', id = cata.id) }}" class="btn btn-default" type="button"/> {{ cata.name }} </a> </span>
                    {% endfor %}
                </td>
            </tr>


            <tr>
                <td> Tags </td>
                <td>
                    {% for tag in movie.tags %}
                    <span> <a href="{{ url_for('admin_tags.details', id = tag.id) }}" class="btn btn-default" type="button"/> {{ tag.name }} </a> </span>
                    {% endfor %}
                </td>
            </tr>
            {{ movie_extra(movie.extra) }}

        </table>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8" >
            <button type="button" class="btn btn-primary"
                                  data-toggle="modal" data-target="#AskDcpModal" data-movieid="{{ movie.movieid}}">
                Demande de DCP
            </button>
            <a class="btn btn-primary" role="button" href={{ url_for('admin.upload_torrent' , movie= movie.movieid) }}> Upload torrent </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8" >
            {% if dcps %}
            <h3> Information sur les DCP </h3>
            <form action="" method="post" name="delete_dcp">
                {{ form.csrf_token }}
                <table class="table table-striped table-bordered table-condensed"
                       data-click-to-select="true" >
                       <thead>
                           <tr>
                               <th> Type        </th>
                               <th> Nom du DCP </th>
                               <th> taille </th>
                               <th>  date de création du torrent </th>
                               <th> Delete </th>
                               <th> Torrent </th>
                               <th> Notifier </th>
                           </tr>
                       </thead>

                       {% for _dcp in dcps %}
                       <tr>
                           <td> {{ _dcp.contentkind }}</td>
                           <td>

                               <a href="{{ url_for('admin_dcps.details', id =_dcp.dcpid) }}" >
                                   {% if _dcp.valid %}
                                   <span>
                                       {{ _dcp.name }}
                                       {% else %}
                                       <span class="text-muted" >
                                           <del> {{ _dcp.name }} </del>
                                           {% endif %}
                                       </span>

                               </a>
                           </td>
                           <td>
                               {% if _dcp.size %}
                               {{ _dcp.size|filesizeformat }}
                               {% else %}
                               Not defined
                               {% endif %}
                               <td> {{ _dcp.torrent_creation }}</td>
                               <td>
                                   <input type="checkbox" id="{{_dcp.dcpid}}" name="dcps" value="{{_dcp.dcpid}}" />
                               </td>
                               <td>
                                   <a href="{{ url_for('.download',id= _dcp.dcpid) }}"
                                      class="btn" role="button" title="Télécharger le fichier torrent" download>
                                       <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                   </a>
                               </td>
                               <td>
                                   <!-- Button trigger modal -->
                                   <button type="button" class="btn btn-primary"
                                                         data-toggle="modal" data-target="#NotifyModal" data-dcpid="{{_dcp.dcpid}}">
                                       Notifier le distributeur
                                   </button>
                               </td>


                       </tr>
                       {% endfor %}
                </table>
                <p><input type="submit" value="Delete Dcp(s) "></p>
            </form>
        <button type="button" class="btn btn-primary"
                              data-toggle="modal" data-target="#NotifyModal" data-movieid="{{movie.movieid}}">
            Notifier le distributeur pour tout les DCPs du film
        </button>

            {% else %}
            <p> Pas de DCP associé à ce film. </p>
            {% endif %}

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class = "row">
         <div class="col-lg-12" >
            <h3> Distribution</h3>
        </div>
    </div>
    {{ table_distribution() }}
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(movie=movie) }}
<script>
$('#NotifyModal').on('show.bs.modal', function(event) {

    var button = $(event.relatedTarget);
    var myurl;
    if (   button.data('dcpid')) {
        myurl = '../notifydistributorDcp/' + button.data('dcpid');
    }

    else if (   button.data('movieid')) {
        myurl = '../notifydistributorMovie/' + button.data('movieid');
    }
    else {
        console.log('No valid button found');
        return;
    }
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#NotifyModal');
        $modalwindow.find('#formNotify' ).attr('action',myurl);
        $modalwindow.find('#formNotify #subjectInput').attr('value',data.subject);
        $modalwindow.find('#formNotify #toInput').attr('value',data.to);
        $modalwindow.find('#formNotify #message').text(data.body);
    });
});
</script>
<script>
$('#AskDcpModal').on('show.bs.modal', function(event) {

    var button = $(event.relatedTarget);
    var myurl;

    if (   button.data('movieid')) {
        myurl = '../askDcp/' + button.data('movieid');
    }
    else {
        console.log('No valid button found');
        return;
    }
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#AskDcpModal');
        $modalwindow.find('#formAskDcp' ).attr('action',myurl);
        $modalwindow.find('#formAskDcp #subjectInput').attr('value',data.subject);
        $modalwindow.find('#formAskDcp #toInput').attr('value',data.to);
        $modalwindow.find('#formAskDcp #message').text(data.body);
    });
});
</script>

{% endblock %}
