{% extends "base.html" %}
{% import "admin/movies/template_form.html" as movie_form %}

{% block page_content %}
<div class="page-header">
        <h1>Edition de {{movie.title}}</h1>
</div>

<div class="row" >
<div class="col-md-4">
        {{ movie_form.movie_form(form) }}
</div>
</div >


{% endblock %}
