{% extends "baseV2.html" %}
{% import "admin/movies/template_form.html" as movie_form %}

{% block page_content %}

<div class="container-fluid">
    <div class="page-header" >
        <h2> Nouveau Film: </h2>
    </div>

</div>
<div class="container-fluid">
    <div class = "row" >
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" role="button"  href="{{ url_for('.home') }}">
                    Annuler création
                </a>

            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-8">
            <div>
            {{ movie_form.movie_form(form) }}
            </div>
        </div>
    </div >
</div>

{% endblock %}
