{% macro email_legal_footnote() %}
<div>
<p>
Bien cordialement,
</p>

<p>
L’équipe indé-CP <br/>
01 86 95 02 25   <br/>
contacter@indecp.org <br/>
<a href="http://www.indecp.org">  indecp.org </a>  <br/>
</p>
</div>
<div>
<p>
<i> Note: Ne pas répondre ceci est un mail automatique </i>
</p>
<p>
Ce message et toutes les pièces jointes (ci-après le 'message') sont
confidentiels et établis à l'intention exclusive de ses destinataires
Si vous n'êtes pas destinataire de ce message, merci de le détruire et d'en
avertir immédiatement l'expéditeur. Toute utilisation ou diffusion non
autorisée est interdite. Tout message électronique est susceptible
d'altération, aussi Cinémascop / indé-CP décline toute responsabilité au
titre de ce message dans l'hypothèse où il aurait été modifié.
</p>
</div>
{% endmacro %}
