{% from "_distribution_status.html" import contentkind_label %}

{% macro table_distribution_head() %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endmacro %}

{% macro table_distribution() %}
<div class="row">
    <div class="col-lg-12">

        <table id="dt_110x" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Dist id</th>
                    <th>Film </th>
                    <th>Nom DCP </th>
                    <th>Distrib</th>
                    <th>Exploitant</th>
                    <th>Date de sortie</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Status </th>
                    <th> </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Dist id</th>
                    <th>Film </th>
                    <th>Nom DCP</th>
                    <th>Distrib</th>
                    <th>Exploitant</th>
                    <th>Date de sortie</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Status </th>
                    <th> </th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro table_distribution_scripts(exhibitor=  none  , distributor= none, movie = none, contentkind = none ) %}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

    // set jinja2 template variables as js vars
    var exhibitor = null;
    var distributor = null;
    var movie = null;
    var contentkind = null;
    {% if exhibitor is not none() %}
    exhibitor = {{exhibitor.exhibitorid}};
    {% endif %}
    {% if distributor is not none() %}
    distributor = {{distributor.distributorid}};
    {% endif %}
    {% if movie is not none() %}
    movie = {{movie.movieid}};
    {% endif %}
    {% if contentkind is not none() %}
    contentkind = '{{contentkind}}';
    {% endif %}




    update_locales()

    var myTable = $('#dt_110x').DataTable({
        "processing": true,
        "serverSide": true,
        "pageLength": 50,
        "lengthMenu": [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
        "ajax": {
            "url": "{{ url_for('admin.distributiondata') }}",
            "data": function ( d) {
                d.exhibitor = exhibitor
                d.distributor = distributor
                d.movie = movie
                d.contentkind = contentkind
            }
        },
        dom: 'Blfrtip',
        buttons: [
            'csv', 'pdf', 'print'
        ],
        "columns": [
        // 0 -- Distribution ID
            {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                cel_text = $('<span>', {
                    'text': data});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            }
            },

            // 1 -- film name
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/admin/movies/details/' + row[11],
                    'text': data
                });
                if (row[15] == 'False') {
                    link.addClass('text-muted');
                }
                link.appendTo($todisplay);
                return $todisplay.html();

            }
        },
        // 2 -- dcp name
        {
            "render": function ( data, type, row ) {
                var contentkind = render_contentkind_label(row[10], false);
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'class' : 'small',
                    'text': data});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                    cel_text.text('');
                    $('<s>',{
                        'text': data}).appendTo(cel_text);
                    contentkind = render_contentkind_label(row[10], true);
                } else {
                    contentkind = render_contentkind_label(row[10],false);
                }
                $todisplay.append(contentkind);
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            }
        },
         // 3 -- Distributor
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/admin/distributors/details/' + row[12],
                    'text': data
                });
                if (row[15] == 'False') {
                    link.addClass('text-muted');
                }
                link.appendTo($todisplay);
                return $todisplay.html();
            }
        },
         // 4 -- Exhibitor
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/admin/exhibitors/details/' + row[13],
                    'text': data
                });
                if (row[15] == 'False') {
                    link.addClass('text-muted');
                }
                link.appendTo($todisplay);
                return $todisplay.html();

            }
        },
         // 5 -- Release Date
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': data});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);

                return $todisplay.html();
            }
        },

         // 6 -- Autorisation Date
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_datetime(data,type)});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            }
        },
         // 7 -- Start Date
        {
             "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_datetime(data,type)});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();
           }
        },
         // 8 -- End Date
        {
             "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_datetime(data,type)});
                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();
           }
        },
         // 9 -- Distribution status
        {
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var status_text= "";
                switch(data) {
                    case "0":
                        status_text = "NON AUTORISÉ";
                        break;
                    case "1":
                        status_text = "AUTORISÉ";
                        break;
                    case "2":
                        status_text = "DÉMARRÉ";
                        break;
                    case "4":
                        status_text = "TERMINÉ";
                        break;
                    case "128":
                        status_text = "ERREUR";
                        break;
                    default:
                    status_text = data;
                }
                var cel_text = $('<span>', {
                    'text': status_text});

                if (row[15] == 'False') {
                    cel_text.addClass('text-muted');
                }
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            }
        },


        // 9 -- dcp content kind
        { "visible":false, "searchable":false} ,
        // 10 -- movieid
        { "visible":false, "searchable":false} ,
        // 11 -- distributorid
        { "visible":false, "searchable":false} ,
        // 12 -- exhibitorid
        { "visible":false, "searchable":false} ,
        // 13 -- dcpid
        { "visible":false, "searchable":false} ,
        // 14 -- dcp valid
        { "visible":false, "searchable":false} ,
        ],

        {% if contentkind == 'FTR' %}
        "order" : [[6, 'desc'], [7, 'desc'], [8, 'desc'] ]
        {% else %}
        "order" : [[8, 'desc']]
        {% endif %}

    });

    // hide movie column when a movie is selected
    if (movie) {
       myTable.column(1).visible(false);
    }
    // hide distributor column when a distributor is selected
    if (distributor) {
       myTable.column(3).visible(false);
    }
    // hide exhibitor column when a exhibitor is selected
    if (exhibitor) {
       myTable.column(4).visible(false);
    }



    var col_autorsiation = 4;
    var col_start = 5;
    var col_finish = 6;

    var datepickerDefaults = {
        showTodayButton: true,
        showClear: true
    };

    // initilisation of datetime pickers
     $('#datePickerAutorisationDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerAutorisationDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerStartDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerStartDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerFinishDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
    });

    $('#datePickerFinishDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    // date time picker events
    $("#datePickerAutorisationDLBegin").on("dp.change", function(e) {
        $('#datePickerAutorisationDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });


    $("#datePickerAutorisationDLEnd").on("dp.change", function(e) {
        $('#datePickerAutorisationDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });

    $("#datePickerAutorisationDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });

    $("#datePickerStartDLBegin").on("dp.change", function(e) {
        $('#datePickerStartDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);
    });


    $("#datePickerStartDLEnd").on("dp.change", function(e) {
        $('#datePickerStartDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);

    });

    $("#datePickerStartDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);

    });


    $("#datePickerFinishDLBegin").on("dp.change", function(e) {
        $('#datePickerFinishDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);
    });


    $("#datePickerFinishDLEnd").on("dp.change", function(e) {
        $('#datePickerFinishDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);

    });

    $("#datePickerFinishDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);
    });



});
</script>
{% endmacro %}

{% macro table_distribution_short() %}
<div class="row">
    <div class="col-lg-12">

        <table id="dt_110x" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Film </th>
                    <th> catalogue</th>
                    <th>Nom DCP </th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th> </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Film </th>
                    <th>Catalogue</th>
                    <th>Nom DCP</th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th> </th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
    </div>
</div>
{% endmacro %}


{% macro table_distribution_short_scripts(exhibitor=  none  , distributor= none, movie = none ) %}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

    // set jinja2 template variables as js vars
    var exhibitor = null;
    var distributor = null;
    var shr = null;
    {% if exhibitor is not none() %}
    exhibitor = {{exhibitor.exhibitorid}};
    {% endif %}
    {% if distributor is not none() %}
    distributor = {{distributor.distributorid}};
    {% endif %}


    update_locales()


    var myTable = $('#dt_110x').DataTable({
        "processing": true,
        "serverSide": true,
        "pageLength": 50,
        "lengthMenu": [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
        "ajax": {
            "url": "{{ url_for('.distributionshort') }}",
            "data": function ( d) {
                d.exhibitor = exhibitor
                d.distributor = distributor
                d.shr = null
            }
        },
        dom: 'Blfrtip',
        buttons: [
            'csv', 'pdf', 'print'
        ],
        "columns": [
            // 0 -- film name
        {
            "render": function ( data, type, row ) {
                var todisplay = data;
                return todisplay;
            }
        },
          // 1 -- RADI
        {
            "render": function ( data, type, row ) {
                var todisplay = data;
                return todisplay;
            }
        },
        // 2 -- dcp name
        {
            "render": function ( data, type, row ) {
                var contentkind = render_contentkind_label(row[7], false);
                var $todisplay = $("<div>");
                $todisplay.append(contentkind);
                $('<small>', {
                    'text': data}).appendTo($todisplay);
                return $todisplay.html();
            }
        },
        // 3 -- Exhibitor
        {
            "render": function ( data, type, row ) {
                var todisplay ='<a href="/admin/exhibitors/details/' + row[10] + '" />' +
                    data +
                '</a>';
                return todisplay;
            }
        },
         // 4 -- Autorisation Date
        {
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            },
            "visible":false,
        },
         // 5 -- Start Date
        {
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            }
        },
         // 6 -- End Date
        {
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            }
        },
        // 7 -- dcp content kind
        { "visible":false, "searchable":false} ,
        // 8 -- movieid
        { "visible":false, "searchable":false} ,
        // 9 -- distributorid
        { "visible":false, "searchable":false} ,
        // 10 -- exhibitorid
        { "visible":false, "searchable":false} ,
        // 11 -- dcpid
        { "visible":false, "searchable":false} ,
 
        ],
        "order" : [[5, 'desc'], [4, 'desc'], [6, 'desc'] ]

    });


    var col_autorsiation = 4;
    var col_start = 5;
    var col_finish = 6;

    var datepickerDefaults = {
        showTodayButton: true,
        showClear: true
    };

    // initilisation of datetime pickers
     $('#datePickerAutorisationDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerAutorisationDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerStartDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerStartDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    $('#datePickerFinishDLBegin').datetimepicker({
        locale:'fr',
        format:'L',
    });

    $('#datePickerFinishDLEnd').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });

    // date time picker events
    $("#datePickerAutorisationDLBegin").on("dp.change", function(e) {
        $('#datePickerAutorisationDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });


    $("#datePickerAutorisationDLEnd").on("dp.change", function(e) {
        $('#datePickerAutorisationDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });

    $("#datePickerAutorisationDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerAutorisationDLBegin'),$('#datePickerAutorisationDLEnd'), col_autorsiation, myTable);
    });

    $("#datePickerStartDLBegin").on("dp.change", function(e) {
        $('#datePickerStartDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);
    });


    $("#datePickerStartDLEnd").on("dp.change", function(e) {
        $('#datePickerStartDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);

    });

    $("#datePickerStartDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerStartDLBegin'),$('#datePickerStartDLEnd'), col_start, myTable);

    });


    $("#datePickerFinishDLBegin").on("dp.change", function(e) {
        $('#datePickerFinishDLEnd').data("DateTimePicker").minDate(e.date);

        dateTimePickerSearch($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);
    });


    $("#datePickerFinishDLEnd").on("dp.change", function(e) {
        $('#datePickerFinishDLBegin').data("DateTimePicker").maxDate(e.date);

        dateTimePickerSearch($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);

    });

    $("#datePickerFinishDLClear").on("click", function(e) {
        dateTimePickerClear($('#datePickerFinishDLBegin'),$('#datePickerFinishDLEnd'), col_finish, myTable);
    });



});
</script>
{% endmacro %}

