{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1> Administrator view :: {{administrator.email}}</h1>
</div>

<div class = "row" >
    <div class="table-responsive">
        <table id="cinemaclienttable" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th> Salle  </th>
                    <th> IP tinc </th>
                    <th> État </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> Salle  </th>
                    <th> IP tinc </th>
                    <th> État </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
var table =$('#cinemaclienttable').DataTable({
    "ajax"      : '{{ url_for('.getcinemastatus') }}',
    "columns" : [
        {
        data: 'exhibitor',
        },
        {
        data: 'iptinc',
        },
        {
        data: 'status',
        },
    ],
    "order" : [[2, 'asc']]
});

setInterval( function () {
        table.ajax.reload();
}, 5000 )

</script>
{% endblock %}
