{% extends "base.html" %}
{% from "_common_macros.html" import RenderON %}

{% block page_content %}
<div class="page-header">
<h1> Détail autorisation </h1>
</div>

{% if data %}
<div class="row">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
    <tr>
        <td> distributionid </td>
        <td> {{ data.distributionid }} </td>
    </tr>
    <tr>
        <td> dcp </td>
        <td> {{ data.dcp }} ( {{data.dcp.contentkind}} ) </td>
    </tr>
    <tr>
        <td> exploitant </td>
        <td> {{ data.exhibitor }} ( {{data.exhibitorid}} ) </td>
    </tr>
    <tr>
        <td> Autorisé? </td>
        <td> {{ data.isauthorised }} </td>
    </tr>
    <tr>
        <td> status </td>
        <td>
            {% if data.status == 0 %}
                DL_NOT_AUTHORIZED
            {% elif data.status == 1 %}
                DL_AUTHORIZED
            {% elif data.status == 2 %}
                DL_STARTED
            {% elif data.status == 4 %}
                DL_FINISHED
            {% else %}
                DL_ERROR ({{ data.status}})
            {% endif %}
       
        </td>
    </tr>
    <tr>
        <td> Date authorization </td>
        <td> {{ data.autorisation_date}} </td>
    </tr>
    <tr>
        <td> Date début</td>
        <td> {{ data.started_transfer_date}} </td>
    </tr>
    <tr>
        <td> Date fin</td>
        <td> {{ data.finished_transfer_date}} </td>
    </tr>







</table>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}

</script>

{% endblock %}
