{% from "_distribution_status.html" import contentkind_label %}
{% extends "base.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution_short %}
{% from "admin/_table_distribution.html" import table_distribution_short_scripts %}
{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}


{% block page_content %}
<div class="page-header">
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="{{ url_for('admin.distribution_status') }}">Features </a></li>
  <li role="presentation"><a href="{{ url_for('admin.distribution_status_TLR') }}">Trailers</a></li>
  <li role="presentation" class="active" ><a href="{{ url_for('admin.distribution_short_status') }}">Shorts</a></li>
</ul>


<h1>  SHORTS DCP distribution </h1>
</div>

    {{ table_distribution_short() }}

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_short_scripts() }}

{% endblock %}
