{% from "_distribution_status.html" import contentkind_label %}
{% extends "base.html" %}
{% from "admin/_table_distribution.html" import table_distribution_head %}
{% from "admin/_table_distribution.html" import table_distribution %}
{% from "admin/_table_distribution.html" import table_distribution_scripts %}
{% from "_datepicker.html" import datePickerRange %}
{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}


{% block page_content %}
<div class="page-header">
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{{ url_for('admin.distribution_status') }}" >Features </a></li>
  <li role="presentation"><a href="{{ url_for('admin.distribution_status_TLR') }}">Trailers</a></li>
  <li role="presentation"><a href="{{ url_for('admin.distribution_short_status') }}">Shorts</a></li>
</ul>
<h1> FEATURES DCP Distribution  </h1>
</div>

<div class="row">
    <a href="#AdvSearch" class="btn btn-default" data-toggle="collapse">Recherche avancée</a>
    <div id="AdvSearch" class="collapse">
        {{ datePickerRange('Filtre par Autorisation', 'datePickerAutorisationDL') }}
        {{ datePickerRange('Filtre par début de téléchargment', 'datePickerStartDL') }}
        {{ datePickerRange('Filtre par fin de téléchargment', 'datePickerFinishDL') }}
    </div>
</div>

    {{ table_distribution() }}

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(contentkind='FTR') }}

{% endblock %}
