{% extends "base.html" %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% block page_content %}
<div class="page-header">
<h1> Téléchargements en cours</h1>
</div>

<div class = "row" >
<div class="table-responsive">
<table id="torrentstable" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th> </th>
            <th> Exploitant  </th>
            <th>Film </th>
            <th>Progression</th>
            <th>État</th>
            <th>Update</th>
            <th>click</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th> </th>
            <th> Salle </th>
            <th>Film</th>
            <th>Progression</th>
            <th>État</th>
            <th>Update</th>
            <th>click</th>
        </tr>
    </tfoot>
</table>
</div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script>

update_locales();
function make_buttons(dcpid){

    var todisplay = '<div class="btn-group btn-group-sm" role="group" aria-label="...">' +
    '<a href="delete_dcp/' + dcpid + '"  class="btn " role="button"title="Effacer le torrent" >' +
    '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
    '</a>' +
    '<a href="verify_dcp/' + dcpid + '"class="btn" role="button" title="Vérifier le transfert">' +
    '<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>' +
    '</a>' +
    '</div>';
    return todisplay;
}

function format ( d ) {
    // 'd' is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
        '<td> Nom du DCP: </td>'+
        '<td>'+d.dcpname+'</td>'+
        '</tr>'+
        '<tr>'+
        '<td> Date de reception estimée: </td>'+
        '<td>'+ d.eta +'</td>'+
        '</tr>'+
        '<tr>'+
        '<td> Début téléchargement :</td>'+
        '<td>'+render_datetime(d.date_added, 'display')+'</td>'+
        '</tr>'+
        '<tr>'+
        '<td>Fin téléchargement:</td>'+
        '<td>'+render_datetime(d.date_done, 'display')+'</td>'+
        '</tr>'+
         '<tr>'+
        '<td> Mise à jour: </td>'+
        '<td>'+render_datetime(d.update, 'display')+'</td>'+
        '</tr>'+
        '</table>';

}

var table =$('#torrentstable').DataTable({
    //    "processing": true,
    //    "serverSide": true,
    "ajax"      : '{{ url_for('.gettorrents') }}',
    "columns" : [
    {
        "className":      'details-control',
        "orderable":      false,
        "data":           null,
        "defaultContent": ''
    },
    {
        "data": 'exhibitor',
        "render": function ( data, type, row ) {
                var todisplay ='<a href="/admin/exhibitors/details/' + row['exhibitorid'] + '" />' +
                    data +
                '</a>';
                return todisplay;
            }

    },
    {
       "data": 'name',
        "render": function ( data, type, row ) {
            var contentkind = render_contentkind_label(row['contentkind'], false);
            var $todisplay = $("<div>");
            $todisplay.append(contentkind);
            if ( row['movieid'] != 'unknown') {
                var $a_movie = $('<a>',{
                    'href' : '/admin/movies/details/'+row['movieid'],
                    'text':data
                    });
                //$a_movie.text(data);
            } else {
                var $a_movie = $('<span>', {
                    'text':data
                });
            }

            $todisplay.append($a_movie);

            return $todisplay.html();
        }
    },
    {
        "data": 'progress',
        "render": function ( data, type, row ) {
            return Math.round(data*100)/100 +' %';
        }
    },
    {
        "data": 'status',
        "render": function ( data, type, row ) {
            return data;
        }
    },
    {
        "data": "update",
        "type": "datetime-moment",
        "render": function ( data, type, row ) {
            var ldate =  render_datetime(data,type);
            return ldate;
        }


    },
    {
        "data": null,
        "render": function ( data, type, row ) {
            var dcpid =row['dcpid'];
            todisplay = make_buttons(row['dcpid']);
            return todisplay ;
            }
    }
    ],
    "order" : [[5, 'desc']]
});

// Array to track the ids of the details displayed rows
var detailRows = [];

$('#torrentstable tbody').on( 'click', 'tr td.details-control', function () {
    var tr = $(this).closest('tr');
    var row = table.row( tr );
    var idx = $.inArray( tr.attr('id'), detailRows );
    if ( row.child.isShown() ) {
        tr.removeClass( 'details' );
        row.child.hide();

        // Remove from the 'open' array
        detailRows.splice( idx, 1 );
    }
    else {
        tr.addClass( 'details' );
        row.child( format( row.data() ) ).show();

        // Add to the 'open' array
        if ( idx === -1 ) {
            detailRows.push( tr.attr('id') );
        }
    }
} );

// On each draw, loop over the 'detailRows' array and show any child rows
table.on( 'draw', function () {
    $.each( detailRows, function ( i, id ) {
        $('#'+id+' td.details-control').trigger( 'click' );
    } );
} );

setInterval( function () {
        table.ajax.reload();
}, 15000 )
</script>

{% endblock %}
