{% extends "base.html" %}
{% from "_common_macros.html" import RenderON %}

{% block page_content %}
<div class="page-header">
<h1> Demande de films par les exploitants </h1>
</div>

{% if demands %}
<div class="row">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
    <thead>
        <tr> <th> date de demande </th>
             <th> exploitant </th>
            <th> film  </th>
            <th> distributeur </th>
            <th> Officiel </th>
            <th> Autorisé ?
        </tr>
    </thead>
    {% for item in demands %}
    <tr>
        <td> {{item.demand_date}} </td>
        <td> <a href="{{ url_for('admin_exhibitors.details', id = item.exhibitorid) }}" />
                {{ item.exhibitor.name }}</a>
        </td>
         <td> <a href="{{ url_for('admin_movies.details', id = item.movie.movieid) }}" />
                 {{item.movie.title}}
            </a>
        </td>

        <td> <a href="{{ url_for('admin_distributors.details', id = item.distributor.distributorid) }}" />
                {{ item.distributor.name}}
            </a>
        </td>
        <td>
            {% if item.distributor.isdcpbay %}
            <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"> oui </span>
            {% else %}

            <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"> non </span>
            {% endif %}

        </td>
        <td>
            {% if item.is_autorised %}
            <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"> oui </span>
            {% else %}

            <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"> non </span>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'desc']]
    });
} );
</script>

{% endblock %}
