{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1> Utilisateurs </h1>
</div>

<div class="row">

    <div class="col-sm-6 col-md-4">
        <p>
        <a href="{{ url_for('auth.admin_register') }}" class="btn btn-primary" role="button">Add user</a>
        <a href="{{ url_for('auth.add_api_user') }}" class="btn btn-primary" role="button">Add API User</a>
        <a href="{{ url_for('auth.newexhibitor') }}" class="btn btn-primary" role="button">Add new exhibitor</a>
        <a href="{{ url_for('auth.regenerate_password') }}" class="btn btn-primary" role="button">
            Regenerate password (for distributors)
        </a>
        </p>
    </div>
</div>
{% if users %}
<div class="row">
    <form action="" method="post" name="delete_user">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
            <thead>
                <tr> <th> login </th>
                    <th> email </th>
                    <th> confirmed? </th>
                    <th> role </th>
                    <th> Last seen </th>
                    <th> Delete </th>
                </tr>
            </thead>
            {% for item in users %}
            <tr>
                <td> <a href="{{ url_for('admin.user', id = item.userid) }}" />
                        {{ item.login }}</a>
                </td>
                <td> {{item.email}} </td>
                <td>   {{ item.confirmed }} </td>
                <td>
                    {% if item.user_role == 'Distributor' and item.distributor %}
                    <a href="{{ url_for('admin_distributors.details', id = item.distributor.distributorid) }}"/> {{ item.user_role}} </a>
                    {% elif item.user_role == 'Exhibitor' and item.exhibitor%}
                    <a href="{{ url_for('admin_exhibitors.details', id = item.exhibitor.exhibitorid) }}"/> {{ item.user_role}} </a>
                    {% else %}
                    {{ item.user_role}}
                    {% endif %}
                </td>

                <td> {{ item.last_seen }} </td>
                <td>
                    <input type="checkbox" id="{{item.userid}}" name="delete" value="{{item.userid}}" /></td>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p><input type="submit" value="Delete user(s) "></p>
    </form>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var table =$('#DefaultTable').DataTable({
    "order" : [[4, 'desc']]
    });
} );
</script>

{% endblock %}
