{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1>Tous les films</h1>
</div>

<div class = "row" >
<p>
    <a href="{{ url_for('admin_movies.new') }}"  class="btn btn-primary" role="button" > Nouveau </a>
</p> 
</div>


<div class="row" >
{% if movies %}
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th> ID </th>
                <th> Film  </th>
                <th > Distributeur </th>
                <th > Date de sortie </th>
                <th > Action </th>
            </tr>
        </thead>
        {% for _movie in movies %}
            <tr>
                <td> {{_movie.movieid }} </td>
                <td> <a href="{{ url_for('admin_movies.details', id = _movie.movieid) }}" /> {{ _movie.title }}</a></td>
                <td> <a href="{{ url_for('admin.distributor', id = _movie.distributor.distributorid) }}" />
                        {{ _movie.distributor.name}}
                    </a>
                </td>
                <td> {{ _movie.releasedate | datefr}} </td>
                <td>
                    <a href="{{ url_for('admin_movies.delete', id = _movie.movieid) }}"
                       class="btn btn-primary" role="button" title="Supprimer {{ _movie.title}}">
                        <i class="fa fa-trash" > </i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</div>

<div class="row" >
<a href={{ url_for('admin.list_distributors') }}> Add distributor </a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[2, 'desc']]
    });
} );
</script>

{% endblock %}
