{% extends "base.html" %}
{% from "_common_macros.html" import RenderON %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">

{% endblock %}

{% block page_content %}
<div class="page-header">
<h1> Salles à relancer </h1>
</div>

<div class="row">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
    <thead>
        <tr>
            <th> Exploitant </th>
            <th> Film </th>
            <th> SN </th>
            <th> Autorisation </th>
            <th> Date relance </th>
            <th> SN - autorisation </th>
            <th> Autorisé depuis </th>
            <th> Relancer  </th>
        </tr>
    </thead>
</table>
</div>

<div class="modal fade" id="RelanceModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formAskForMovie' class="form form-horizontal" method="post" role="form" action='askformovie'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Relance de salle</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>

                    <div class="form-group  required"><label class="control-label" for="name">Exploitant</label>
                        <input class="form-control" id="name" name="name"
                        required type="text" value="TEST EXPLOITANT">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">Envoyer à</label>
                        <input class="form-control" id="to" name="to"
                        required type="text" value="TEST DISTRIBUTEUR">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Film</label>
                        <input class="form-control" id="movie" name="movie"
                        required type="text" value="MON FILM">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="message">Message</label>
                        <textarea rows="5" class="form-control" id="message" name="message" required>
                            Bonjour <span class="exhibithor"> TEST DISTRIBUTEUR </span>,

                        </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}


{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script id="text-relance-template" type="text/x-custom-template">
    Bonjour <span class="exhibitor"> test exploitant </span>,
Vous avez recu l'autorisation de téléchargement de:
<span class="movie"> MOVIE </span>
</script>


<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
    update_locales();
    var table = $('#DefaultTable').DataTable({
        "order" : [[3, 'desc']],
        "ajax": {
            "url": "{{ url_for('admin.relancesSallesJson') }}",
        },
        "columns": [
        {
            "data": "exhibitor",
            "render": function ( data, type, row ) {
                 var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_exhibitors.details', id = -1) }}"
                href = href.replace("/-1", "/"+row.exhibitorid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
            }
        },
        {
            "data": "movie",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_movies.details', id = -1) }}"
                href = href.replace("/-1", "/"+row.movieid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
           }
        },
        {
            "data": "releasedate" ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            },
        },
        {
            "data": "autorisation_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)});
                cel_text.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "last_reminder",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                if (data) {
                    var cel_text = $('<span>', {
                        'text': render_date(data,type)});
                    cel_text.appendTo($todisplay);

                    $('<br>').appendTo($todisplay);

                    var cel_text = $('<span>', {
                        'text': '('+moment(data).fromNow() + ')' });
                    cel_text.appendTo($todisplay);
                }
                return $todisplay.html();
            },
        },
        {
            "data": null ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var a = moment(row.releasedate);
                var b = moment(row.autorisation_date);
                a.diff(b)
                var cel_text = $('<span>', {
                    'text':  a.diff(b, 'days') + " jours" });
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            },
        },
        {
            "data": null ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var a = moment(row.releasedate);
                var b = moment(row.autorisation_date);
                var fromNow = moment(row.autorisation_date).fromNow('true');
                var cel_text = $('<span>', {
                    'text': fromNow });
                cel_text.appendTo($todisplay);
                return $todisplay.html();

            },
        },
        {
            "data": null ,
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var button = $('<button>', {
                    'type': 'button',
                    'class':'relance btn btn-primary',
                    'text': 'Relancer',
                        });

                button.appendTo($todisplay);
                return $todisplay.html();

            },
        },


        ],
    });

$('#DefaultTable tbody ').on( 'click', 'button.relance',  function(event){

    var data = table.row( $(this).parents('tr') ).data();
    var $modalwindow = $('#RelanceModal');

    var $element = $("<div>");
    var template = $('#text-relance-template').html();
    $element.append(template);

    $element.find('span.exhibitor').replaceWith(data.exhibitor);
    $element.find('span.movie').replaceWith(data.movie);


    console.log( 'relancer ' + data.exhibitor + ' pour le film ' + data.movie);
//    $modalwindow.modal();
    var csrftoken = $('meta[name=csrf-token]').attr('content');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });
    var posting = $.ajax({
        url: 'do_relance',
        type: 'POST',
        data: JSON.stringify({'distributionid': data.distributionid}),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
          console.log('success');
              },
    });

    posting.done(function( data ) {
        window.location.reload()
    });

});


} );


</script>

{% endblock %}
