{% extends "base.html" %}

{% from "_exhibitor_macros.html" import download_buttons %}
{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />


{% endblock %}

{% block page_content %}
<div class="page-header">
<h1> Courts métrages </h1>
<h3> Catalogue du radi </h3>
</div>

<div class = "row" >
{% if shorts %}
  {# <table id="short" class="display" > #}
    <table id="short" class="table table-striped table-bordered table-condensed" >
    <thead>
        <tr>
            <th class="dt-justify" > Titre </th>
             <th class="dt-center"> Réalisateur </th>
             <th> Type </th>
                 <th> Dcp </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
             <th> Titre </th>
             <th> Réalisateur </th>
             <th> Type </th>
                <th> </th>
        </tr>
    </tfoot>

    {% for _item in shorts %}
    <tr>
        <td style="word-break:normal" > {{ _item.title }}            </td>

        <td class="dt-center"> {{ _item.director }} </td>
        <td> {{ _item.tags }} </td>

        <td>
        {% if _item.dcps %}
                <table id="dcp"  width="100%" class="table-striped  table-condensed">
            {% for _dcp in _item.dcps %}
            <tr>
                <td  > <small> <p class="dcpname"> {{_dcp.name}} </p>  </small> </td>

                <td class="dt-right" > {{ download_buttons( _dcp.dcpid) }} </td>
            </tr>
            {% endfor %}
            </table>
        {% endif %}

        </td>

    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>


<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#short').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            'csv', 'pdf', 'print'
        ]
    } );
} );
</script>
{% endblock %}
