{% extends "baseV2.html" %}

{% block head %}

{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block page_content %}
{% set movie_request = data %}

<div class ="container-fluid">
    <div class="page-header">
        <h1> Page test </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <form id ='formContact' class="form form-horizontal" method="post" role="form" >
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='datetimepickerboostrap'>
                <input type='text' class="form-control" name="dateprogramed" id="dateBegin" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
         <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
            </form>
        </div>
    </div>
</div>

<div class ="container-fluid">


    <div class ="row">
        <p>  Da test </p>
    </div>


</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<script type="text/javascript">
$( function() {
     $('#datetimepickerboostrap').datetimepicker({
        locale:'fr',
        format:'L',
        useCurrent: false //Important! See issue #1075
    });
} );

</script>

<script type="text/javascript" charset="utf-8">
    $("#formContact").submit(function(e) {
        e.preventDefault()

        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        console.log(JSON.stringify( $(this).serializeArray() ));

        var posting = $.ajax({
            url: './do_test',
            type: 'POST',
            data: JSON.stringify( $(this).serializeArray() ),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function(msg) {
                console.log(msg);
            },
            error: function(msg) {
                console.log('fail');
                console.log(msg);
            },
        });


    });


</script>

{% endblock %}
