{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
<h1> Tracker messages </h1>
</div>

{% if messages %}
<table class="table table-striped table-bordered table-condensed table-summary" >
        <thead>
            <tr>
                <th > Event </th>
                <th > DCP </th>
                <th > date </th>
                <th > ip </th>
                <th > left0 </th>
            </tr>
        </thead>
        {% for _message in messages.items %}
            <tr>
                <td> {{ _message.event }} </td>
                <td>
                {% if _message.dcp.name %}
                    {{ _message.dcp.name }}
                {% endif %}
                </td>
                <td> {{ _message.stamp }} </td>
                <td>
                    {% if _message.exhibitor %}
                    {{ _message.exhibitor.name }}
                    {% endif %}
                </td>
                <td> {{ _message.left0 }} </td>
            </tr>
        {% endfor %}
    </table>

{% if messages.has_prev %}
    <a href="{{ url_for('admin.tracker_messages', page=messages.prev_num) }}">&lt;&lt; Newer messages</a>
{% else %}
    &lt;&lt; Newer messages (no has_prev)
{% endif %} | 
{% if messages.has_next %}
    <a href="{{ url_for('admin.tracker_messages', page=messages.next_num) }}">Older messages &gt;&gt;</a>
{% else %}
    Older messages &gt;&gt;
{% endif %}

{% endif %}
{% endblock %}
