{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="page-header">
        <h1> Utilisateur {{ user.login }}</h1>
</div>

<div class="row" >
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
</div >

{% endblock %}
