{% macro table_html( ) %}
<div class="row">
    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
        <thead>
            <tr>
                <th> distribution ID </th>
                <th> Exploitant</th>
                <th> Dcp </th>
                <th> Statut </th>
                <th> aurosisation date </th>
            </tr>
        </thead>
    </table>
</div>


{% endmacro %}


{% macro table_js(query_type='all' ) %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();

    var table = $('#DefaultTable').DataTable({
        "order" : [[0, 'desc']],
        "ajax": {
            "url": "{{ url_for('.authorisations_data', query_type=query_type) }}",
        },
        "columns": [
        {
            "data": 'distributionid',
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': 'details/' + data,
                    'text': data
                });

                link.appendTo($todisplay);
                return $todisplay.html();
            },
        },
        {
            "data": "exhibitor",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var href=   "{{ url_for('admin_exhibitors.details', id = -1) }}"
                    href = href.replace("/-1", "/"+row.exhibitorid);

                var $link = $('<a>',{
                    'href': href,
                }).appendTo($todisplay);

                $('<span>', {
                    'text': data
                }).appendTo($link);

                return $todisplay.html();
            },
        },
            {
                "data": "dcp",
                "render": function ( data, type, row ) {
                    var $todisplay = $("<div>");
                    var href=   "{{ url_for('admin_exhibitors.details', id = -1) }}"
                        href = href.replace("/-1", "/"+row.dcpid);

                    var $link = $('<a>',{
                        'href': href,
                    }).appendTo($todisplay);

                    $('<span>', {
                        'text': data
                    }).appendTo($link);

                    return $todisplay.html();
                }
            },
            {
                "data": "status",
                "class": "status",
                "render": function ( data, type, row ) {
                    var $todisplay = $("<div>");
                    $("<div>",{
                        'text': data,
                    }).appendTo($todisplay);

                    return $todisplay.html();

                },
            },
       {
            "data": "autorisation_date",
            "render": function ( data, type, row ) {
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'text': render_date(data,type)
                    }).appendTo($todisplay);
                return $todisplay.html();
            },
        },
                ],
    });

});

</script>


{% endmacro %}
