{% extends "baseV2.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
{% set movie_request = data %}

<div class ="container-fluid">
    <div class="page-header">
        <h1> Détails de l'autorisation </h1>
    </div>
</div>

<div class ="container-fluid">
    <div class ="row">
        <div class="col-md-6" >
            <table id="detailsTable" class="table table-striped table-bordered table-condensed">
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">

var globalData;


function DoPopulate(data) {
    update_locales();
    _table = $('#detailsTable');
    for ( x in data) {
        console.log(x);
        row =$('<tr>');
        $('<td>').text(x).appendTo(row);
        if (x == 'isauthorised') {
            $('<td>').text(data[x]).appendTo(row);
            _td =  $('<td>').appendTo(row)
                if (data[x]) {
            $('<button>', {
            'class':'btn btn-danger action-cancel',
            'text':'Annuler',
            }).appendTo(_td);
                } else {
            $('<button>', {
            'class':'btn btn-success action-allow',
            'text':'Autoriser',
            }).appendTo(_td);
                }
        } else{
            $('<td>').text(data[x]).appendTo(row);
            $('<td>').appendTo(row)
        }
        _table.append(row);
        };


    $('button.action-allow').click(function(event){

        var data=globalData;

        var csrftoken = $('meta[name=csrf-token]').attr('content');

     var csrf_token = "{{ csrf_token() }}";

     $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                                 if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                                     xhr.setRequestHeader("X-CSRFToken", csrf_token);
                                                                 }
                                         }
                                 });

        var posting = $.ajax({
            url: '../do_allow',
            type: 'POST',
            data: JSON.stringify([
                    {   'name':'id',
                        'value': data.distributionid
                    },
                    ]),
           contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {
            location.reload();
        });

        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });

    });

    $('button.action-cancel').click(function(event){

        var data=globalData;

        var csrftoken = "{{ csrf_token() }}";;

        console.log('Action deny ');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });


        var posting = $.ajax({
            url: '../do_cancel',
            type: 'POST',
            data: JSON.stringify([
                    {   'name':'id',
                        'value': data.distributionid
                    },
                    ]),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
        });

        posting.done( function(post_data) {
            location.reload();
        });

        posting.fail( function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });

    });

}




$(document).ready(function() {
    update_locales();
    var jqxhr = $.ajax({
        type: 'GET',
        url: '../detailsdata/{{ requestid }}',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true
    })
    .done(function( data ) {
        globalData = data.data;
        DoPopulate(globalData);
    })
    .fail(function() {
        alert( "error" );
    });


});

</script>

{% endblock %}
