{% extends "base.html" %}
{% from "admin/authorisations/_tables.html" import table_html, table_js %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">

{% endblock %}

{% block page_content %}
<div class="page-header">
<ul class="nav nav-tabs">
        <li role="presentation" ><a href="{{ url_for('.home') }}" > En attente </a> </li>
        <li role="presentation" ><a href="{{ url_for('.all') }}" > Toutes </a> </li>
</ul>
<h2> Film autroisé récement  </h2>
<p>    </p>
</div>

{{ table_html() }}

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

{{ table_js( query_type='new') }}

{% endblock %}
