{% extends "base.html" %}

{% block page_content %}

<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3>  Mon catalogue </h3>
                </div>
                <div class="panel-body" >
                    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
                        <thead>
                            <tr>
                                <th> Film  </th>
                                <th> Date de sortie </th>
                                <th> FTR disponible(s) </th>
                                <th> TLR disponibles(s) </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        {% for item in movies %}
                        <tr>
                            <td>  <a href = "{{ url_for('.details', id = item.movieid) }}" > {{ item.title }} </a></td>
                            <td>
                                {{ item.releasedate }}
                            </td>
                            <td>
                                {% if item.nb_valid_ftr > 0 %}
                                <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                                {% endif %}
                                {{ item.nb_valid_ftr}}
                            </td>
                            <td>
                                {% if item.nb_valid_tlr > 0 %}
                                <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                                {% endif %}
                                {{ item.nb_valid_tlr}}
                            </td>
                            <td> <a href="{{ url_for('distributor.distribute_movie', movieid= item.movieid) }}" class="btn btn-primary" role="button">Distribuer</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
        'columnDefs': [
        {
            'targets': 1,
            'visible': true,
            "render": function ( data, type, row ) {
                return render_date(data,type);
            }
        }
         ],
        "order" : [[1, 'desc']]
    });
} );
</script>

{% endblock %}
