{% extends "baseV2.html" %}

{% from "distributor/_table_distribution.html" import table_distribution_head %}
{% from "distributor/_table_distribution.html" import table_distribution %}
{% from "distributor/_table_distribution.html" import table_distribution_scripts %}
{% from "_distribution_status.html" import contentkind_label %}
{% from "admin/movies/_macros.html" import movie_extra %}
{% from "_common_macros.html" import item_valid %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}


{% block page_content %}

<div class="container-fluid">
    <div class="page-header">
        <h1>{{movie.title}} <a href="{{ url_for('distributor.distribute_movie', movieid= movie.movieid) }}" class="btn btn-primary" role="button">Distribuer </a> </h1>

    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8" >
            <div class="panel panel-default">
                <table class="table table-striped table-bordered table-condensed" >
                    <tr>
                        <td> Titre </td>
                        <td>
                            {{ item_valid(movie.valid, movie.title) }}
                        </td>
                    </tr>
        {% if movie.distributor.original_title %}
        <tr>
            <td> Titre original: </td>
            <td> {{ movie.distributor.name }} </td>
        </tr>
        {% endif %}
        <tr>
            <td> Date de sortie: </td>
            <td> {{ movie.releasedate | datefr }} </td>
        </tr>
        {% if movie.catalogues %}
        <tr>
            <td> Catalogue </td>
            <td>
                {% for cata in movie.catalogues %}
                <span> {{ cata.name }} </span>
                {% endfor %}
            </td>
        </tr>

        {% endif %}

        {% if movie.tags %}
        <tr>
            <td> Tags </td>
            <td>
                {% for tag in movie.tags %}
                <span>  {{ tag.name }} </span>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {{ movie_extra(movie.extra) }}

                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" >
            {% if movie.dcps %}
            <h3> DCPs associés: </h3>
            <table id="DcpTable" class="table table-striped table-bordered table-condensed" >
                <thead>
                    <tr>
                        <th> DCP </th>
                        <th> Taille </th>
                        <th> Date de mise à disposition </th>
                    </tr>
                </thead>

                {% for _dcp in movie.dcps %}
                <tr>
                    <td>
                        <span> {{ contentkind_label(_dcp.contentkind)}} </span>
                            {{ item_valid(_dcp.valid, _dcp.name) }}
                    </td>

                    <td>
                        {% if _dcp.size %}
                            {{ item_valid(_dcp.valid, _dcp.size | filesizeformat) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if _dcp.torrent_creation %}
                            {{ item_valid(_dcp.valid, _dcp.torrent_creation | mydatetime) }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p> Pas de DCP associé à ce film. </p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class = "row">
        <div class="col-lg-12" >
            <h3> Distribution</h3>
        </div>
    </div>
    {{ table_distribution() }}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    update_locales();
$(document).ready(function() {
    var dcptable =$('#DcpTable').DataTable({
        "searching": false,
        "paging": false,
        "info": false,
        "columnDefs": [ {
          "targets": '_all',
          "orderable": false,
        } ]
    });
} );
</script>


{{ table_distribution_scripts(distributor=distributor, movie=movie) }}

{% endblock %}
