<p>Bonjour {{ user.login }},</p>
<p>Bienvenue sur la plate-forme <b>Indé-CP</b>!</p>
<p> Pour confirmer la création de compte et entrez votre mot de passe
<a href="{{ url_for('auth.register', token=token, login=user.login, email=user.email, _external=True) }}">cliquez ici</a>.
</p>
<p>Vous pouvez aussi copier l'addresse suivante sur votre naviagateur, pour confirmez la création de compte</p>
<p>{{ url_for('auth.register', token=token, login=user.login, email=user.email, _external=True) }}</p>
<p>Cordialement,</p>
<p>L'équipe Indé-CP</p>
<p><small>Note: Ne pas répondre ceci est un mail automatique</small></p>
