{% from "_common_macros.html" import item_valid %}
{% from "_formhelpers.html" import render_field %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "baseV2.html" %}



{% block page_content %}

<div class ="container-fluid">
    <div class="page-header">
        <span> <small> Short </small> <h2> {{short.title}}</h2> </span>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-primary" role="button"  href="{{ url_for('.edit', id= short.shortid) }}"  > modifier </a>

                        <button class="btn btn-primary" data-href="{{ url_for('.delete', id= short.shortid) }}" data-toggle="modal" data-target="#confirm-delete">

                            supprimer
                        </button>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-condensed" >
                    <tr>
                        <td> Id </td>
                        <td>
                            {{short.shortid}}
                        </td>
                    </tr>
                    <tr>
                        <td> Valid ? </td>
                        <td>
                            {{short.valid}}
                        </td>
                    </tr>
                    <tr>
                        <td> Titre </td>
                        <td>
                            {{ item_valid(short.valid, short.title) }}
                        </td>
                    </tr>
                    <tr>
                        <td> Directeurs </td>
                        <td> {{short.director}} </td>
                    </tr>
                    <tr>
                        <td>  Extra Court </td>
                        <td> {{short.extra.website_url | urlize(80)}} </td>
                    </tr>
 
                    <tr>
                        <td> Tags </td>
                        <td>
                            {% for tag in short.tags %}
                                <span> <a href="{{ url_for('admin_tags.details', id = tag.id) }}" class="btn btn-default" type="button"/> {{ tag.name }} </a> </span>
                            {% endfor %}
                        </td>
                    </tr>


                    <tr>
                        <td> Distributeur </td>
                        <td>
                            {% if short.distributor %}
                                <a href="{{ url_for('admin_distributors.details', id = short.distributor.distributorid) }}" >
                                    {{ short.distributor.name }}
                                </a>
                                {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td> Catalogue </td>
                        <td>
                            {% for cata in short.catalogues %}
                                <span> <a href="{{ url_for('admin_catalogues.details', id = cata.id) }}" class="btn btn-default" type="button"/> {{ cata.name }} </a> </span>
                            {% endfor %}
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class = "col-md-8" >
            <h3> Information sur les DCP </h3>

            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h4 class="panel-title"> Ajouter un DCP / Uploader un fichier torrent </h4>
                </div>
                <div class="panel panel-body">
                    <form class="form-inline" action="{{ url_for('.uploader', id=short.shortid ) }}"  method="POST" enctype="multipart/form-data" name="upload">
                        {{ form1.hidden_tag() }}
                        {{ wtf.form_field(form1.torrent) }}
                        {{ wtf.form_field(form1.submit) }}
                    </form>
                </div>
            </div>

            {% if dcps %}
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h4 class="panel-title"> DCPs disponibles:  </h4>
                    </div>
                    <div class="panel panel-body">
                        <form action="" method="post" name="delete_dcp">
                            {{ form2.csrf_token }}
                            <table class="table table-striped table-bordered table-condensed"
                                   data-click-to-select="true" >
                                   <thead>
                                       <tr>
                                           <th> Type        </th>
                                           <th> Nom du DCP </th>
                                           <th> taille </th>
                                           <th>  date de création du torrent </th>
                                           <th> Delete </th>
                                           <th> Torrent </th>
                                           <th> Notifier </th>
                                       </tr>
                                   </thead>

                                   {% for _dcp in dcps %}
                                       <tr>
                                           <td> {{ _dcp.contentkind }}</td>
                                           <td>

                                               <a href="{{ url_for('admin_dcps.details', id =_dcp.dcpid) }}" >
                                                   {{item_valid(_dcp.valid, _dcp.name) }}
                                               </a>
                                           </td>
                                           <td>
                                               {% if _dcp.size %}
                                                   {{ _dcp.size|filesizeformat }}
                                               {% else %}
                                                   Not defined
                                               {% endif %}
                                               <td> {{ _dcp.torrent_creation }}</td>
                                               <td>
                                                   <input type="checkbox" id="{{_dcp.dcpid}}" name="form2-dcps" value="{{_dcp.dcpid}}" /></td>
                                           </td>
                                           <td>
                                               <a href="{{ url_for('.download',id= _dcp.dcpid) }}"
                                                  class="btn" role="button" title="Télécharger le fichier torrent" download>
                                                   <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                               </a>
                                           </td>
                                           <td>
                                               <!-- Button trigger modal -->
                                               <button type="button" class="btn btn-primary"
                                                                     data-toggle="modal" data-target="#NotifyModal" data-dcpid="{{_dcp.dcpid}}">
                                                   Notifier le distributeur
                                               </button>
                                           </td>


                                       </tr>
                                   {% endfor %}
                            </table>
                            <p><input class="btn btn-default pull-left" id="form2-submit" name="form2-submit" type="submit" value="Delete Dcp(s) "></p>
                        </form>

                        <button type="button" class="btn btn-primary pull-right"
                                              data-toggle="modal" data-target="#NotifyModal" data-shortid="{{short.shortid}}">
                            Notifier le distributeur pour tout les DCPs du film
                        </button>

                    </div>
                {% else %}
                    <p> Pas de DCP associé à ce film. </p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-2">
            <div class="well well-lg">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" role="button"  href="{{ url_for('.home') }}"  >  Revenir au catalogue </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="NotifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Notification de mise à disposition</h4>
            </div>
            <div class="modal-body">
                <form id ='formNotify' class="form form-horizontal" method="post" role="form" action='notifydistributor/'>
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="subjectInput"> subject </label>
                        <input type="text" class="form-control" id="subjectInput" name="subject" required>
                        </input>
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="toInput"> Pour(emails) </label>
                        <input type="text" class="form-control" id="toInput" name="to" required>
                        </input>
                    </div>
                    <div class="form-group  required">
                        <label class="control-label" for="message">Message</label>
                        <textarea rows="15" class="form-control" id="message" name="message" required>
                            Bonjour TEST DISTRIBUTEUR,
                        </textarea>

                    </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
            </div>

                </form>
        </div>
    </div>
</div>




<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Supprimer la fiche du ditributeur {{short.name}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Supprimer</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$('#NotifyModal').on('show.bs.modal', function(event) {

    var button = $(event.relatedTarget);
    var myurl;
    if (   button.data('dcpid')) {
        myurl = '../notifydistributorDcp/' + button.data('dcpid');
    }

    else if (   button.data('shortid')) {
        myurl = '../notifydistributorShort/' + button.data('shortid');
    }
    else {
        console.log('No valid button found');
        return;
    }
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#NotifyModal');
        $modalwindow.find('#formNotify' ).attr('action',myurl);
        $modalwindow.find('#formNotify #subjectInput').attr('value',data.subject);
        $modalwindow.find('#formNotify #toInput').attr('value',data.to);
        $modalwindow.find('#formNotify #message').text(data.body);
    });
});

</script>
{% endblock %}
