{% extends "base.html" %}
{% import "admin/shorts/template_form.html" as short_form %}

{% block page_content %}
<div class="page-header">
        <h1>Edition de {{short.title}}</h1>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-4">
            {{ short_form.short_form(form) }}
        </div>
    </div >
</div>


{% endblock %}
