{% extends "base.html" %}
{% import "admin/shorts/template_form.html" as short_form %}

{% block page_content %}
<div class="row" >
    <h2> Nouveau Court: </h2>
</div>

<div class = "row" >
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" role="button"  href="{{ url_for('.home') }}">
            Annuler création
        </a>

    </div>
</p>
</div>


<div class="container-fluid">
    <div class="row" >
        <div class="col-md-4">
            {{ short_form.short_form(form) }}
        </div>
    </div >
</div>

{% endblock %}
