
{% macro short_form( form ) -%}

{% import "bootstrap/wtf.html" as wtf %}
<form class="form form-horizontal" method="post" role="form">
    {{ form.csrf_token }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.valid) }}
    {{ wtf.form_field(form.director) }}
    {{ wtf.form_field(form.distributor) }}
    {{ wtf.form_field(form.website_url) }}

    <div class="form-group">
        <label class="control-label"
               for="{{ form.catalogue.label.field_id }}">
            {{ form.catalogue.label.text }}
        </label>

        {% for el in form.catalogue.choices %}
        <div class="checkbox">
            <label>
                {% if (form.catalogue.data) and (el in form.catalogue.data) %}
                <input id="catalogue-{{ el[0] }}" name="catalogue" value="{{ el[0]
                }} " type="checkbox" checked="checked"> {{ el[1] }}
                {% else %}
                <input id="catalogue-{{ el[0] }}" name="catalogue" value="{{ el[0]
                }} " type="checkbox"> {{ el[1] }}
                {% endif %}
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <label class="control-label"
               for="{{ form.tag.label.field_id }}">
            {{ form.tag.label.text }}
        </label>
        {% for el in form.tag.choices %}
        <div class="checkbox">
            <label>
                {% if (form.tag.data) and (el in form.tag.data) %}
                <input id="tag-{{ el[0] }}" name="tag" value="{{ el[0]
                }} " type="checkbox" checked="checked"> {{ el[1] }}
                {% else %}
                <input id="tag-{{ el[0] }}" name="tag" value="{{ el[0]
                }} " type="checkbox"> {{ el[1] }}
                {% endif %}
            </label>
        </div>
        {% endfor %}
    </div>


    {{ wtf.form_field(form.submit) }}
    {% if form.cancel %}
        {{ wtf.form_field(form.cancel) }}
    {% endif %}
</form>

{%- endmacro %}


