{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block page_content %}
<div class="page-header">
    <h1> Upoad torrent for {{short.title}} </h1>
</div>

<div class="row" >
<div class="col-md-4">
 <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.torrent) }}
        </dl>

        <p><input type="submit" value="Upload"></p>
        </form>

</div>
</div >
{% endblock %}
