{% from "email/_footnote.html" import email_legal_footnote %}
<div>
<p>
Bonjour {{movie_request.movie.distributor}},
</p>
<p>
le cinéma {{movie_request.exhibitor}}, à annulé la demande pour le
 film {{movie_request.movie.title}}, pour la raison suivante:
</p>
<p>
-------------------------------------------------------------------------------<br/>
{{ payload_msg }} <br/>
-------------------------------------------------------------------------------<br/>
</p>

<p>
Vous pouvez consulter le détail de la demande ici:<br/>
<a href="{{url_for('distributor_movie_requests.details', id=movie_request.id,
_external=True) }}">
{{url_for('distributor_movie_requests.details', id=movie_request.id,
_external=True) }}
</a>
</p>

{{ email_legal_footnote() }}


