<p>L'exploitant 
<a href="{{url_for('admin_exhibitors.details', id=exhibitor.exhibitorid,
_external=True) }}" />  {{exhibitor.name}}  </a>
à modifié ces addresses mails: </p>

<p>Nouvelles adresses: {{new_emails}} </p>

<p>Indé-CP </p>

<p> Note: Ceci est un email automatique: ne pas répondre. </p>
