{% extends "baseV2.html" %}

{% block title %} Tuco - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>  ERREUR 403 </h1>
    <p> Vous n'avez pas le droit d'accéder à cette page.</p>
</div>
{% endblock %}
