{% extends "baseV2.html" %}

{% block title %} Tuco - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>  ERREUR 404 </h1>
    <p> Page non trouvée </p>
</div>
{% endblock %}
