{% macro RenderON (value, yes="Oui", no="Non") %}
{% if value %} {{yes}}
{% else %} {{no}}
{% endif %}
{% endmacro %}


{% macro RenderEmails (user) %}
 {{user.email}}
{% if user.email2 %}
, <i> {{user.email2}} </i>
{% endif %}
{% if user.email3 %}
,<i> {{user.email3}} </i>
{% endif %}
{% endmacro %}

{% macro transmission_client( iptinc, btnmsg) %}
<p>
<a class="btn btn-info" role="button"
                        href="http://{{iptinc|iptinc_to_web}}">
{{btnmsg}}
</a>
        <p> Un identifiant et un mot de passe vous seront demandés.
        Utilisez les mêmes codes que ceux utilisés pour ce site (ie, https://tuco.tdcpb.org).
        </p>

</p>
{% endmacro %}

{% macro transmission_client_with_login(login, password, iptinc, btnmsg) %}
<p>
<a class="btn btn-info" role="button"
                        href="http://{{login}}:{{password}}@{{iptinc|iptinc_to_web}}">
{{btnmsg}}
</a>
</p>
{% endmacro %}

{% macro item_valid(valid=True, value='') %}
{% if valid %}
<span>
    {{ value }}
</span>
{% else %}
<span class="text-muted" title="Contenu effacé" >
    <s> {{ value }} </s>
</span>
{% endif %}

{% endmacro %}
