{% macro datePickerRange (label, tag) %}

<div class ='row'>
    <div class='col-md-2'>
        {{label}}
    </div>
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='{{tag}}Begin'>
                <input type='text' class="form-control" id="dateBegin" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='{{tag}}End'>
                <input type='text' class="form-control" id="dateEnd" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class='col-md-2'>
        <button type="button" class="btn btn-primary" id={{tag}}Clear>Clear</button>
    </div>
</div>
{% endmacro %}
