{% macro distribution_status(distribution_status, DistributionStatus) %}

  {% if distribution_status.status == DistributionStatus.DL_AUTHORIZED %}
  autorisé le {{ distribution_status.autorisation_date  | mydatetime  }}
 {% elif distribution_status.status == DistributionStatus.DL_STARTED %}
 démarré le {{ distribution_status.started_transfer_date | mydatetime }}
 {% elif distribution_status.status == DistributionStatus.DL_FINISHED %}
 terminé le {{ distribution_status.finished_transfer_date | mydatetime }}
 {% elif distribution_status.status == DistributionStatus.DL_NOT_AUTHORIZED %}
 Non autorisé
  {% else %}
    statut inconnu
  {% endif %}

{% endmacro %}

{% macro status_color(distribution_status, DistributionStatus) %}
  {% if distribution_status.status == DistributionStatus.DL_AUTHORIZED %}
info
 {% elif distribution_status.status == DistributionStatus.DL_STARTED %}
active
 {% elif distribution_status.status == DistributionStatus.DL_FINISHED %}
success
 {% else %}
 {% endif %}
 {% endmacro %}

 {% macro contentkind_label (contentkind) %}
  {% if contentkind == 'FTR' %}
<span class="label label-primary label-as-badge">{{contentkind}}</span>
 {% elif  contentkind == 'TLR' %}
<span class="label label-info label-as-badge">{{contentkind}}</span>
 {% else %}
 {% endif %}
{% endmacro %}
