{% macro download_buttons (dcpid) %}
<div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="{{ url_for('exhibitor_movies.start_dl',id= dcpid) }}"
        class="btn btn-primary" role="button" title="Lancer le transfert du DCP" >
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
    </a>
    <a href="{{ url_for('exhibitor.download',dcp_id= dcpid) }}"
        class="btn" role="button" title="Télécharger le fichier torrent" download>
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </a>
</div>

{% endmacro %}

{% macro download_short_buttons (dcpid) %}
<div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="{{ url_for('exhibitor_shorts.start_dl',id= dcpid) }}"
        class="btn btn-primary" role="button" title="Lancer le transfert du DCP" >
        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
    </a>
    <a href="{{ url_for('exhibitor_shorts.download',id= dcpid) }}"
        class="btn" role="button" title="Télécharger le fichier torrent" download>
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
    </a>
</div>

{% endmacro %}



{% macro distribution_buttons (dcp_distribution) %}
    {% set distributor =  dcp_distribution.dcpid | get_distributor %}
    {% set movie =  dcp_distribution.dcpid | get_movie %}
    {% if dcp_distribution.status == '0' %}
    <span class="bg-warning">  Transfert non autorisé. </span>
    <span> Cliquez sur "Demander le film à {{ distributor.name }}" pour obtenir le film. </span>
    {% elif dcp_distribution.status == '1' %}
     {{ download_buttons(dcp_distribution.dcpid) }}
    {% elif dcp_distribution.status == '2' %}
        {{ download_buttons(dcp_distribution.dcpid) }}
        <span class="bg-warning"> Téléchargment démarré le {{ dcp_distribution.started_transfer_date | siso8601todatetime }} </span>
    {% elif dcp_distribution.status == '4' %}
        {{ download_buttons(dcp_distribution.dcpid) }}
        <span class="bg-warning" > Téléchargment terminé le {{ dcp_distribution.finished_transfer_date | siso8601todatetime }} </span>
    {% else %}
        Un problème est survenu
    {% endif %}
{% endmacro %}
