{% extends "base.html" %}
{% block content %}
    <h1> Admin view</h1>

<p>
	<a href="{{ url_for('list_users') }}">List users</a> |
	<a href="{{ url_for('list_roles') }}">List roles</a>
</p>

<p>
<a href="{{ url_for('register_distributor') }}"> Register distributor </a> |
</p>


{% endblock %}
