{% extends "bootstrap/base.html" %}

{% block title %} tuco for [Inde-CP] {% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon"          href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

<!-- Bootstap CSS included in   flask-bootstrap module -->

<!-- Bootstrap fontawesome CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-87478150-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-87478150-2');
</script>

{% endblock %}


{% block body -%}
{%include "navbars.html" %}


{% block content %}
<div class="container-fluid">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

</div>

{% endblock content %}

<footer id="footer">
    <div class="container-fluid">
        <p class="text-muted" >  tuco.tdpb.org est développé par <a href="http://www.indecp.org"> Indé-CP</a> (<a href="http://www.cinemascop.net/"> Cinemascop </a>) et librement hébergé par <a href="http://www.ffdn.org/fr"> FFDN </a> </p>
    </div>
</footer>

{% block scripts %}
{{ super() }}

<!-- datatables -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

{% endblock scripts %}
{% endblock body %}
