{% extends "base.html" %}
{% block content %}
{% from "_distribution_status.html" import distribution_status %}
<h1>  Movie {{movie.title}} distrtribué vers </h1>


<p>
    {% if distribution %}
    <ul>
    {% for item in distribution %}
        <li> {{ item.exhibitor.name}}: </li>

        {% if item.dcp_distribution_items %}
        <ul>
            {% for dcp_item in item.dcp_distribution_items %}
                <li> {{ dcp_item.dcp.name }} :
                {{ distribution_status(dcp_item.distribution_status.status, DistributionStatus) }} </li>
            {% endfor %}
        </ul>
        {% else %}
            Film non distribué
        {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
</p>
{% endblock %}
