{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<div class="page-header">
<h1> Indé-CP</h1>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">
        <p>
        Bienvenue sur votre interface Indé-CP, la solution alternative et indépendante de transfert dématérialisé des films !
        </p>
        {{ wtf.quick_form(form, form_type='horizontal') }}
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="bs-callout bs-callout-warning text-center">
            <h3> Vous n'êtes pas <br/>  encore chez Indé-CP ? ! </h3>
            <div class = "btn-group-vertical" >
                <a href="http://www.indecp.org/services/exploitant/" class="btn btn-warning btn-space" role="button"> Téléchargez vos DCP avec Indé-CP </a>
                <a href="http://www.indecp.org/services/distributeur/" class="btn btn-warning btn-space" role="button">  Distribuez vos DCP avec Indé-CP </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
