{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                                  data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if current_user.is_authenticated() %}
                {% if current_user.is_exhibitor %}
		    <a class="navbar-brand" href="{{ url_for('exhibitor.home') }}">[Indé-CP]</a>
                {% elif current_user.is_distributor %}
		    <a class="navbar-brand" href="{{ url_for('distributor.home') }}">[Indé-CP]</a>
                {% elif current_user.is_admin %}
		    <a class="navbar-brand" href="{{ url_for('admin.home') }}">[Indé-CP]</a>
                {% endif %}
            {% else %}
            <a class="navbar-brand" href="/">[Indé-CP]</a>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
             {% if current_user.is_authenticated() %}

                {% if current_user.is_distributor %}
                <li class="active" >
                    <a href="{{ url_for('distributor.home') }}" >
                        <i class="fa fa-home">{{current_user.distributor.name}} </i></a>
                </li>
                <li>
                    <a href="{{ url_for('distributor_movies.home') }}" >
                        Mon catalogue</a>
                </li>
                 <li>
                    <a href="{{ url_for('distributor_movie_requests.home') }}" >
                        Les demandes de films </a>
                </li>
                <li>
                    <a href="{{ url_for('distributor.exhibitors') }}" >
                        Les salles connectées
                    </a>
                </li>

                {% elif current_user.is_exhibitor %}
                <li class="dropdown">
                    <a href="{{ url_for('exhibitor_movies.home') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> DCPthèque  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('exhibitor_movies.home') }}" >
                                Sorties Nationales
                            </a>
                        </li>
                                <li>
                                    <a href="{{ url_for('exhibitor_shorts.home') }}" >
                                        L'extra court </a>
                                </li>


                                <li>
                                    <a href="{{ url_for('exhibitor_tags.home') }}" >
                                        Séléctions</a>
                                </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('exhibitor_movie_requests.home') }}" >
                        Demandes de films </a>
                </li>
                <li>
                    <a href="{{ url_for('exhibitor_distributors.home') }}" >
                        Distributeurs </a>
                </li>

                <li>
                    <a href="{{ url_for('exhibitor.downloads') }}" >
                        Mes téléchargements</a>
                </li>

                {% elif current_user.is_admin %}
                <li class="active">
                    <a href="{{ url_for('admin.home') }}" >
                        {{current_user.login}}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Catalogue  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('admin_movies.home') }}" >
                                Films</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_dcps.home') }}" >
                                Dcps</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_shorts.home') }}" >
                                Les courts métrages </a>
                        </li>



                        <li>
                            <a href="{{ url_for('admin.upload_torrent') }}" >
                                Upload Torrent</a>
                        </li>


                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('admin_catalogues.home') }}" >
                                Liste des catalogues </a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_tags.home') }}" >
                                Tags </a>
                        </li>


                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Suivis  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('admin.distribution_status') }}" >
                            Distributions </a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin_movie_requests.home') }}" >
                            Demandes de film</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin.relancesSalles') }}" >
                                Relance Salles</a>
                        </li>


                        <li>
                            <a href="{{ url_for('admin.downloads') }}" >
                            Téléchargements en cours</a>
                        </li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{{ url_for('admin.list_users') }}" >
                                Utilisateurs</a>
                        </li>

                        <li>
                            <a href="{{ url_for('admin_exhibitors.home') }}" >
                                Exploitants</a>
                        </li>

                        <li>
                            <a href="{{ url_for('admin_distributors.home') }}" >
                                Distributeurs</a>
                        </li>
                    </ul>
                </li>

               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Autre  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="{{ url_for('admin.tracker_messages') }}" >
                        Tracker</a>
                      </li>
                     </ul>
                </li>
                {% else %}
                <li>
                    ERROR
                </li>
                {% endif %}
                -                   {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}

                    {% if current_user.is_exhibitor %}
                    <li >
                        <a href="{{ url_for('exhibitor.home') }}" title="Accueil" >
                            <i class="fa fa-home"> </i>
                            <span class="small"> {{current_user.exhibitor.name}} </span>
                        </a>
                     </li>
 
                    <li >
                        <a href="{{ url_for('exhibitor.preferences') }}"  title="Préferences" >
                        <i class="fa fa-cog"> </i>
                        </a>
                    </li>

                    {% endif %}

                <li><a href="{{ url_for('auth.logout') }}" title="Déconnexion" >
                        <i class="fa fa-sign-out"> </i>
                    </a></li>


                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Connexion</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
{% endblock navbar %}


