<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1> Register Distributor</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="register_distributor">
    {{ form.hidden_tag() }}
    <dl>
        {{ render_field(form.name) }}
    </dl>
    <p><input type="submit" value="Register Distributor"></p>
</form>
{% endblock %}
