<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1> Register user</h1>
{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <dl>
        {{ render_field(form.choice_switcher) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
    </dl>
    <p><input type="submit" value="Register"></p>
</form>
{% endblock %}
