{% from "_distribution_status.html" import contentkind_label %}

{% macro table_distribution_head() %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endmacro %}

{% macro table_distribution() %}
        <table id="dt_110x" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Film </th>
                    <th>Nom</th>
                    <th>Distributeur</th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th> </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Film </th>
                    <th>Nom</th>
                    <th>Distributeur</th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th> </th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
{% endmacro %}

{% macro table_distribution_scripts(exhibitor=  none  , distributor= none, movie = none ) %}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type="text/javascript" charset="utf-8">
// set jinja2 template variables as js vars
var params = {
    exhibitor: null,
    distributor: null,
    movie: null,
    dl_status_request: 'ALL'
};

{% if exhibitor is not none() %}
    params.exhibitor = {{exhibitor.exhibitorid}};
{% endif %}
{% if distributor is not none() %}
    params.distributor = {{distributor.distributorid}};
{% endif %}
{% if movie is not none() %}
    params.movie = {{movie.movieid}};
{% endif %}

{% if exhibitor.startauto %}
    params.dl_status_request = "DL_STARTED"
{% else %}
    params.dl_status_request = "DL_AUTHORIZED"
{% endif %}


$(document).ready(function(){

    update_locales();
    table_distribution('#dt_110x', "{{ url_for('.distributiondata') }}", params);


});

$('#myTab a').on('click', function (e) {
    e.preventDefault();
    var myTable = $('#dt_110x').DataTable();
    switch (this.id) {
        case "autorized-tab":
            params.dl_status_request = "DL_AUTHORIZED";
            myTable.order([[4, 'desc'] ]);
            break;
        case "started-tab":
            params.dl_status_request = "DL_STARTED";
            myTable.order([[5, 'desc'] ]);
            //myTable.language.emptyTable = 'Pas de téléchargement en cours';
            break;
         case "ended-tab":
            params.dl_status_request = "DL_FINISHED";
            myTable.order([[6, 'desc'] ]);
            break;
         case "all-tab":
         default:
            params.dl_status_request = "ALL"
            myTable.order([[4, 'desc'] ]);
            break;
    }
    myTable.ajax.reload();
    $(this).tab('show');
});
</script>
{% endmacro %}
