<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}

<div class="page-header">
<h1>Demande de distribution de film</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6">
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.name)    }}
        {{ wtf.form_field(form.to)      }}
        {{ wtf.form_field(form.movie)   }}
        {{ wtf.form_field(form.message) }}
        {{ wtf.form_field(form.submit)  }}

</form> 
    </div>
</div>

{% endblock %}
