{% from "_common_macros.html" import RenderON %}
{% extends "base.html" %}

{% block page_content %}

<div class="modal fade" id="AskForMovieModal" role="dialog" tabindex="-1" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" role="document">
        <form id ='formAskForMovie' class="form form-horizontal" method="post" role="form" action='askformovie'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Demande de téléchargement de DCP</h4>
                </div>
                <div class="modal-body">
                    <div style="display:none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </div>

                    <div class="form-group  required"><label class="control-label" for="name">Exploitant</label>
                        <input class="form-control" id="name" name="name"
                        required type="text" value="TEST EXPLOITANT">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="to">Envoyer à</label>
                        <input class="form-control" id="to" name="to"
                        required type="text" value="TEST DISTRIBUTEUR">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="movie">Film</label>
                        <input class="form-control" id="movie" name="movie"
                        required type="text" value="MON FILM">
                    </div>

                    <div class="form-group  required"><label class="control-label" for="message">Message</label>
                        <textarea rows="15" class="form-control" id="message" name="message" required>
                            Bonjour TEST DISTRIBUTEUR,
                        </textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Envoyer le message">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Historique des demandes de films </h3>
                </div>
                <div class="panel-body" >
                    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
                        <thead>
                            <tr> <th> Demandé le </th>
                                <th> Par </th>
                                <th> Film  </th>
                                <th> Autorisé ? </th>
                                <th> </th>
                            </tr>
                        </thead>
                        {% for item in demands %}
                        <tr>
                            <td> {{ item.demand_date}} </td>
                            <td>
                                <a href="{{ url_for('exhibitor_distributors.details',
                                id   = item.distributor.distributorid) }}" />
                                    {{ item.distributor.name }}
                                </a>
                            </td>

                            <td> <a href="{{ url_for('exhibitor_movies.details', id = item.movieid) }}" />
                                    {{item.movie.title}} </a>
                            </td>
                            <td> {{ RenderON(item.is_autorised, no='En attente') }}
                            </td>

                            <td>
        <button type="button" class="btn btn-primary"
            id="askForMovieBtn"
            data-toggle="modal"
            data-target="#AskForMovieModal"
            data-movieid="{{item.movieid}}" >
            Refaire une demande
        </button>

                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
        'columnDefs': [
        {
            'targets': 0,
            'visible': true,
            "render": function ( data, type, row ) {
                return render_date(data,type);
            }
        }
         ],

    "order" : [[0, 'desc']]
    });
} );

$('#AskForMovieModal').on('show.bs.modal', function(event) {

    var button = $(event.relatedTarget);
    var myurl = 'movies/askformovie/'+ button.data('movieid');
    $.getJSON(myurl, function(data){
        var $modalwindow = $('#AskForMovieModal');
        $modalwindow.find('#formAskForMovie').attr('action',myurl);
        $modalwindow.find('#formAskForMovie #name').attr('value',data.exhibitor);
        $modalwindow.find('#formAskForMovie #to').attr('value',data.distributor);
        $modalwindow.find('#formAskForMovie #movie').attr('value',data.movie);
        $modalwindow.find('#formAskForMovie #message').text(data.body);
    });
});

</script>

{% endblock %}
