{% extends "baseV2.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
{% endblock %}


{% block page_content %}
<div class ="container-fluid">
    <div class="page-header">
        <h1> Préfrérences utilisateur </h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row" >
        <div class="col-md-8">
            {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns = ('sm',4,8)) }}
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{{ super() }}

{% endblock %}
