{% extends "baseV2.html" %}
{% from "exhibitor/_table_distribution.html" import table_distribution_head %}
{% from "exhibitor/_table_distribution.html" import table_distribution %}
{% from "exhibitor/_table_distribution.html" import table_distribution_scripts %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    État de la connexion
                </div>
                <div id="div_machinestatus" class="panel-body">
                    En cours de vérification
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <a href="{{ url_for('exhibitor_movies.home') }}" class="btn btn-primary" role="button">
                Sorties nationales <br>  disponibles sur Indé-CP
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Distribution </h3>

                </div>

                <div class="panel-body" >
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    {% if exhibitor.startauto %}
                    <li role='presentation' class="active">
                        <a  id="started-tab"  href="#started" role="tab" aria-controls="started" aria-selected="false">
                            Téléchargements en cours </a>
                    </li>
                    {% else %}
                    <li role='presentation' class="active">
                        <a id="autorized-tab"  href="#autorized" role="tab" aria-controls="autorized" aria-selected="true">
                            Téléchargements autorisés</a>
                    </li>

                    <li role='presentation'>
                        <a  id="started-tab"  href="#started" role="tab" aria-controls="started" aria-selected="false">
                            Téléchargement en cours </a>
                    </li>
                    {%endif%}
                    <li role='presentation'>
                        <a id="ended-tab"  href="#ended" role="tab" aria-controls="ended" aria-selected="false">
                            Terminés récemment </a>
                    </li>
                    <li role='presentation'>
                        <a id="all-tab" href="#all" role="tab" aria-controls="all" aria-selected="false">
                           Tout les téléchargements
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% if exhibitor.startauto %}
                    <div class="tab-pane" id="started" role="tabpanel" aria-labelledby="started-tab">
                        <h5> Téléchargements démarrés </h5>
                    </div>


                    {% else %}
                    <div class="tab-pane active" id="autorized" role="tabpanel" aria-labelledby="autorized-tab">
                        <h5> Téléchargements autorisés </h5>
                    </div>
                    <div class="tab-pane" id="started" role="tabpanel" aria-labelledby="started-tab">
                        <h5> Téléchargements démarrés </h5>
                    </div>

                    {% endif %}
                    <div class="tab-pane" id="ended" role="tabpanel" aria-labelledby="ended-tab">
                        <h5> Téléchargements terminés </h5>
                    </div>
                    <div class="tab-pane" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <h5> Tout les téléchargements </h5>
                    </div>

                    {{ table_distribution() }}

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/exhibitor.js') }}"></script>
<script>
function GetCinemaStatus() {
    var url = '{{ url_for('.getcinemastatus') }}';
    $.getJSON( url, {
    })
    .done(function( data ) {
        var div = $("#div_machinestatus");
        var exhibitor = data['exhibitor'];
        var panel = div.parent();
        if ( exhibitor['status'] == 'STARTED') {
            div.text('La machine de réception est active dans votre cinéma.');
            panel.removeClass("panel-warning");
            panel.addClass("panel-success");
        } else {
            div.text("ATTENTION: La machine de réception dans votre cinéma n'est pas active.");
            panel.removeClass("panel-warning");
            panel.addClass("panel-danger");
        }
    });
};

$( document ).ready(function() {
        GetCinemaStatus();
});

setInterval( function () {
        GetCinemaStatus();
}, 5000 )


</script>

{{ table_distribution_scripts(exhibitor=exhibitor) }}

{% endblock %}
