{% extends "base.html" %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% block page_content %}
<div class="page-header">
<h1> Longs métrages disponibles</h1>
</div>

<div class = "row" >
{% if items %}
<div class="table-responsive">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
    <thead>
        <tr>
             <th> Film </th>
             <th> Sortie le </th>
             <th> Distributeur </th>
             <th> Dcp </th>
            <th>  </th>
        </tr>
    </thead>
    {% for _item in items %}
    <tr>
        <td> {{ _item['dcp'].movie.title }}            </td>
        <td> {{ _item['dcp'].movie.releasedate | datefr }} </td>
        <td> {{ _item['dcp'].movie.distributor.name }} </td>
        <td> <small> {{ _item['dcp'].name }} </small> </td>
        {% if _item['distribution'] %}
        <td>
        {{ download_buttons( _item['dcp'].dcpid) }}
       </td>
        {% else %}
        <td>
            <small> <a href="{{ url_for('exhibitor.askformovie', id = _item['dcp'].movie.movieid) }}" /> Demander à 
                    {{ _item['dcp'].movie.distributor.name }} </a>
                de vous distribuer ce film par indécp </small>
</td>
        {% endif %}

    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[1, 'desc']]
    });
} );
</script>

{% endblock %}
