{% extends "baseV2.html" %}

{% from "_common_macros.html" import RenderEmails %}


{% block head %}
{{ super() }}
{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <div class="page-header">
        <h2>  {{exhibitor.name}} </h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <table class="table table-condensed" >
                        {% if exhibitor.city %}
                        <tr>
                            <td> Ville </td>
                            <td> {{exhibitor.city}} ( {{exhibitor.dept}}) </td>
                        </tr>
                        {% endif %}

                        {% if exhibitor.address %}
                        <tr>
                            <td> Adresse </td>
                            <td> {{exhibitor.address}} </td>
                        </tr>
                        {% endif %}
                        {% if exhibitor.zipcode %}
                        <tr>
                            <td> Code postal </td>
                            <td> {{exhibitor.zipcode}} </td>
                        </tr>
                        {% endif %}


                        {% if exhibitor.contact %}
                        <tr>
                            <td> Contact </td>
                            <td> {{exhibitor.contact}} </td>
                        </tr>
                        {% endif %}
                        {% if exhibitor.phone %}
                        <tr>
                            <td> Téléphone </td>
                            <td> {{exhibitor.phone}} </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td> emails </td>
                            <td>{{ RenderEmails(exhibitor.user) }}</td>
                        </tr>
                        {% if exhibitor.nbscreens %}
                        <tr>
                            <td> Nombre d'écrans </td>
                            <td> {{exhibitor.nbscreens}} </td>
                        </tr>
                        {% endif %}

                        {% if exhibitor.cncid %}
                        <tr>
                            <td> Autorisation CNC </td>
                            <td> {{exhibitor.cncid}} </td>
                        </tr>
                        {% endif %}

                        <tr>
                            <td>
                                Démarage automatique des téléchargements? </td>
                            {% if exhibitor.startauto %}
                            <td> Oui </td>
                            {% else %}
                            <td> Non </td>
                            {% endif %}
                        </tr>

                    </table>
                </div>
                <div class="panel-footer">
                    <p><a href="{{ url_for('.edit_preferences') }}" class="btn btn-primary" role="button">
                        Modifiez les informations</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
        <a href="{{ url_for('.home') }}" class="btn btn-primary" role="button">
                        Revenir à la page d'acceuil</a>

        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{{ super() }}

{% endblock %}
