{% extends "base.html" %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% block page_content %}
<div class="page-header">
<h1> Courts métrages </h1>
</div>

<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Catalogue du radi  / Extra court </h3>

                    <div>
                        <p> Les courts métrages du Radi / Extra court sont chiffrés, merci de ne les télécharger que si vous les diffusez prochainement.
                        </p>
                        <p> Pour plus d’information sur le Radi, <a href="http://www.agencecm.com/pages/radi.php">  cliquez ici  </a>. </p>

                        <p> Pour vos demandes de KDM, merci des les adresser directement à l’Agence du court métrage. </p>
                    </div>
                    <div class="panel-body" >
                        <table id="short" class="table table-striped table-bordered table-condensed" >
                            <thead>
                                <tr>
                                    <th class="dt-justify" > Titre </th>
                                    <th class="dt-center"> Réalisateur </th>
                                    <th> Type </th>
                                    <th> Dcp </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th> Titre </th>
                                    <th> Réalisateur </th>
                                    <th> Type </th>
                                    <th> </th>
                                </tr>
                            </tfoot>

                            {% for _item in shorts %}
                            <tr>
                                <td style="word-break:normal" > {{ _item.title }}            </td>

                                <td class="dt-center"> {{ _item.director }} </td>
                                <td> {{ _item.tags }} </td>

                                <td>
                                    {% if _item.dcps %}
                                    <table id="dcp"  width="100%" class="table-striped  table-condensed">
                                        {% for _dcp in _item.dcps %}
                                        <tr>
                                            <td  > <small> <p class="dcpname"> {{_dcp.name}} </p>  </small> </td>

                                            <td class="dt-right" > {{ download_buttons( _dcp.dcpid) }} </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                    {% endif %}

                                </td>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    $('#short').DataTable( {
        'pageLength':50,
        "order" : [[2, 'asc'] ],
        "columns": [
        null,
        { "width": "30%" },
        { "width": "10%" },
        { "width": "20%" },
              ],
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                if  (column.index() != 3) {
                var select = $('<select><option class="form-control" value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                }
                column.data().unique().sort().each( function ( d, j ) {

                if  (column.index() != 3) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                }
                } );
            } );
        }
    } );
} );

</script>
{% endblock %}
