{% extends "base.html" %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% block head %}
{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block page_content %}
<div class="page-header">
    test
</div>
<div class="row">
    <div class="col-lg-12">

        <table id="MovieTable2" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Film </th>
                    <th> Distributeur </th>
                    <th> Sortie le </th>
                    <th> Dcps </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Film </th>
                    <th> Distributeur </th>
                    <th> sortie le </th>
                    <th> Dcps </th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
var myTable = $('#MovieTable2').DataTable({
    "ajax": "{{ url_for('.moviedata') }}",
    "columns" : [
        {
        data: 'title',
        "render": function ( data, type, row ) {
            todisplay ='<a href="movies/details/'+row.movieid+'" >' + data +'</a>';
            var x = 0;
            var request_movie = false;
            for (x=0; x < row.dcps.length;x++) {
                if (row.dcps[x].aurtorisation == undefined) {
                   request_movie =true;
                }
            }
            if (request_movie) {
                todisplay = todisplay + ' Demander le film';
            }
            return todisplay;
            }
        },
        {
        data: 'distributor',
        },
        {
        data: 'releasedate',
        },
        {
        data:'dcps',
        "render": function ( data, type, row ) {
           // console.log(data);
           var x;
           var display = " ";
           var todisplay = ' <div class="btn-open">' +
               '<div class="btn-group">'+
               '<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'+
               'Action' +
               '</button>' +
               '<div class="dropdown-menu">'
           for (x=0; x < data.length;x++) {
           //    console.log(data[x]);
           //    display = display + " " + data[x].name
               todisplay = todisplay + '<a class="dropdown-item" href="#">';
               todisplay = todisplay + data[x].name + '</a>';
               console.log(data[x].autorisation);
           }
           todisplay = todisplay + '</div>';
           todisplay = todisplay + '</div>';
           return todisplay;
        }
        }
        ]
    });
console.log("coucou");
});


</script>

{% endblock %}
