{% extends "base.html" %}
{% from "_exhibitor_macros.html" import download_buttons %}
{% block page_content %}
<div class="page-header">
<h1> Bandes annonces </h1>
</div>

<div class = "row" >
{% if trailers %}
<div class="table-responsive">
<table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
    <thead>
        <tr>
             <th> Film </th>
             <th> Sortie le </th>
             <th> Distributeur </th>
             <th> Dcp </th>
            <th>  </th>
        </tr>
    </thead>
    {% for _item in trailers %}
    <tr>
        <td> {{ _item.movie.title }}            </td>
        <td> {{ _item.movie.releasedate | datefr }} </td>
        <td> {{ _item.movie.distributor.name }} </td>
        <td> <small> {{ _item.name }} </small> </td>
        <td>
            {{ download_buttons( _item.dcpid) }}
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
    "order" : [[1, 'desc']]
    });
} );
</script>

{% endblock %}
