{% from "_distribution_status.html" import contentkind_label %}

{% macro table_distribution_head() %}


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link href="{{ url_for('static', filename='css/buttons.dataTables.css') }}" rel="stylesheet" type="text/css" />

{% endmacro %}

{% macro table_distribution() %}
<div class="row">
    <div class="col-lg-12">

        <table id="dt_110x" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Film </th>
                    <th>Nom DCP </th>
                    <th>Distrib</th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Film </th>
                    <th>Nom DCP</th>
                    <th>Distrib</th>
                    <th>Exploitant</th>
                    <th>Autorisation</th>
                    <th>Début</th>
                    <th>Fin</th>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro table_distribution_scripts(exhibitor=  none  , distributor= none, movie = none ) %}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

    // set jinja2 template variables as js vars
    var exhibitor = null;
    var distributor = null;
    var movie = null;
    {% if exhibitor is not none() %}
    exhibitor = {{exhibitor.exhibitorid}};
    {% endif %}
    {% if distributor is not none() %}
    distributor = {{distributor.distributorid}};
    {% endif %}
    {% if movie is not none() %}
    movie = {{movie.movieid}};
    {% endif %}


    update_locales();

    var myTable = $('#dt_110x').DataTable({
        "processing": true,
        "serverSide": true,
        "pageLength": 50,
        "lengthMenu": [ [ 25, 50, 100, -1], [ 25, 50, 100, "Tous"] ],
        "ajax": {
            "url": "{{ url_for('distributor.distributiondata') }}",
            "data": function ( d) {
                d.exhibitor = exhibitor
                d.distributor = distributor
                d.movie = movie
            }
        },
        dom: 'Blfrtip',
        buttons: [
            'csv', 'pdf', 'print'
        ],
        "columns": [
            // 0 -- film name
        {
            "data": "movie",
            "name": "movie",
            "render": function ( data, type, row ) {
                var todisplay = '<a href="/distributor/movies/details/' + row.movieid + '" />' +
                    data +
                '</a>' ;
                return todisplay;
            }
        },
        // 1 -- dcp name
        {
            "data": "dcp",
            "name": "dcp",
            "render": function ( data, type, row ) {
                var contentkind = render_contentkind_label(row.contentkind, false);
                var $todisplay = $("<div>");
                var cel_text = $('<span>', {
                    'class' : 'small',
                    'text': data});
                if (row.valid == 'False') {
                    cel_text.addClass('text-muted');
                    cel_text.text('');
                    $('<s>',{
                        'text': data}).appendTo(cel_text);
                    contentkind = render_contentkind_label(row.contentkind, true);
                } else {
                    contentkind = render_contentkind_label(row.contentkind,false);
                }
                $todisplay.append(contentkind);
                cel_text.appendTo($todisplay);
                return $todisplay.html();
             }
        },
         // 2 -- Distributor
        {
            "data": "distributor",
            "name": "distributor",
            "render": function ( data, type, row ) {
                return data;
            }
        },
         // 3 -- Exhibitor
        {

            "data": "exhibitor",
            "name": "exhibitor",
            "render": function ( data, type, row ) {
		var $todisplay = $("<div>");
                link = $('<a>', {
                    'href': '/distributor/exhibitor/' + row.exhibitorid ,
                    'text':  row.city + ' - ' +data
                });

                link.appendTo($todisplay);
                return $todisplay.html();

            }
        },
         // 4 -- Autorisation Date
        {

            "data": "autorisation_date",
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            }
        },
         // 5 -- Start Date
        {
            "data": "started_transfer_date",
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            }
        },
         // 6 -- End Date
        {
            "data": "finished_transfer_date",
            "render": function ( data, type, row ) {
                return render_datetime(data,type);
            }
        },
            ],
        "order" : [[4, 'desc']]

    });

    // hide movie column when a movie is selected
    if (movie) {
       myTable.column('movie:name').visible(false);
    }
    // hide distributor column when a distributor is selected
    if (distributor) {
       myTable.column('distributor:name').visible(false);
    }
    // hide exhibitor column when a exhibitor is selected
    if (exhibitor) {
       myTable.column('exhibitor:name').visible(false);
    }


});
</script>
{% endmacro %}


{% macro table_distribution_exhibitor(messages) %}
<div class = "row">
<div class="table-responsive">
<table class="table table-striped table-bordered table-condensed" >
        <thead>
            <tr>
                <th> Film    </th>
                <th> Dcp </th>
                <th> Distributeur    </th>
                <th> Autorisation </th>
                <th> Début transfert </th>
                <th> Fin transfert </th>
            </tr>
        </thead>
        {% for _message in messages.items %}
            <tr>
                <td>
                {% if _message.dcp.name %}
                    {{ _message.dcp.movie.title }}
                {% else %}
                    Unknown DCP
                {% endif %}
            </td>
            <td> {{ contentkind_label(_message.dcp.contentkind)}} <small> {{_message.dcp.name}} </small> </td>
                <td>
                {% if _message.dcp.name %}
                    {{ _message.dcp.movie.distributor.name }}
                </a>
                {% else %}
                    Unknown DCP
                {% endif %}
                </td>
                <td> {{ _message.autorisation_date | mydatetime}} </td>
                <td> {{ _message.started_transfer_date | mydatetime}} </td>
                <td> {{ _message.finished_transfer_date | mydatetime}} </td>

            </tr>
        {% endfor %}
    </table>
</div>

{% if messages.has_prev %}
    <a href="{{ url_for('admin.distribution_status', page=messages.prev_num) }}">&lt;&lt; Newer messages</a> |
{% endif %}
{% if messages.has_next %}
    <a href="{{ url_for('admin.distribution_status', page=messages.next_num) }}">Older messages &gt;&gt;</a>
</div>
{% endif %}
{% endmacro %}
