{% extends "base.html" %}
{% block page_content %}

<div class="page-header">
<h1> {{distributor.name}} </h1>
</div>

{% if shorts %}
<div class = "row" >
    {# <table id="short" class="display" > #}
        <table id="short" class="table table-striped table-bordered table-condensed" >
            <thead>
                <tr>
                    <th class="dt-justify" > Titre </th>
                    <th class="dt-center"> Réalisateur </th>
                    <th> Type </th>
                    <th> Dcp </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th> Titre </th>
                    <th> Réalisateur </th>
                    <th> Type </th>
                    <th> </th>
                </tr>
            </tfoot>

            {% for _item in shorts %}
            <tr>
                <td style="word-break:normal" > {{ _item.title }}            </td>

                <td class="dt-center"> {{ _item.director }} </td>
                <td> {{ _item.tags }} </td>

                <td>
                    {% if _item.dcps %}
                    <table id="dcp"  width="100%" class="table-striped  table-condensed">
                        {% for _dcp in _item.dcps %}
                        <tr>
                            <td  > <small> <p class="dcpname"> {{_dcp.name}} </p>  </small> </td>

                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}

                </td>

            </tr>
            {% endfor %}
        </table>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <table class="table table-striped table-bordered table-condensed" >
        <tr>
            <td> Distirbuteur </td>
            <td> {{distributor.name}} </td>
        </tr>
        <tr>
            <td> email </td>
            <td> {{distributor.user.email}} </td>
        </tr>

        {% if distributor.contact %}
        <tr>
            <td> Contact </td>
            <td> {{distributor.contact}} </td>
        </tr>
        {% endif %}

        {% if distributor.phone %}
        <tr>
            <td> Téléphone </td>
            <td> {{distributor.phone}} </td>
        </tr>
        {% endif %}

        {% if distributor.cnc_code %}
        <tr>
            <td> Code CNC </td>
            <td> {{distributor.cnc_code}} </td>
        </tr>
        {% endif %}



    </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    $('#short').DataTable( {
        'pageLength':50,
        "columns": [
        { "width": "30%" },
        { "width": "20%" },
        { "width": "10%" },
            null
              ],
        initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                if  (column.index() != 3) {
                var select = $('<select><option class="form-control" value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                                );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                }
                column.data().unique().sort().each( function ( d, j ) {

                if  (column.index() != 3) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                }
                } );
            } );
        }
    } );
} );

</script>
{% endblock %}
