{% extends "base.html" %}

{% from "distributor/_table_distribution.html" import table_distribution_head %}
{% from "distributor/_table_distribution.html" import table_distribution %}
{% from "distributor/_table_distribution.html" import table_distribution_scripts %}
{% from "_distribution_status.html" import contentkind_label %}
{% from "_common_macros.html" import RenderEmails %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}


{% block page_content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container-fluid">
        <div class="col-md-6">
            <h2>  {{distributor.name}} </h2>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('distributor_movies.home') }}" role="button"> Mon catalogue</a></p>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body" >
                    <table class="table table-condensed" >
                       {% if distributor.contact %}
                        <tr>
                            <td> Contact </td>
                            <td> {{distributor.contact}} </td>
                        </tr>
                        {% endif %}

                        {% if distributor.phone %}
                        <tr>
                            <td> Téléphone </td>
                            <td> {{distributor.phone}} </td>
                        </tr>
                        {% endif %}
                        {% if distributor.cnc_code %}
                        <tr>
                            <td> Code CNC </td>
                            <td> {{distributor.cnc_code}} </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td> emails </td>
                            <td>{{ RenderEmails(distributor.user) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer"> Si vous souhaitez modifier les informations ci-dessus, merci d'envoyer votre
                    demande à contacter@indecp.org
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- Example row of columns -->

    <div class="row">
        <div class="col-md-4">
            <h3> Mes films récents: </h3>
        </div>
    </div>
    <div class="row">
        {% if movies %}
        {% for movie in movies %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body" >
                    <h4><a href="{{ url_for('distributor_movies.details', id= movie.movieid) }}"> {{ movie.title }} </a>  </h4>
                    <p>sortie nationale: {{movie.releasedate| datefr}}</p>

                    <div>
                            NB FTR :
                                {% if movie.nb_valid_ftr > 0 %}
                                <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                                {% endif %}
                                {{ movie.nb_valid_ftr}}
                    </div>
                    <div>
                            NB TLR :
                                {% if movie.nb_valid_tlr > 0 %}
                                <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
                                {% endif %}
                                {{ movie.nb_valid_tlr}}
                    </div>
 
                    <p>
                    <a href="{{ url_for('.distribute_movie', movieid= movie.movieid) }}" class="btn btn-primary" role="button">Distribuer <br/> {{ movie.title}} </a>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
        {%  endif  %}

    </div>

</div>

<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Distribution</h3>
                </div>
                <div class="panel-body" >
                    {{ table_distribution() }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(distributor=distributor) }}

{% endblock %}
