{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_distribution_status.html" import contentkind_label %}
{% from "_distribution_status.html" import distribution_status %}
{% from "_distribution_status.html" import status_color %}

{% block page_content %}


<form id="distributeForm" action="" method="post" name="check" class="form form-horizontal" role="form">

{{ form.csrf_token }}

{% set dcps = movie.get_all_dcps() %}
{% if dcps|length == 0 %}
<div class="container-fluid">
    <div class ="row">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Attention!
                </div>
                <div class="panel-body">
                    <p>  Il n'existe pas de DCP pour ce film.  </p>
                    <p>
                    Pour charger un DCP, merci de contacter <a href="mailto:contacter@indecp.org">  l'équipe Indé-CP </a>.
                    </p>
                    <p>
                    <a  class="btn btn-warning" role="button" href= "{{ url_for('distributor_movies.details',id = movie.movieid) }}" > Revenir à la fiche film de <br/> {{ movie.title }} </a>

                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container-fluid">
    <div class ="row">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                {% trans count=dcps|length %}
                <h3> Choisissez le DCP à distribuer</h3>
                {% pluralize %}
                <h3> Choisissez les DCPs à distribuer</h3>
                {% endtrans %}
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                {% trans count=dcps|length %}
                                <p> DCP disponible:  </p>
                                {% pluralize %}
                                <p> DCPs disponibles:  </p>
                                {% endtrans %}
                            </th>
                            <th> Sélection </th>
                        </tr>
                    </thead>

                    {% for dcp in dcps %}
                    <tr>
                        <td>             {{ contentkind_label(dcp.contentkind)}} {{ dcp.name }}

                        </td>

                        <td>
                            <input type="checkbox" id="{{dcp.dcpid}}" name="dcps" value="{{dcp.dcpid}}" checked=True  />
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class ="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3> Choisir des salles </h3>
                <p>
                <ol>
                    <li> Sélectionnez les salles : colonne "Distribuer le(s) DCP(s)", cochez les cases souhaitées</li>
                    <li> Au bas de la liste cliquez sur ‘Distribuer’ puis confirmez</li>
                    <li> Les salles sélectionnées seront prévenues par e-mail et pourront télécharger le(s)
                        DCP(s) autorisé(s)</li>
                </ol>
                </p>
            </div>

            <div class="panel-body">
                <table id="ExhibitorTable" class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th> Ville </th>
                            <th> Salle </th>
                            <th> N° Auth. CNC </th>
                            <th> </th>
                            <th> authorisations </th>

                        </tr>
                    </thead>

                </table>
            </div>

            <div class="panel-footer">

                <button type="submit" class="btn btn-primary" name="submit" value="submited">Distribuer</button>
                <button id="cancel" type="submit" class="btn btn-default" name="cancel" value="canceled"> Annuler </button>
            </div>
        </div>
    </div>
</div>

</form>


{% endblock %}

{% block scripts %}
{{ super() }}

<script id="list-authorisation-template" type="text/x-custom-template">
    <table class ="table table-condensed" >
        <tr class ="authorisation-status">
                <td>
                     <span class="authorisation-contentkind label label-primary label-as_badge">  </span>
                     <span class="authorisation-dcpname">  </span>
                </td>

                <td>
                     <span class="label label-default authorisation-status">  </span>
                </td>
        </tr>
    </table>
</script>


<script type="text/javascript" charset="utf-8">

var movie = {{movie.movieid}};

</script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/distributor/distribute_movie.js') }}"></script>


{% endblock %}
