{% extends "base.html" %}
{% from "_distribution_status.html" import distribution_status %}
{% from "_distribution_status.html" import contentkind_label %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
<h1> Confirmation de distribution de {{movie.title}}
</h1>
</div>

{% if exhibitors %}
<div class = "row" >
    <div class="col-md-4">
    <div class = "panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">DCP(s) qui seront distibués: </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for dcp in dcps %}
                <li class="list-group-item">
                {{ contentkind_label(dcp.contentkind)}}
                {{ dcp.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>

<div class = "row" >
<p> Le(s) DCP(s) sera(ront) distribué(s) aux salles suivantes </p>
</p>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr> <th>  Exploitant</th>
	 <th> Dept. </th>
            <th> Email </th>
        </tr>
    </thead>
    {% for item in exhibitors %}
    {% if item is not none  %}
    <tr>
	    <td> {{item.city}} - {{ item.name }} </td>
        <td>
            {{ item.dept }}
        </td>
        <td> {{ item.user.email }} </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

</div>

<div class="row" >
    <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    </div>
</div >


{% endif %}

{% endblock %}
