{% extends "base.html" %}

{% from "distributor/_table_distribution.html" import table_distribution_head %}
{% from "distributor/_table_distribution.html" import table_distribution %}
{% from "distributor/_table_distribution.html" import table_distribution_scripts %}
{% from "_distribution_status.html" import contentkind_label %}
{% from "_common_macros.html" import RenderEmails %}

{% block head %}
{{ super() }}
{{ table_distribution_head() }}
{% endblock %}

{% block page_content %}

<div class="jumbotron">
    <div class="container-fluid">
        <div class="col-md-6">
            <h2> {{exhibitor.name}}  </h2>
            <p> à {{exhibitor.city}} </p>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-body">
                    <table class="table table-condensed table-striped" >
                        <tr>
                            <td> Addresse </td>
                            <td> {{exhibitor.address}}</td>
                        </tr>
                        {% if exhibitor.zipcode %}
                        <tr>
                            <td> Code postal </td>
                            <td> {{exhibitor.zipcode}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td> Ville </td>
                            <td> {{exhibitor.city}}({{exhibitor.dept}})</td>

                        <tr>
                            <td> Contact </td>
                            <td> {{exhibitor.contact}} </td>
                        </tr>
                        <tr>
                            <td> Email </td>
                            <td> {{RenderEmails(exhibitor.user)}} </td>
                        </tr>
                        {% if exhibitor.phone %}
                        <tr>
                            <td> Téléphone(s) </td>
                            <td> {{exhibitor.phone }} </td>
                        </tr>
                        {% endif %}
 
                        {% if exhibitor.cncid %}
                        <tr>
                            <td> Authorisation CNC </td>
                            <td> {{exhibitor.cncid }} </td>
                        </tr>
                        {% endif %}
                         {% if exhibitor.nbscreens %}
                        <tr>
                            <td> Nombre d'écrans </td>
                            <td> {{exhibitor.nbscreens }} </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Distribution</h3>
                </div>
                <div class="panel-body" >
                    {{ table_distribution() }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ table_distribution_scripts(distributor = distributor, exhibitor= exhibitor) }}

{% endblock %}
