{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Exploitants connectées </h3>
                </div>
                <div class="panel-body" >
                    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary" >
                        <thead>
                            <tr>
                                <th> Exploitant </th>
                                <th> Département </th>
                                <th> Email </th>
                            </tr>
                        </thead>
                        {% for item in exhibitors %}
                        <tr>
				<td>  <a href = "{{ url_for('.show_exhibitor', exhibitorid = item.exhibitorid) }}" > {{item.city}} - {{ item.name }} </a></td>
                            <td>
                                {{ item.dept }}
                            </td>
                            <td> {{ item.user.email }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var table =$('#DefaultTable').DataTable({
    "order" : [[0, 'asc']]
    });
} );
</script>

{% endblock %}
