{% from "_common_macros.html" import RenderON %}
{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class = "row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header" >
                    <h3> Demande de films par les exploitants </h3>
                </div>
                <div class="panel-body" >
                    <table id="DefaultTable" class="table table-striped table-bordered table-condensed table-summary">
                        <thead>
                            <tr> <th> Demandé le </th>
                                <th> Par </th>
                                <th> Film  </th>
                                <th> Autorisé ? </th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        {% for item in demands %}
                        <tr>
                            <td> {{ item.demand_date}} </td>
                            <td>
                                <a href="{{ url_for('.show_exhibitor',
                                exhibitorid   = item.exhibitor.exhibitorid) }}" />
                                    {{ item.exhibitor.name }}
                                </a>
                            </td>

                            <td> <a href="{{ url_for('distributor_movies.details',id = item.movieid) }}" />
                                    {{item.movie.title}} </a>
                            </td>
                            <td> {{ RenderON(item.is_autorised) }} </td>

                            <td>
                                <a class="btn btn-primary"
                                   role="button"
                                   href="{{ url_for('distributor.distribute_movie_confirmation',
                                   movieid = item.movieid,
                                   exhibitorid = item.exhibitor.exhibitorid ) }}"
                                   title="Autoriser la distribution pour {{item.exhibitor.name}}">
                                    Distribuer
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datetime-moment.js') }}"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    update_locales();
    var table =$('#DefaultTable').DataTable({
        'columnDefs': [
        {
            'targets': 0,
            'visible': true,
            "render": function ( data, type, row ) {
                return render_date(data,type);
            }
        }
         ],

    "order" : [[0, 'desc']]
    });
} );
</script>

{% endblock %}
